hr {
	border-width: 0;
	height: 1px;
	border-top-width: 1px;
	border-color: @color-primary;
	margin: 25px 0 40px 0;
}

.shape{
	display: inline-block;
	padding: .45em 1em;
	background: @color-primary;
	&.full{
		display: block;
		padding: .45em 2em;
		text-align: center;
	}
}


.box{
	padding: @space 0px;
	margin: @space 0px;
	.border;
}

.center{
	text-align: center;
}

.shape {
	text-align: center;
	width: 100%;
	.font(@font-base, normal, 1.2, 5.0);
	background: @color-primary-light1;
	color: @color-white;
	margin-bottom: @space * 2;
}
