body{
  	font-style: normal;
  	font-weight: 200;
  	font-size: 62.5%; /* Sets up the Base 10 stuff */
}
b, strong{
	font-weight: 700;
	font-family: inherit;
}
i, em{
  	font-style: italic;
  	font-weight: 200;
  	font-family: inherit;
}

p, span, a, li, .text-base{
	.font(@font-base, normal, 1.3, 1.5);
	color: @color-base;
}
p{
	margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6{
	color: @color-primary;
}
