/*=============================
=            Forms            =
=============================*/
@input-radius: 0.5em;
@input-height: 28px;

@label-heigth: 28px;

@input-border-color: @color-primary-light1;
@border-width: 1px;
@textarea-border-color: @color-primary;
@select-background: @color-primary-light2;
@legend-background: @color-primary-light2;
@input-background: @color-primary-light2;

@color-placeholder: @color-primary;

@select-background: @color-primary-light2;
@select-color: @color-primary;

@color-invalid: red;
@color-valided: green;

form {
	// display: table;
	margin: 5px 0px;
}
fieldset {
	margin-bottom: 3px;
}
legend{
	display: block;
	width: 100%;
	background: @legend-background;
	color: @color-base;
	.font-base(normal, 1.4, 3.2);
	text-indent: 10px;
	height: @input-height;
	margin-bottom: 5px;
}
label {
	display: block;
	height: @label-heigth;
	color: @color-base;
	.font-base(normal, 1.2, 1.2);
	margin: 5px 0 2px;
	.focus &{ color: @color-base; }
	.invalid &{ color: @color-invalid; }
	.valided &{ color: @color-valided; }
	small {
		float: right;
		font-size: 75%;
		position: relative;
		top: 1px;
	}
	a {
		.color-base;
		float: right;
		text-decoration: underline;
		&:hover{
			.color-primary;
		}
	}
}
input, textarea, select, option{
	// margin: 0px 5px 5px 0px;
	margin: 0px 5px 10px 0px;
	.border-radius(@input-radius);
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="password"],
input[type="number"],
input[type="url"],
input[type="datetime"]{
	height: @input-height;
	color: @color-primary;
	background: @color-white;
	box-shadow: inset 1px 1px 3px 0px darken(@color-white, 20%);
	border: 1px solid @input-border-color;
	text-indent: 10px;
	width: 100%;
	margin: 2px 0 10px;
	&:focus{
		outline: 1px solid @color-primary;
		border-color: @color-primary;
	}
	.invalid &{
		border-color: @color-invalid;
		&:focus{
			outline: 1px solid @color-invalid;
		}
	}
	.valided &{
		border-color: @color-valided;
		&:focus{
			outline: 1px solid @color-valided;
		}
	}
}

textarea {
	width: 100%;
	height: 100px;
	color: @color-primary;
	background: @color-white;
	// box-shadow: inset 1px 1px 3px 0px darken(@textarea-background, 20%);
	border: @border-width solid @textarea-border-color;
	padding: 10px;
	resize: none;
	margin: 2px 0 10px;
	&:focus{
		outline: 1px solid @color-primary;
		border-color: @color-primary;
	}
	.invalid &{
		border-color: @color-invalid;
		&:focus{
			outline: 1px solid @color-invalid;
		}
	}
	.valided &{
		border-color: @color-valided;
		&:focus{
			outline: 1px solid @color-valided;
		}
	}
}

select, option{
	width: 100%;
	height: @input-height;
	color: @select-color;
	background: @select-background;
	box-shadow: inset 1px 1px 3px 0px darken(@select-background, 20%);
	border: none;
	outline: none;
	text-indent: 10px;
	// margin-bottom: 5px;
	&:focus{
		outline: 1px solid @color-primary;
		border-color: @color-primary!important;
	}
}
.select {
	height: @input-height;
	background: @input-background url(../img/select-box.png) no-repeat right;
	position: relative;
	z-index: 5;
}
.select select{
	background: transparent;
	border: 1px solid @input-border-color;
	width: 100%;
	border-radius: 0;
	// box-shadow:none;
	-webkit-appearance: none;
   	-moz-appearance:    none;
   	appearance:         none;
}
option{
	-webkit-appearance: none;
   	-moz-appearance:    none;
   	appearance:         none;
   	&:hover{
   		background: #000;
   	}
}
.checkbox2, .radio2 {
    display: table;
    label, input {
        float: left;
		margin:0px 10px 0px 5px;
    }
    label{
		margin:0px 10px 0px 5px;
    }
}
.checkbox, .radio {
	height: 34px;
	margin: 2px 0 10px;
	label{
		// display: block;
		color: @color-base;
		cursor: pointer;
		position: relative;
		margin-bottom: 5px;
		margin: 10px 0;
		float: left;
		&:before {
		    .border-radius(3px);
		}
		&+input+label{
			margin-left: 10px;
		}
	}
	input[type=checkbox], input[type=radio] {
	    display: none;
	}
	input[type=checkbox] + label:before,
	input[type=radio] + label:before {
	    content: "";
		.color-base;
		// text-shadow: inset 1px 1px 1px @cor13;
		-webkit-box-shadow: inset 1px 1px 3px 0px darken(@input-background, 20%);
		box-shadow: inset 1px 1px 3px 0px darken(@input-background, 20%);
		.background-primary-light1;
		text-align: center;
		display: block;
		float: left;
		width: 15px;
		height: 14px;
		margin-right: 5px;
		.border-radius(3px);
	}
	input[type=radio] + label:before{
		.border-radius(10px);
	}
}
.checkbox input[type=checkbox]:checked + label:before {
	    content: "\2714";
	    .color-primary;
}
.radio input[type=radio]:checked + label:before {
	    content: "\25CF";
	    .color-primary;
}

/*==========  Personalizacao dos atributos dos formularios  ==========*/

input:disabled{
	box-shadow: none;
	background: desaturate(lighten(@input-background, 5%), 50%);
	cursor: no-drop;
}

/*==========  Placeholder  ==========*/
::-webkit-input-placeholder {color: @color-placeholder}
:-moz-placeholder {color: @color-placeholder}/* Firefox 18- */
::-moz-placeholder {color: @color-placeholder}/* Firefox 19+ */
:-ms-input-placeholder {color: @color-placeholder}/* Firefox 19+ */

input.invalido{}
input.invalido::-webkit-input-placeholder {}
input.invalido:-moz-placeholder {}/* Firefox 18- */
input.invalido::-moz-placeholder {}/* Firefox 19+ */
input.invalido:-ms-input-placeholder {}/* Firefox 19+ */

/* Ie8 */
.placeholder { .color-base; }
.invalido.placeholder {}

:required {
	background-color: lightyellow;
}
.invalid:required:invalid {
	background-color: pink;
	&:after{
		content: "Campo obrigatório";
		display: block;
	}
}
.invalid:required {
	background-color:white;
}

/*==========  Provisório  ==========*/
.provisory-div-feedback{
	display: inline-block;
	float: left;
	.row(12);
	margin-top: 40px;
	margin-bottom: 10px;
	padding: 10px;
	background: yellow;
	font-size: 12px;
	p {
		float: left;
		width: 80%;
	}
	a {
		margin: 0px 30px 10px;
		float: left;
	}
}

::-webkit-validation-bubble-message { display: none; }
