/*=============================
=            Forms            =
=============================*/
@input-radius: 0.5em;
@input-height: 30px;

@label-heigth: 23px;

@input-border-color: @color-base;
@border-width: 1px;
@textarea-border-color: @color-base;
@select-background: @color-primary-light2;
@legend-background: none;
@input-background: @color-white;

@color-placeholder: @color-base;

@select-background: @color-primary-light2;
@select-color: @color-base;

@color-invalid: red;
@color-valided: green;

form {
	// display: table;
	margin: 5px 0px;
}
fieldset {
	margin-bottom: 3px;
}
legend{
	display: block;
	width: 100%;
	background: @legend-background;
	color: @color-base;
	.font(@font-base, normal, 1.4, 3.2);
	height: @input-height;
	margin-bottom: 5px;
}
label {
	display: block;
	height: @label-heigth;
	color: @color-base;
	.font(@font-base, normal, 1.5, 1.5);
	margin: 5px 0 2px;
	.focus &{ color: @color-base; }
	.invalid &{
		color: @color-invalid;
		&:after{
			content: '(campo obrigatório)';
			font-size: 85%;
			margin-left: 5px;
			#uppercase(false);
		}
	}
	.valided &{
		color: @color-valided;
	}
	small {
		float: right;
		font-size: 75%;
		position: relative;
		top: 1px;
	}
	a {
		color: @color-base;
		float: right;
		text-decoration: underline;
		&:hover{
			color: @color-primary;
		}
	}
}
input, textarea, select, option{
	// margin: 0px 5px 5px 0px;
	margin: 0px 5px 10px 0px;
	// .border-radius(@input-radius);
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="password"],
input[type="number"],
input[type="url"],
input[type="datetime"]{
	.font(@font-base, normal, 1.4, 1.4);
	height: @input-height;
	color: @color-primary;
	background: @input-background;
	// box-shadow: inset 1px 1px 3px 0px darken(@color-white, 20%);
	border: 1px solid @input-border-color;
	text-indent: 10px;
	width: 100%;
	margin: 2px 0 10px;
	#with-icon(true);
	&:focus{
		// outline: 1px solid @color-primary;
		border-color: @color-primary;
		& + i{
			color: @color-primary;
			border-color: @color-primary;
		}
	}
	.invalid &{
		border-color: @color-invalid;
		&:focus{
			outline: 1px solid @color-invalid;
		}
	}
	.valided &{
		border-color: @color-valided;
		&:focus{
			outline: 1px solid @color-valided;
		}
	}
}

textarea {
	.font(@font-base, normal, 1.4, 1.4);
	width: 100%;
	height: 100px;
	color: @color-primary;
	background: @color-white;
	// box-shadow: inset 1px 1px 3px 0px darken(@textarea-background, 20%);
	border: @border-width solid @textarea-border-color;
	padding: 10px;
	resize: none;
	margin: 2px 0 10px;
	&:focus{
		// outline: 1px solid @color-primary;
		border-color: @color-primary;
	}
	.invalid &{
		border-color: @color-invalid;
		&:focus{
			outline: 1px solid @color-invalid;
		}
	}
	.valided &{
		border-color: @color-valided;
		&:focus{
			outline: 1px solid @color-valided;
		}
	}
}

select{
	.font(@font-base, normal, 1.4, 1.4);
	width: 100%;
	height: @input-height;
	color: @select-color;
	background: @select-background;
	box-shadow: inset 1px 1px 3px 0px darken(@select-background, 20%);
	border: none;
	outline: none;
	text-indent: 6px;
	// margin-bottom: 5px;
	// &:focus{
	// 	outline: 1px solid @color-primary;
	// 	border-color: @color-primary!important;
	// }
}
.select {
	@select-height: @input-height + 2;
	height: @select-height;
	background: @input-background url(../img/select-box.png) no-repeat right;
	position: relative;
	z-index: 5;
	.border-radius(.8em);
	overflow: hidden;
	border: 1px solid @input-border-color;
	margin: 2px 0 10px;
	select{
		height: @select-height;
		background: transparent;
		width: 100%;
		border-radius: 0;
		box-shadow:none;
		-webkit-appearance: none;
		-moz-appearance:    none;
		appearance:         none;
	}
}
option{
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
	&:hover{
		background: #000;
	}
}

.checkbox2, .radio2 {
    display: table;
    label, input {
        float: left;
		margin:0px 10px 0px 5px;
    }
    label{
		margin:0px 10px 0px 5px;
    }
}
.checkbox, .radio {
	height: 34px;
	margin: 2px 0 10px;
	label{
		// display: block;
		color: @color-base;
		cursor: pointer;
		position: relative;
		margin-bottom: 5px;
		margin: 10px 0;
		float: left;
		&:before {
			.border-radius(3px);
		}
		&+input+label{
			margin-left: 10px;
		}
	}
	input[type=checkbox], input[type=radio] {
		display: none;
	}
	input[type=checkbox] + label:before,
	input[type=radio] + label:before {
		content: "";
		color: @color-base;
		// text-shadow: inset 1px 1px 1px @cor13;
		// -webkit-box-shadow: inset 1px 1px 3px 0px darken(@input-background, 20%);
		// box-shadow: inset 1px 1px 3px 0px darken(@input-background, 20%);
		background: @color-white;
		text-align: center;
		display: block;
		float: left;
		width: 15px;
		height: 14px;
		margin-right: 5px;
		.border-radius(0px);
		border: 1px solid @color-base;
		line-height: 12px!important;
	}
	input[type=radio] + label:before{
		.border-radius(10px);
	}
}
.checkbox input[type=checkbox]:checked + label:before {
	.awesome;
	content: "\2714";
	color: @color-primary;

}
.radio input[type=radio]:checked + label:before {
	.awesome;
	content: "\25CF";
	color: @color-primary;

}

input[type="range"] {
	width: 100%;
}

/*==========  Personalizacao dos atributos dos formularios  ==========*/

input:disabled{
	box-shadow: none;
	background: desaturate(lighten(@input-background, 5%), 50%);
	cursor: no-drop;
}

/*==========  Placeholder  ==========*/
::-webkit-input-placeholder {color: @color-placeholder}
:-moz-placeholder {color: @color-placeholder}/* Firefox 18- */
::-moz-placeholder {color: @color-placeholder}/* Firefox 19+ */
:-ms-input-placeholder {color: @color-placeholder}/* Firefox 19+ */

input.invalido{}
input.invalido::-webkit-input-placeholder {}
input.invalido:-moz-placeholder {}/* Firefox 18- */
input.invalido::-moz-placeholder {}/* Firefox 19+ */
input.invalido:-ms-input-placeholder {}/* Firefox 19+ */

/* Ie8 */
.placeholder { color: @color-base; }
.invalido.placeholder {}

:required {
	background-color: lightyellow;
}
.invalid:required:invalid {
	background-color: pink;
	&:after{
		content: "Campo obrigatório";
		display: block;
	}
}
.invalid:required {
	background-color:white;
}

/*==========  Provisório  ==========*/
.provisory-div-feedback{
	display: inline-block;
	float: left;
	.row(12);
	margin-top: 40px;
	margin-bottom: 10px;
	padding: 10px;
	background: yellow;
	font-size: 12px;
	p {
		float: left;
		width: 80%;
	}
	a {
		margin: 0px 30px 10px;
		float: left;
	}
}

::-webkit-validation-bubble-message { display: none; }


#with-icon(@a) when ((@a) = true){
	& + i {
		.awesome;
		display: block;
		height: 28px;
		width: 36px;
		position: absolute;
		right: 0;
		top: 0;
		text-align: center;
		font-size: 16px;
		border-left: 1px solid;
		line-height: 28px;
		color: @color-base;
	}
}

input[type="email"]	{& + i:before{content: "\f003"}}
input[type="tel"]	{& + i:before{content: "\f095"}}

#with-icon(@a) when ((@a) = false){
	& + i{
		display: none;
	}
}