.font-icon{
	&:before{
		display: inline-block;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}
[role="alert"], .feedback {
	display:block;
	width:100%;
	padding:15px 2%;
	margin:0 0 1em 0;
	.font-base(normal, 1.4, 1.1);
	border: 1px solid;
	&:extend(.font-icon all);
	&:before{
		position: relative;
		top: 1px;
		margin-right: 10px;
	}
	&.success {
		background-color:#E6EFC2;
		border-color: #C6D880;
		color: #264409;
		&:before{content: "\f046";}
		.close{
			color: #C6D880;
			&:hover{
				color: #264409;
			}
		}
	}
	&.error {
		background-color:#FBE3E4;
		border-color: #FBC2C4;
		color: #8A1F11;
		&:before{content: "\f05e";}
		.close{
			color: #FBC2C4;
			&:hover{
				color: #8A1F11;
			}
		}
	}
	&.alert {
		background-color:#FFF6BF;
		border-color: #FFD324;
		color: #514721;
		&:before{content: "\f071";}
		.close{
			color: #FFD324;
			&:hover{
				color: #514721;
			}
		}
	}
	&.information {
		background-color:#d8f7ff;
		border-color: #c0cadd;
		color: #416997;
		&:before{content: "\f058";}
		.close{
			color: #c0cadd;
			&:hover{
				color: #416997;
			}
		}
	}
	.close{
		float: right;
		cursor: pointer;
	}
}
