pattern-tooltip{
	&:hover{
		position: relative;
		cursor: pointer;
		.opacity(1);
		&:before{
			border: solid;
			content: "";
			position: absolute;
			z-index: 98;
			border-width: 6px;
		}
		&:after{
			width: 100%;
			padding: 5px 15px;
			border-radius:5px;
			background: rgba(0,0,0,.8);
			.rgba(@color-secondary, 0.8);
			content: attr(data-tooltip);
			position: absolute;
			z-index: 98;
			color: #fff;
		}
	}
}

.tooltip{
	@color-arrow:lighten(@color-secondary, 5%);
	&.top {
		&:extend(pattern-tooltip all);
		&:after{
			left: 0%;
			top: -222%;
		}
		&:before{
			left: 45%;
			top: -55%;
			border-color: @color-arrow transparent transparent!important;
		}
	}
	&.bottom {
		&:extend(pattern-tooltip all);
		&:after{
			left: 0%;
			bottom: -222%;
		}
		&:before{
			left: 45%;
			bottom: -55%;
			border-color: transparent transparent @color-arrow!important;
		}
	}
	&.left {
		&:extend(pattern-tooltip all);
		&:after{
			left: -105%;
			bottom: -30%;
		}
		&:before{
			left: -5%;
			bottom: 5%;
			border-color: transparent transparent transparent @color-arrow!important;
		}
	}
	&.right {
		&:extend(pattern-tooltip all);
		&:after{
			right: -105%;
			bottom: -30%;
		}
		&:before{
			right: -5%;
			bottom: 5%;
			border-color: transparent @color-arrow transparent transparent!important;
		}
	}
}







// Header

#modules{
	h1:after{
		content:"Web Development Modules";
	}
	h2:after{
		content:"Tooltips";
	}
	.language:after{
		content:"Html5, Less";
	}
	.dependencies:after{
		content:"Reset.css";
	}
	.name:after{
		content:"tooltips.less";
	}
}
