.pattern-color{
	li{
		width: 100px;
		height: 100px;
		display: inline-block;
		position: relative;
		margin-bottom: 50px;
		+ li{
			margin-left: 15px;
		}
		div {
			position: absolute;
			width: 100%;
			color: @color-base;
			text-align: center;
			bottom: -40px;
			left: 0;
			padding: 5px 0;
			text-transform: uppercase;
			.font-base;
		}
	}
	.brand{
		&-green{
			background: @color-brand-green;
		}
		&-red{
			background: @color-brand-red;
		}
		&-yellow{
			background: @color-brand-yellow;
		}
		&-blue{
			background: @color-brand-blue;
		}
	}
	.color{
		&-green{
			background:green;
		}
		&-red{
			background:red;
		}
		&-yellow{
			background:yellow;
		}
		&-blue{
			background:blue;
		}
		&-white{
			background: @color-white;
			border: 1px solid @color-grayscale3;
		}
		&-grayscale1{
			background: @color-grayscale1;
		}
		&-grayscale2{
			background: @color-grayscale2;
		}
		&-grayscale3{
			background: @color-grayscale3;
		}
		&-grayscale4{
			background: @color-grayscale4;
		}
		&-dark1{
			background: @color-dark1;
		}
		&-dark2	{
			background: @color-dark2;
		}
	}

}
