#home {
    display: grid;
    grid-gap: 50px;
    > section {
        padding: @gap-large 0;
    }    
}

#contribuicoes{
    .wrap > * {
        color: @color-secondary;
    }
    .planos{
        display: grid;
        grid-gap: 30px;
        margin: 10px 0;
        .phone({
            grid-template-columns: repeat(2, 1fr);
        });      
        .tablet({
            grid-template-columns: repeat(4, 1fr);
        });        
        .desktop({
            grid-template-columns: repeat(4, 1fr);
        });            
    }
}

.plano{
    border: 1px solid #dedddd;
    padding: 10px;
    .radius();
    text-align: center;
    span{
        display: block;
    }
}

#sobre{
    .wrap {
        display: grid;
        grid-gap: 30px;
        .phone({
            grid-template-columns: repeat(2, 1fr);
        });      
        .tablet({
            grid-template-columns: repeat(3, 1fr);
        });        
        .desktop({
            grid-template-columns: repeat(4, 1fr);
        });    
    }
    h2{
        &:extend(.title-section);
        color: @color-secondary;
        margin-bottom: 5px;
    }
    p{
        line-height: 1.5;
    }
}


#blog{

    h1, h2{
        color: @color-primary;
    }
    h2{
        margin-bottom: @space;
    }

    .data {
        display: grid;
        grid-gap: 30px;
        .tablet({
            grid-template-columns: repeat(3, 1fr);
        });        
        .desktop({
            grid-template-columns: repeat(3, 1fr);
        });            
    }
    .data-item{
        &:nth-child(1){
            .data-content {
                color: #00bea2;
            }
            .button{
                background: #00bea2;
                border-color: #00bea2;
                &:hover{
                    background: #fff;
                    color: #00bea2
                }
            }
        }
        &:nth-child(2){
            .data-content {
                color: #efba2c;
            }
            .button{
                background: #efba2c;
                border-color: #efba2c;
                &:hover{
                    background: #fff;
                    color: #efba2c
                }
            }            
        }
        &:nth-child(3){
            .data-content {
                color: @color-secondary;
            }
            .button{
                background: @color-secondary;
                border-color: @color-secondary;
                &:hover{
                    background: #fff;
                    color: @color-secondary
                }
            }            
        }          
    }
}


#contato {
    .wrap{
        display: grid;       
        grid-gap: 30px;        
        .desktop({
            grid-template-columns: repeat(2, 1fr);
        });         
    }
}

#quem{
    .wrap{
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(3,1fr);        
    }
    h1{
        grid-columns: ~'1 / -1';
    }
}