#home {
    display: grid;
    grid-gap: 30px;
    > section {
        padding: @gap-large 0;
    }    
}

#contribuicoes{
    .wrap > * {
        color: @color-secondary;
    }
}


#sobre{
    .wrap {
        display: grid;
        grid-gap: 30px;
        .phone({
            grid-template-columns: repeat(2, 1fr);
        });      
        .tablet({
            grid-template-columns: repeat(3, 1fr);
        });        
        .desktop({
            grid-template-columns: repeat(4, 1fr);
        });    
    }
    h2{
        &:extend(.title-section);
        color: @color-secondary;
        margin-bottom: 5px;
    }
}


#blog{
    .data {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }
}

#contato {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}