#styleguide {
    .wrap;
    display: grid;
    grid-gap: @gap-large;
    grid-template-columns: 200px 1fr;
    .content {
        display: grid;
        grid-gap: 30px;
    }
}

.nav-local{
    ul {
        .card;
        position: fixed;
        width: 200px;
    }
}