@mixin input-style{

	width: var(--input-width);
	height: var(--input-height);
	padding: var(--input-padding);
	background-color: var(--input-background);
	border: var(--input-border);
	font-size: var(--input-fz);
	font-family: var(--input-font-family);

	position: relative;
	transition: 0.2s;
	outline: none;
	text-overflow: ellipsis;
	appearance: none;

	&:focus{
		background-color: var(--input-focus-background);
		border: var(--input-focus-border);
	}

	&.error {
		color: var(--color-neutral-darkest);
		border: 1px solid var(--color-error-medium) ;
		background-color: var(--color-error-medium);
	}
	
	&.valid {
		color: var(--color-neutral-darkest);
		border: 1px solid var(--color-success-medium) ;
		background-color: #e9f5ea;
	}

}

.input-control {
	padding-bottom: 2.3rem;
	position: relative;

	label {
		display: block;
		font-weight: normal;
		margin-bottom: 3px;
		font-size: var(--label-fz);
		color: var(--label-color);
	}

	input[type=search],
	input[type=text],
	input[type=email],
	input[type=tel],
	input[type=file], 
	input[type=password]{
		@include input-style;

		border-radius: var(--input-radius);
		white-space: nowrap;
		overflow: hidden;
	}

	
	textarea {
		@include input-style;
		
		border-radius: var(--textarea-radius);
		resize: none;
		
		white-space: initial;
		overflow: inherit;
	}

	select {
		@include input-style;

		border-radius: var(--input-radius);

		z-index: 1;

		white-space: nowrap;
		overflow: hidden;

		// Arrow Select
		background-position-x: 99%;		
	}
}

.input-control-material { 
	border: var(--input-border);
	border-radius: var(--input-radius);
	height: var(--input-height);
	position: relative;

	&.textarea{
		--input-height: var(--textarea-height);
		--input-radius: var(--textarea-radius);
	}

	&:focus-within{
		border: var(--input-focus-border);
	}

	label {
		color: var(--label-color);
		background: var(--label-bg);
		font-size: var(--label-fz);

		font-weight:normal;
		pointer-events:none;
		transition: 0.2s ease; 
		padding: 5px 7px;
		
		position:absolute;
		left: 10px;
		right: initial;
		top: 10px;
		// transform: translateY(-50%);
	}


	input[type=search],
	input[type=text],
	input[type=email],
	input[type=tel],
	input[type=file], 
	input[type=password]{
		@include input-style;
		border: none!important;		
	}

	textarea {
		@include input-style;
		border: none!important;

		resize: none;
		
		white-space: initial;
		overflow: inherit;
	}

	select {
		@include input-style;
		border: none!important;

		z-index: 1;

		white-space: nowrap;
		overflow: hidden;

		// Arrow Select
		background-position-x: 99%;		
	}

	input, textarea, select {
		@include input-style;
		
		&:focus, &:valid, &:not(:empty){
			outline:none;
			opacity: 1;

			~ label{
				font-size: var(--label-focus-fz);
				color: var(--label-focus-color);
				transform: translate(-20px, -40px);
			}
		}
	}
}

input[type="file"]{
	--input-height: 30px;
    margin-top: 10px;
	opacity: 0;
}

.input-option{
	position: relative;
	input {
		display: none;
		&:checked~label{
			color: var(--color-secondary-darkest);
		}
		&[type='radio']{
			+ label:before{
				border-radius: var(--border-radius-circular);				
				box-shadow: 0 0 0 2px #fff, 0 0 0 4px var(--color-secondary-darkest);
			}
			&:checked~label:before{
				background: var(--color-secondary-darkest)
			}			
		} 
		&[type='checkbox']{
			+ label:before{
				border-radius: var(--border-radius-circular);
			}
			&:checked~label:before{
				background: var(--color-secondary-darkest)
			}			
		} 
	}
	label{
		display: inline-flex;
    	align-items: center;
		font-size: var(--input-option-font-size, 1.6rem);
		cursor: pointer;
		&:before {
			content: "";
			height: 15px;
			width: 15px;
			background: #fff;
			border-radius: 0.2em;
			margin-right: 20px;
		}
	}

}


.form {
	fieldset {
		border: none;
		margin: 0;
		padding: 0;

		display: grid;
		gap: 10px;
		grid-template-columns: repeat(12, 1fr);
		grid-auto-flow: row;
	}

	.box-input,
  .material-input,
  .box-check, legend{
		grid-column: auto / span 12;
		margin: 1.8rem 0 1.2rem;
	}
	legend {
		display: block;
		width: 100%;
		padding: 0 0 0.7rem 0;
		font-size: var(--legend-fz);
		line-height: inherit;
		color: var(--legend-color);
		border-radius: var(--legend-border-radius);
		font-family: var(--legend-font-family);
		margin: 3rem 0 1rem 0;
		border: var(--legend-border);
		text-transform: var(--legend-text-transform);
	}
}


.select-category {
    font-size: var(--font-size-lg);
    color: var(--color-secondary-medium);
    border: none;
    border-bottom: 2px solid var(--color-secondary-medium);
    padding: 10px 0;
    margin-bottom: 3rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color:  var(--placeholder-color);
}