extends ../_layouts/_default

block config 
    - var pageTitle = 'Contato'
    - var pageSubTitle = 'Fale conosco'
    - var pageId = 'contact'
    - var pageBanner = '_data/banners/contato.png'

block content
    section#form 
    section#contact-info
    secion#mapa

  