.share-news{
    --btn-min-width: fit-content;
    --text-font-weight: bold;
    --text-margin-bottom: 0;
    --button-control-margin: 0;
    --btn-padding: 8px 10px;
    
    display: flex;
    align-items: center;
    gap: var(--space-xxs);
    margin-bottom: var(--space-xs);

    .button{
        display: flex;
        align-items: center;
    }

	.facebook{
		--btn-bg-color: #4b5b9f;
		--btn-bg-color-hover: #253474;
	}
	.twitter{
		--btn-bg-color: #61a5f4;
		--btn-bg-color-hover: #407ec5;
	}
	.pintrest{
		--btn-bg-color: #c92728;
		--btn-bg-color-hover: #8d1111;
	}
	.linkedin{
		--btn-bg-color: #0a66c2;
		--btn-bg-color-hover: #07417a;
	}
}