@label-style: "default";

.label{
	#label(@label-style);
}

#label(@label-style){
	&when ((@label-style) = default)		{ #label-default(); }
}

#label-default(){
	position: relative;
	text-indent: 5px;
	display: block;
	color: #d79e45;
	&:before {
		content: "";
		display: block;
		border-style: solid;
		border-width: 2px 0px 2px 2px;
		height: 35px;
		position: absolute;
		width: 10px;
		top: 11px;
		left: -10px;
		border-color: #d79e45;
	}
}
