////////* Grid  http://semantic.gs/ *////////

// Altere estes valores de acordo com grid do projeto

@column-width: 60; // largura das colunas
@gutter-width: 20; // largura das margens
@columns: 16; // número de colunas

@gridsystem-width: (@column-width*@columns) + (@gutter-width*@columns) * 1px;

// Delete a linha abaixo se desejar trabalhar com valores em pixel.

@total-width: 100%;


/* Base */
.clearfix() {
	*zoom:1;

	&:before,
	&:after {
		content:"";
		display:table;
	}

	&:after {
		clear:both;
	}
}

body {
	width: 100%;
	.clearfix;
}

img{
	max-width: 100%;
	height: auto;
}

// Grid

.col{
	display: inline;
	float: left;
	//background: rgba(238, 238, 238, 0.21); //Only for create base
}

.row(@columns:@columns) {
	display: block;
	width: @total-width*((@gutter-width + @gridsystem-width)/@gridsystem-width);
	margin: 0 @total-width*(((@gutter-width*.5)/@gridsystem-width)*-1);
	.clearfix;
}

.column(@x,@columns:@columns) {
	display: inline;
	float: left;
	// &:extend(.col);
	width: @total-width*((((@gutter-width+@column-width)*@x)-@gutter-width) / @gridsystem-width);
	margin: 0 @total-width*((@gutter-width*.5)/@gridsystem-width);
}

.push(@offset:1) {
	margin-left: @total-width*(((@gutter-width+@column-width)*@offset) / @gridsystem-width) + @total-width*((@gutter-width*.5)/@gridsystem-width);
}

.pull(@offset:1) {
	margin-right: @total-width*(((@gutter-width+@column-width)*@offset) / @gridsystem-width) + @total-width*((@gutter-width*.5)/@gridsystem-width);
}


/* Determine a largura do seu container. */
.wrap {
	width: 100%;
	max-width: 1200px; // max-width: 960px == responsivo
	// display: table;
	margin: 0 auto;
}
