/* Mixin Font Face ----------------------------------------- */

	#font-face(@family-name, @family-variation, @weight, @style:normal) {

		@base-url: "fonts/";

		font-family: @family-name;
		src: url("@{base-url}@{family-name}-@{family-variation}-webfont.eot");
		src:
			url("@{base-url}@{family-name}-@{family-variation}-webfont.eot?#iefix") format('embedded-opentype'),
			url("@{base-url}@{family-name}-@{family-variation}-webfont.woff") format('woff'),
			url("@{base-url}@{family-name}-@{family-variation}-webfont.ttf") format('truetype'),
			url("@{base-url}@{family-name}.svg#@{family-name}") format('svg');
		font-weight: @weight;
		font-style: @style;
	}

/* Parametric mixins -------------------------------------- */

	.font(@family-name, @string, @size, @line){
		@remSize: @size;
		@remline: @line;
		@pxSize: (@size * 10);
		@pxline: (@line * 10);
		/*Pixel value Fallback*/
		font: @string ~"@{pxSize}px/@{pxline}px @{family-name}", Fallback, sans-serif;
		/*Rem value*/
		font: @string ~"@{remSize}rem/@{remline}rem @{family-name}", Fallback, sans-serif;
	}

	.font-size(@sizeValue) {
		@remValue: @sizeValue;
		@pxValue: (@sizeValue * 10);
		font-size: ~"@{pxValue}px";
		font-size: ~"@{remValue}rem";
	}
	.line-height(@sizeValue) {
		@remValue: @sizeValue;
		@pxValue: (@sizeValue * 10);
		line-height: ~"@{pxValue}px";
		line-height: ~"@{remValue}rem";
	}

/* Project Fonts -------------------------------------- */

	@font-base: "din"; // Customize here
	@font-face {#font-face("@{font-base}", regular, 200);}

	@font-special: "dincond"; // Customize here
	@font-special-fallback: "Fallback"; // Customize here
	@font-face {#font-face("@{font-special}", regular, 200);}

	@font-secondary: 'comics';
	@font-face {#font-face("@{font-secondary}", regular, 200);}


/* How to use

	.example-class1{
		.font(@font-base, normal, 1.3, 1.5);
	}

	.example-class2{
		.font(@font-special, normal, 1.3, 1.5);
	}

	.example-class3{
	  .font(@font-secondary, normal, 1.3, 1.5);
	}

*/