// Breakpoints

@highdensity: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
              ~"only screen and (min--moz-device-pixel-ratio: 1.5)",
              ~"only screen and (-o-min-device-pixel-ratio: 3/2)",
              ~"only screen and (min-device-pixel-ratio: 1.5)";
@mobile:      ~"only screen and (max-width: 610px)";
@tablet:      ~"only screen and (min-width: 611px) and (max-width: 949px)";
@desktop:     ~"only screen and (min-width: 950px) ";

// @desktop:     ~"only screen and (min-width: 950px) and (max-width: 1128px)";
// @desktop-xl:  ~"only screen and (min-width: 1129px)";


// Large screen / wide desktop
@screen-lg-min: 1200px;

@space: 15px;

@pattern-base: url(../img/bg-pattern1.png);
@pattern-primary: url(../img/bg-pattern2.png);
@pattern-secondary: url(../img/bg-pattern1.png);

@sprite: url(../img/sprite.png) no-repeat;

@loading: url(../img/ajax-loader.gif) no-repeat center 45%;
