// Breakpoints

@highdensity:       ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
                    ~"only screen and (min--moz-device-pixel-ratio: 1.5)",
                    ~"only screen and (-o-min-device-pixel-ratio: 3/2)",
                    ~"only screen and (min-device-pixel-ratio: 1.5)";
@mobile:            ~"only screen and (max-width: 610px)";
@mobile-tablet:     ~"only screen and (max-width: 949px)";
@tablet:            ~"only screen and (min-width: 611px) and (max-width: 949px)";
@tablet-desktop:    ~"only screen and (min-width: 611px) ";
@desktop:           ~"only screen and (min-width: 950px) ";

// @desktop:     ~"only screen and (min-width: 950px) and (max-width: 1128px)";
// @desktop-xl:  ~"only screen and (min-width: 1129px)";
// Large screen / wide desktop
@screen-lg-min: 1200px;


// Regulators

@space: 15px;


// Backgrounds and Images

@pattern-base: url(../img/pattern-base.png);
@pattern-primary: url(../img/pattern-primary.png);
@pattern-secondary: url(../img/pattern-secondary.png);

@pattern-footer: url(../img/pattern-footer.jpg);
@pattern-button-load: url(../img/pattern-button-load.jpg);

@img-select: url(../img/select-box.png);

@sprite: url(../img/sprite.png) no-repeat;

@loading: url(../img/ajax-loader.gif) no-repeat center 45%;

@arrow: url(../img/arrow.png) no-repeat;

// Z-index - analizar

@modal     : 9000;
@overlay   : 8000;
@dropdown  : 7000;
@header    : 6000;
@footer    : 5000;


.example {
  z-index: @modal;
}
