.footer-principal{
	#container(100px);
	padding-top: @space * 2;
	background: @color-base-light2;
	// a, p, span {
	// 	color: inherit;
	// }
	// .subtitle{
	// 	&:extend(.newsletter label);
	// 	display: block;
	// 	margin-bottom: 8px;
	// }
	// address{
	// 	span > span{
	// 		margin: 0 10px;
	// 	}
	// }
}

.logo-dev{
	float: right;
}

.dados{
	&:extend(#table);
	background: @color-primary;
	padding: @space 0 10px!important;
	margin-top: @space * 2;
}

.copyright {
	#template(@columns);
	color: @color-base-dark1;
}


// Sitemap

.sitemap-nivel1{
	.column(2);
}

.sitemap-nivel1-blog{
	.sitemap-nivel1;
	.column(4);
}

.sitemap-nivel2{
	margin-bottom: 5px;
}

.sitemap-title{
	.font(@font-base, bold, 1.6, 1.8);
	margin-bottom: @space;
	color: @color-base-dark1;
	display: block;
}
.sitemap-links{}
