// Showcase
// Version: 0.5
// Date: 10/11/2014
// Last Update: 18/11/2014
// 		10/11/2014


.showcase(@a){
	.grid{
		.row(@a);
		#template(@a);
	}
	.list{
		.row(@a);
		#template(@a);
	}
}


#showcase(@showcase, @row, @a, @b:@columns, @c:@columns) when ((@showcase) = row){
	margin-bottom: @space!important;
	@media @mobile{
		.row(@columns);
		.item{
			.column(@c,@columns);
		}
	}
	@media @tablet{
		.row(@columns);
		.item{
			.column(@b,@columns);
		}
	}
	@media @desktop{
		.row(@row);
		.item{
			.column(@a,@columns - @a);
		}
	}
}

#showcase(@showcase, @a, @b:@columns, @c:@columns) when ((@showcase) = columns){
	margin-bottom: @space!important;
	.item{
		#template(@a, @b:@columns / 2, @c:@columns);
	}
}


.item-title{
	.font-base(bold, 1.6, 1.6);
	#uppercase(true);
	color: @color-primary;
	text-align: center;
}


// Examples

.vitrine-carros{
	#showcase(row, 9, 3, 6);
}

.vitrine-carros2{
	#showcase(columns, 3);
}
