@font-face {
	font-family: Signika;
	font-style: normal;
	font-weight: 300;
	src: local(Signika-Light),url(//fonts.gstatic.com/s/signika/v6/koFYE26bhT88HgRA8f4vbVQlYEbsez9cZjKsNMjLOwM.eot?#) format("eot"),url(//fonts.gstatic.com/s/signika/v6/koFYE26bhT88HgRA8f4vbRsxEYwM7FgeyaSgU71cLG0.woff) format("woff2"),url(//fonts.gstatic.com/s/signika/v6/koFYE26bhT88HgRA8f4vbRsxEYwM7FgeyaSgU71cLG0.woff) format("woff");
}

@font-face {
	font-family: Signika;
	font-style: normal;
	font-weight: 400;
	src: local(Signika),local(Signika-Regular),url(//fonts.gstatic.com/s/signika/v6/VXdqIs7WDCt-XY_CZ2hksw.eot?#) format("eot"),url(//fonts.gstatic.com/s/signika/v6/_M5k9_BZTkfaM2dnN0vNGw.woff) format("woff2"),url(//fonts.gstatic.com/s/signika/v6/_M5k9_BZTkfaM2dnN0vNGw.woff) format("woff");
}

@font-face {
	font-family: Signika;
	font-style: normal;
	font-weight: 600;
	src: local(Signika-Semibold),url(//fonts.gstatic.com/s/signika/v6/FZa_MODmDkR9DTu5jHSnSVQlYEbsez9cZjKsNMjLOwM.eot?#) format("eot"),url(//fonts.gstatic.com/s/signika/v6/FZa_MODmDkR9DTu5jHSnSRsxEYwM7FgeyaSgU71cLG0.woff) format("woff2"),url(//fonts.gstatic.com/s/signika/v6/FZa_MODmDkR9DTu5jHSnSRsxEYwM7FgeyaSgU71cLG0.woff) format("woff");
}

@font-face {
	font-family: Signika;
	font-style: normal;
	font-weight: 700;
	src: local(Signika-Bold),url(//fonts.gstatic.com/s/signika/v6/7M5kxD4eGxuhgFaIk95pBVQlYEbsez9cZjKsNMjLOwM.eot?#) format("eot"),url(//fonts.gstatic.com/s/signika/v6/7M5kxD4eGxuhgFaIk95pBRsxEYwM7FgeyaSgU71cLG0.woff) format("woff2"),url(//fonts.gstatic.com/s/signika/v6/7M5kxD4eGxuhgFaIk95pBRsxEYwM7FgeyaSgU71cLG0.woff) format("woff");
}

@font-face {
	font-family: Roboto;
	font-style: italic;
	font-weight: 100;
	src: local("Roboto Thin Italic"),local(Roboto-ThinItalic),url(//fonts.gstatic.com/s/roboto/v15/12mE4jfMSBTmg-81EiS-YVQlYEbsez9cZjKsNMjLOwM.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/12mE4jfMSBTmg-81EiS-YRsxEYwM7FgeyaSgU71cLG0.woff) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/12mE4jfMSBTmg-81EiS-YRsxEYwM7FgeyaSgU71cLG0.woff) format("woff");
}

@font-face {
	font-family: Roboto;
	font-style: italic;
	font-weight: 300;
	src: local("Roboto Light Italic"),local(Roboto-LightItalic),url(//fonts.gstatic.com/s/roboto/v15/7m8l7TlFO-S3VkhHuR0at2fQcKutQXcIrRfyR5jdjY8.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/7m8l7TlFO-S3VkhHuR0at4bN6UDyHWBl620a-IRfuBk.woff) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/7m8l7TlFO-S3VkhHuR0at4bN6UDyHWBl620a-IRfuBk.woff) format("woff");
}

@font-face {
	font-family: Roboto;
	font-style: italic;
	font-weight: 400;
	src: local("Roboto Italic"),local(Roboto-Italic),url(//fonts.gstatic.com/s/roboto/v15/OiNnAEwKzzJkQCr4qZmeq_esZW2xOQ-xsNqO47m55DA.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/1pO9eUAp8pSF8VnRTP3xnvesZW2xOQ-xsNqO47m55DA.woff) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/1pO9eUAp8pSF8VnRTP3xnvesZW2xOQ-xsNqO47m55DA.woff) format("woff");
}

@font-face {
	font-family: Roboto;
	font-style: italic;
	font-weight: 500;
	src: local("Roboto Medium Italic"),local(Roboto-MediumItalic),url(//fonts.gstatic.com/s/roboto/v15/OLffGBTaF0XFOW1gnuHF0WfQcKutQXcIrRfyR5jdjY8.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/OLffGBTaF0XFOW1gnuHF0YbN6UDyHWBl620a-IRfuBk.woff) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/OLffGBTaF0XFOW1gnuHF0YbN6UDyHWBl620a-IRfuBk.woff) format("woff");
}

@font-face {
	font-family: Roboto;
	font-style: italic;
	font-weight: 700;
	src: local("Roboto Bold Italic"),local(Roboto-BoldItalic),url(//fonts.gstatic.com/s/roboto/v15/t6Nd4cfPRhZP44Q5QAjcC2fQcKutQXcIrRfyR5jdjY8.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/t6Nd4cfPRhZP44Q5QAjcC4bN6UDyHWBl620a-IRfuBk.woff) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/t6Nd4cfPRhZP44Q5QAjcC4bN6UDyHWBl620a-IRfuBk.woff) format("woff");
}

@font-face {
	font-family: Roboto;
	font-style: italic;
	font-weight: 900;
	src: local("Roboto Black Italic"),local(Roboto-BlackItalic),url(//fonts.gstatic.com/s/roboto/v15/bmC0pGMXrhphrZJmniIZpWfQcKutQXcIrRfyR5jdjY8.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/bmC0pGMXrhphrZJmniIZpYbN6UDyHWBl620a-IRfuBk.woff) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/bmC0pGMXrhphrZJmniIZpYbN6UDyHWBl620a-IRfuBk.woff) format("woff");
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 100;
	src: local("Roboto Thin"),local(Roboto-Thin),url(//fonts.gstatic.com/s/roboto/v15/PP2U5prMl9yvKSWVu6DtvPesZW2xOQ-xsNqO47m55DA.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/vzIUHo9z-oJ4WgkpPOtg1_esZW2xOQ-xsNqO47m55DA.woff) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/vzIUHo9z-oJ4WgkpPOtg1_esZW2xOQ-xsNqO47m55DA.woff) format("woff");
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"),local(Roboto-Light),url(//fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUffY6323mHUZFJMgTvxaG2iE.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	src: local(Roboto),local(Roboto-Regular),url(//fonts.gstatic.com/s/roboto/v15/5YB-ifwqHP20Yn46l_BDhA.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/2UX7WLTfW3W8TclTUvlFyQ.woff) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/2UX7WLTfW3W8TclTUvlFyQ.woff) format("woff");
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	src: local("Roboto Medium"),local(Roboto-Medium),url(//fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUfY6323mHUZFJMgTvxaG2iE.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUT8E0i7KZn-EPnyo3HZu7kw.woff) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUT8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"),local(Roboto-Bold),url(//fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOPY6323mHUZFJMgTvxaG2iE.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	src: local("Roboto Black"),local(Roboto-Black),url(//fonts.gstatic.com/s/roboto/v15/mnpfi9pxYH-Go5UiibESIvY6323mHUZFJMgTvxaG2iE.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/mnpfi9pxYH-Go5UiibESIj8E0i7KZn-EPnyo3HZu7kw.woff) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/mnpfi9pxYH-Go5UiibESIj8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	width: 100%;
	*zoom: 1;
}

body:before,
body:after {
	content: "";
	display: table;
}

body:after {
	clear: both;
}

img {
	max-width: 100%;
	height: auto;
}

.col {
	display: inline;
	float: left;
}

.wrap {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}

/*

Grid

*/

/* 

Font Awesome 
http://fontawesome.io/cheatsheet/

*/

.input {
	font: 1.4rem "Arial";
	color: #d79e45;
	width: 100%;
	transition: 0.2s;
	display: block;
	background: #eee;
	border: 1px solid #d79e45;
	text-indent: 10px;
	height: 30px;
}

.input:focus {
	outline: none;
}

.input::-webkit-input-placeholder {
	font: 1.4rem "Arial";
	color: #444;
	font-style: italic;
}

.input:-moz-placeholder {
	font: 1.4rem "Arial";
	color: #444;
	font-style: italic;
}

.input::-moz-placeholder {
	font: 1.4rem "Arial";
	color: #444;
	font-style: italic;
}

.input:-ms-input-placeholder {
	font: 1.4rem "Arial";
	color: #444;
	font-style: italic;
}

.input:focus {
	border-color: #444;
	border-style: dashed;
}

.invalid .input {
	border-color: #39ad0b;
}

.invalid .input:focus {
	outline: 1px solid #39ad0b;
}

.valided .input {
	border-color: #39ad0b;
}

.textarea {
	font: 1.4rem "Arial";
	color: #d79e45;
	width: 100%;
	transition: 0.2s;
	display: block;
	background: #eee;
	border: 1px solid #d79e45;
	text-indent: 10px;
	height: auto;
}

.textarea:focus {
	outline: none;
}

.textarea::-webkit-input-placeholder {
	font: 1.4rem "Arial";
	color: #444;
	font-style: italic;
}

.textarea:-moz-placeholder {
	font: 1.4rem "Arial";
	color: #444;
	font-style: italic;
}

.textarea::-moz-placeholder {
	font: 1.4rem "Arial";
	color: #444;
	font-style: italic;
}

.textarea:-ms-input-placeholder {
	font: 1.4rem "Arial";
	color: #444;
	font-style: italic;
}

.textarea:focus {
	border-color: #444;
	border-style: dashed;
}

.invalid .textarea {
	border-color: #39ad0b;
}

.invalid .textarea:focus {
	outline: 1px solid #39ad0b;
}

.valided .textarea {
	border-color: #39ad0b;
}

::-webkit-input-placeholder {
	color: red;
}

:-moz-placeholder {
	color: red;
}

::-moz-placeholder {
	color: red;
}

:-ms-input-placeholder {
	color: red;
}

.title-page {
	color: #fff;
	text-shadow: 1px 1px 0 #d79e45, -1px 1px 0 #d79e45, 1px -1px 0 #d79e45, -1px -1px 0 #d79e45;
}

.box {
	padding: 5px;
	margin-bottom: 15px;
	background: #d79e45;
	position: relative;
	box-sizing: border-box;
}

.box:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	border: 1px dashed #fff;
	margin: 4px 5px 5px 5px;
}

.img {
	position: relative;
}

.img:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	border: 1px dashed #fff;
	margin: 4px 5px 5px 5px;
}

.button {
	font: normal 1.4rem "Roboto";
	padding: 1rem 2rem;
	transition: 0.2s;
	background: #d79e45;
	color: #fff;
	text-decoration: none;
	margin: 0;
	min-width: 5rem;
	text-align: center;
	box-sizing: border-box;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	vertical-align: middle;
	font: bold 15px 'Signika';
	background-color: #333;
	display: block;
	padding: 5px;
	border-radius: 8px;
	box-shadow: 0px 4px 0px #000, 2px 5px 4px 1px rgba(0, 0, 0, 0.5);
	transition: all .1s ease;
	transform: translateY(-2px);
	background-image: linear-gradient(to top, #333, #333);
}

.button:focus {
	outline: none;
}

.button:hover {
	background-image: linear-gradient(to top, #807c7c, #595459);
}

.button:active {
	transform: translateY(3px);
}

.button-group {
	margin: 20px auto;
	width: 600px;
	display: table;
}

.button-group .button + .button {
	margin-left: 10px;
}

.hr {
	width: 100%;
	float: left;
	border-top: 4px double #d79e45;
	text-align: center;
}

.hr:after {
	content: '\002665';
	display: inline-block;
	position: relative;
	top: -15px;
	padding: 0 10px;
	background: #fff;
	color: #d79e45;
	font-size: 18px;
}

.link {
	font: 1.4rem "Arial";
	color: #d79e45;
	transition: 0.2s;
}

.link:hover {
	color: #457ed7;
}

#link-menu {
	font: 1.4rem "Arial";
	color: #d79e45;
	text-decoration: none;
	position: relative;
	padding: 2px 20px 2px 18px;
}

#link-menu:before {
	content: "";
	display: block;
	transform: skew(-30deg);
	background-color: #d79e45;
	width: 0;
	height: 120%;
	position: absolute;
	top: -10%;
	left: -1%;
	z-index: -1;
	transition: .5s;
}

#link-menu:after {
	content: "";
	display: block;
	transform: skew(-30deg);
	border-right: 2px solid #d79e45;
	width: 100%;
	height: 120%;
	position: absolute;
	top: -10%;
	left: 0%;
	z-index: -1;
}

#link-menu:hover,
#link-menu:focus {
	color: #fff;
	outline: none;
}

#link-menu:hover:before,
#link-menu:focus:before {
	width: 102%;
}

.shadow {
	position: relative;
}

.shadow:before,
.shadow:after {
	z-index: -1;
	position: absolute;
	content: "";
	bottom: 15px;
	left: 10px;
	width: 50%;
	top: 80%;
	max-width: 300px;
	background: #777;
	box-shadow: 0 15px 10px #777;
	transform: rotate(-3deg);
}

.shadow:after {
	transform: rotate(3deg);
	right: 10px;
	left: auto;
}

.hero {
	height: 100vh;
	background: #d79e45;
}

.showcase {
	padding: 0;
	margin: 0;
	font: 1.4rem "Arial";
	border: 0;
	list-style: none;
	width: 100%;
}

.showcase[data-layout="grid"] {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.showcase[data-layout="list"] {
	display: flex;
	flex-flow: column;
}

.showcase li {
	text-align: center;
	margin-bottom: 45px;
	display: flex;
	justify-content: space-between;
	flex-flow: column;
}

.showcase .button {
	display: block;
	margin: 0 auto;
	max-width: 80%;
	width: 100%;
}

.showcase a:not(.button) {
	display: block;
	text-decoration: none;
}

.showcase p {
	margin: 0;
}

.showcase .showcase-info {
	margin: 5px 0 10px;
}

.showcase figure {
	height: 210px;
	margin: 0;
	position: relative;
}

.showcase img {
	max-height: 160px;
	margin: 0 auto;
}

.showcase-nome {
	height: 35px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}

.showcase-preco-de {
	color: red;
	text-decoration: line-through;
}

.form input {
	margin: 0px 5px 25px 0px;
}

.search-bar {
	align-items: center;
	display: flex;
}

.search-bar label {
	margin-right: 10px;
}

.search-bar input {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.pagination {
	padding: 0;
	margin: 0;
	font: 1.4rem "Arial";
	border: 0;
	list-style: none;
	margin-bottom: 20px;
}

.pagination li {
	display: inline-block;
	margin-right: 5px;
}

.pagination a {
	font: 1.4rem "Arial";
	color: #d79e45;
	text-decoration: none;
	position: relative;
	padding: 2px 20px 2px 18px;
}

.pagination a:before {
	content: "";
	display: block;
	transform: skew(-30deg);
	background-color: #d79e45;
	width: 0;
	height: 120%;
	position: absolute;
	top: -10%;
	left: -1%;
	z-index: -1;
	transition: .5s;
}

.pagination a:after {
	content: "";
	display: block;
	transform: skew(-30deg);
	border-right: 2px solid #d79e45;
	width: 100%;
	height: 120%;
	position: absolute;
	top: -10%;
	left: 0%;
	z-index: -1;
}

.pagination a:hover,
.pagination a:focus {
	color: #fff;
	outline: none;
}

.pagination a:hover:before,
.pagination a:focus:before {
	width: 102%;
}

.breadcrumb {
	padding: 0;
	margin: 0;
	font: 1.4rem "Arial";
	border: 0;
	list-style: none;
	margin-bottom: 20px;
}

.breadcrumb li {
	display: inline-block;
}

.breadcrumb li + li {
	margin-left: 5px;
}

.breadcrumb li + li:before {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f105";
	margin-right: 5px;
	colors: #444;
}

.breadcrumb a {
	font: 1.4rem "Arial";
	color: #d79e45;
	transition: 0.2s;
}

.breadcrumb a:hover {
	color: #457ed7;
}

.nav-global ul {
	padding: 0;
	margin: 0;
	font: 1.4rem "Arial";
	border: 0;
	list-style: none;
	display: flex;
	align-items: center;
}

.nav-global li {
	display: inline-block;
}

.nav-global li + li {
	margin-left: 15px;
}

.nav-global a:not(.button) {
	font: 1.4rem "Arial";
	color: #d79e45;
	transition: 0.2s;
}

.nav-global a:not(.button):hover {
	color: #457ed7;
}

.price {
	border: 1px solid #e5e5e5;
	text-align: center;
	transition: 0.5s;
	float: left;
}

.price + li {
	margin-left: 20px;
}

.price-nome {
	margin: 0;
	padding: 20px 0px;
	background: #e5e5e5;
	transition: 0.5s;
}

.price-preco {
	font-size: 38px;
	font-weight: bold;
}

.price-mensal {
	display: block;
}

.price .button {
	margin: 10px auto;
	float: none;
	display: inline-block;
}

.price:hover {
	border-color: #d79e45;
}

.price:hover .plano-nome {
	background: #d79e45;
}

#wrap {
	width: 100%;
	display: table;
}

li.plano:hover {
	border-color: #d79e45;
}

.planos {
	padding: 0;
	margin: 0;
	font: 1.4rem "Arial";
	border: 0;
	list-style: none;
	display: table;
}

.plano {
	border: 1px solid #e5e5e5;
	text-align: center;
	transition: 0.5s;
	float: left;
}

.plano + li {
	margin-left: 20px;
}

.plano-nome {
	margin: 0;
	padding: 20px 0px;
	background: #e5e5e5;
	transition: 0.5s;
}

.plano-preco {
	font-size: 38px;
	font-weight: bold;
}

.plano-mensal {
	display: block;
}

.plano .button {
	margin: 10px auto;
	float: none;
	display: inline-block;
}

.plano:hover {
	border-color: #d79e45;
}

.plano:hover .plano-nome {
	background: #d79e45;
}

.plano-descricoes {
	padding: 0;
	margin: 0;
	font: 1.4rem "Arial";
	border: 0;
	list-style: none;
	padding: 10px 40px;
}

.header-site {
	background: #fff;
	position: fixed!important;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 6000;
	box-sizing: border-box;
	border-bottom: 1px double #d79e45;
}

.header-site .header-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #fff;
	width: 100%;
	padding: 10px 40px;
}

.header-site .header-section:first-child:not(:only-child) {
	background: #444;
}

.header-site .brand {
	margin: 0;
	text-decoration: none;
	font: 2.8rem "Roboto";
	color: #d79e45;
	text-transform: uppercase;
}

body {
	padding: 0;
	margin: 0;
	font: 1.4rem "Arial";
	animation: fadein 2s;
	animation-fill-mode: forwards;
}

html {
	font-size: 62.5%;
}

.main {
	padding: 30px 0;
}

.group {
	margin: 20px auto;
}

@media only screen and (min-width: 611px) and (max-width: 949px) {

.showcase li {
	width: calc(33.333333333333336% - 15px);
	box-sizing: border-box;
	margin-left: 7.5px;
	margin-right: 7.5px;
}

}

@media only screen and (min-width: 950px) {

.showcase li {
	width: calc(20% - 15px);
	box-sizing: border-box;
	margin-left: 7.5px;
	margin-right: 7.5px;
}

}

@media only screen and (max-width: 610px) {

.showcase li {
	width: calc(50% - 15px);
	box-sizing: border-box;
	margin-left: 7.5px;
	margin-right: 7.5px;
}

}

@keyframes fadein {

from {
	opacity: 0;
}

to {
	opacity: 1;
}

}

