@font-face {
	font-family: Roboto;
	font-style: italic;
	font-weight: 100;
	src: local("Roboto Thin Italic"),local(Roboto-ThinItalic),url(//fonts.gstatic.com/s/roboto/v15/12mE4jfMSBTmg-81EiS-YVQlYEbsez9cZjKsNMjLOwM.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/12mE4jfMSBTmg-81EiS-YRsxEYwM7FgeyaSgU71cLG0.woff) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/12mE4jfMSBTmg-81EiS-YRsxEYwM7FgeyaSgU71cLG0.woff) format("woff");
}

@font-face {
	font-family: Roboto;
	font-style: italic;
	font-weight: 300;
	src: local("Roboto Light Italic"),local(Roboto-LightItalic),url(//fonts.gstatic.com/s/roboto/v15/7m8l7TlFO-S3VkhHuR0at2fQcKutQXcIrRfyR5jdjY8.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/7m8l7TlFO-S3VkhHuR0at4bN6UDyHWBl620a-IRfuBk.woff) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/7m8l7TlFO-S3VkhHuR0at4bN6UDyHWBl620a-IRfuBk.woff) format("woff");
}

@font-face {
	font-family: Roboto;
	font-style: italic;
	font-weight: 400;
	src: local("Roboto Italic"),local(Roboto-Italic),url(//fonts.gstatic.com/s/roboto/v15/OiNnAEwKzzJkQCr4qZmeq_esZW2xOQ-xsNqO47m55DA.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/1pO9eUAp8pSF8VnRTP3xnvesZW2xOQ-xsNqO47m55DA.woff) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/1pO9eUAp8pSF8VnRTP3xnvesZW2xOQ-xsNqO47m55DA.woff) format("woff");
}

@font-face {
	font-family: Roboto;
	font-style: italic;
	font-weight: 500;
	src: local("Roboto Medium Italic"),local(Roboto-MediumItalic),url(//fonts.gstatic.com/s/roboto/v15/OLffGBTaF0XFOW1gnuHF0WfQcKutQXcIrRfyR5jdjY8.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/OLffGBTaF0XFOW1gnuHF0YbN6UDyHWBl620a-IRfuBk.woff) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/OLffGBTaF0XFOW1gnuHF0YbN6UDyHWBl620a-IRfuBk.woff) format("woff");
}

@font-face {
	font-family: Roboto;
	font-style: italic;
	font-weight: 700;
	src: local("Roboto Bold Italic"),local(Roboto-BoldItalic),url(//fonts.gstatic.com/s/roboto/v15/t6Nd4cfPRhZP44Q5QAjcC2fQcKutQXcIrRfyR5jdjY8.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/t6Nd4cfPRhZP44Q5QAjcC4bN6UDyHWBl620a-IRfuBk.woff) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/t6Nd4cfPRhZP44Q5QAjcC4bN6UDyHWBl620a-IRfuBk.woff) format("woff");
}

@font-face {
	font-family: Roboto;
	font-style: italic;
	font-weight: 900;
	src: local("Roboto Black Italic"),local(Roboto-BlackItalic),url(//fonts.gstatic.com/s/roboto/v15/bmC0pGMXrhphrZJmniIZpWfQcKutQXcIrRfyR5jdjY8.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/bmC0pGMXrhphrZJmniIZpYbN6UDyHWBl620a-IRfuBk.woff) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/bmC0pGMXrhphrZJmniIZpYbN6UDyHWBl620a-IRfuBk.woff) format("woff");
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 100;
	src: local("Roboto Thin"),local(Roboto-Thin),url(//fonts.gstatic.com/s/roboto/v15/PP2U5prMl9yvKSWVu6DtvPesZW2xOQ-xsNqO47m55DA.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/vzIUHo9z-oJ4WgkpPOtg1_esZW2xOQ-xsNqO47m55DA.woff) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/vzIUHo9z-oJ4WgkpPOtg1_esZW2xOQ-xsNqO47m55DA.woff) format("woff");
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"),local(Roboto-Light),url(//fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUffY6323mHUZFJMgTvxaG2iE.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	src: local(Roboto),local(Roboto-Regular),url(//fonts.gstatic.com/s/roboto/v15/5YB-ifwqHP20Yn46l_BDhA.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/2UX7WLTfW3W8TclTUvlFyQ.woff) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/2UX7WLTfW3W8TclTUvlFyQ.woff) format("woff");
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	src: local("Roboto Medium"),local(Roboto-Medium),url(//fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUfY6323mHUZFJMgTvxaG2iE.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUT8E0i7KZn-EPnyo3HZu7kw.woff) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUT8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"),local(Roboto-Bold),url(//fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOPY6323mHUZFJMgTvxaG2iE.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	src: local("Roboto Black"),local(Roboto-Black),url(//fonts.gstatic.com/s/roboto/v15/mnpfi9pxYH-Go5UiibESIvY6323mHUZFJMgTvxaG2iE.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/mnpfi9pxYH-Go5UiibESIj8E0i7KZn-EPnyo3HZu7kw.woff) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/mnpfi9pxYH-Go5UiibESIj8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	width: 100%;
	*zoom: 1;
}

body:before,
body:after {
	content: "";
	display: table;
}

body:after {
	clear: both;
}

img {
	max-width: 100%;
	height: auto;
}

.col {
	display: inline;
	float: left;
}

.wrap {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}

.box-shadow-pattern {
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
}

/* 

Font Awesome 
http://fontawesome.io/cheatsheet/

*/

.awesome {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.img {
	position: relative;
}

.img:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	border: 1px dashed #fff;
	margin: 4px 5px 5px 5px;
}

.link {
	font: 1.4rem "Arial";
	color: #d79e45;
	transition: 0.2s;
}

.link:hover {
	color: #457ed7;
}

#link-menu {
	font: 1.4rem "Arial";
	color: #d79e45;
	text-decoration: none;
	position: relative;
	padding: 2px 20px 2px 18px;
}

#link-menu:before {
	content: "";
	display: block;
	transform: skew(-30deg);
	background-color: #d79e45;
	width: 0;
	height: 120%;
	position: absolute;
	top: -10%;
	left: -1%;
	z-index: -1;
	transition: .5s;
}

#link-menu:after {
	content: "";
	display: block;
	transform: skew(-30deg);
	border-right: 2px solid #d79e45;
	width: 100%;
	height: 120%;
	position: absolute;
	top: -10%;
	left: 0%;
	z-index: -1;
}

#link-menu:hover,
#link-menu:focus {
	color: #fff;
	outline: none;
}

#link-menu:hover:before,
#link-menu:focus:before {
	width: 102%;
}

.button {
	font: normal 1.4rem "Roboto";
	padding: 1rem 2rem;
	transition: 0.2s;
	background: #d79e45;
	color: #fff;
	text-decoration: none;
	margin: 0;
	min-width: 5rem;
	display: block;
	float: left;
	text-align: center;
	box-sizing: border-box;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	vertical-align: middle;
	background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.2)); /* W3C */
}

.button:focus {
	outline: none;
}

.button:hover {
	background-image: none;
}

.button-group {
	margin: 20px auto;
	width: 600px;
	display: table;
}

.button-group .button + .button {
	margin-left: 10px;
}

.hr {
	width: 100%;
	float: left;
	border-top: 4px double #d79e45;
	text-align: center;
}

.hr:after {
	content: '\002665';
	display: inline-block;
	position: relative;
	top: -15px;
	padding: 0 10px;
	background: #f0f0f0;
	color: #d79e45;
	font-size: 18px;
}

.shadow {
	position: relative;
}

.shadow:before,
.shadow:after {
	z-index: -1;
	position: absolute;
	content: "";
	bottom: 15px;
	left: 10px;
	width: 50%;
	top: 80%;
	max-width: 300px;
	background: #777;
	box-shadow: 0 15px 10px #777;
	transform: rotate(-3deg);
}

.shadow:after {
	transform: rotate(3deg);
	right: 10px;
	left: auto;
}

.pagination {
	padding: 0;
	margin: 0;
	font: 1.4rem "Arial";
	border: 0;
	list-style: none;
	margin-bottom: 20px;
}

.pagination li {
	display: inline-block;
	margin-right: 5px;
}

.pagination a {
	font: 1.4rem "Arial";
	color: #d79e45;
	text-decoration: none;
	position: relative;
	padding: 2px 20px 2px 18px;
}

.pagination a:before {
	content: "";
	display: block;
	transform: skew(-30deg);
	background-color: #d79e45;
	width: 0;
	height: 120%;
	position: absolute;
	top: -10%;
	left: -1%;
	z-index: -1;
	transition: .5s;
}

.pagination a:after {
	content: "";
	display: block;
	transform: skew(-30deg);
	border-right: 2px solid #d79e45;
	width: 100%;
	height: 120%;
	position: absolute;
	top: -10%;
	left: 0%;
	z-index: -1;
}

.pagination a:hover,
.pagination a:focus {
	color: #fff;
	outline: none;
}

.pagination a:hover:before,
.pagination a:focus:before {
	width: 102%;
}

.breadcrumb {
	padding: 0;
	margin: 0;
	font: 1.4rem "Arial";
	border: 0;
	list-style: none;
	margin-bottom: 20px;
}

.breadcrumb li {
	display: inline-block;
	margin-right: 5px;
}

.breadcrumb a {
	font: 1.4rem "Arial";
	color: #d79e45;
	transition: 0.2s;
}

.breadcrumb a:hover {
	color: #457ed7;
}

.nav-global ul {
	padding: 0;
	margin: 0;
	font: 1.4rem "Arial";
	border: 0;
	list-style: none;
}

.nav-global li {
	display: inline-block;
}

.nav-global li + li {
	margin-left: 15px;
}

.nav-global a:not(.button) {
	font: 1.4rem "Arial";
	color: #d79e45;
	transition: 0.2s;
}

.nav-global a:not(.button):hover {
	color: #457ed7;
}

.header-site {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #fff;
	position: fixed!important;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 6000;
	box-sizing: border-box;
	border-bottom: 1px double #d79e45;
}

.header-site .header-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #fff;
	width: 100%;
	padding: 10px 40px;
}

.header-site .brand {
	float: left;
	margin: 0;
	text-decoration: none;
	font: 2.8rem "Roboto";
	color: #d79e45;
	text-transform: uppercase;
}

.header-site .nav-global {
	float: right;
}

.nav-global li:first-child:not(:only-child) {
	background: red;
}

.header-site > div:first-child:not(:only-child) {
	background: #525252;
}

.search-bar {
	align-items: center;
	display: flex;
}

.search-bar label {
	margin-right: 10px;
}

.search-bar input {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	padding: 0;
	margin: 0;
	font: 1.4rem "Arial";
}

html {
	font-size: 62.5%;
}

.main {
	padding: 30px 0;
}

.group {
	margin: 20px auto;
	width: 600px;
	display: table;
}

