@price-style: default;

.price{
	#price(@price-style);
}

#wrap{
	width: 100%;
	display: table;

}

#price(@price-style){
	&when ((@price-style) = default)		{ #price-default(); }
}

#price-default(){
	border: 1px solid @color-base-light1;
	text-align: center;
	transition: 0.5s;
    float: left;
    + li{
    	margin-left: 20px;
    }
	&-nome{
		margin: 0;
		padding: 20px 0px;
		background: @color-base-light1;
		transition: 0.5s;
	}
	&-moeda{

	}
	&-preco{
		font-size: 38px;
		font-weight: bold;
	}
	&-mensal{
		display: block;
	}	
	.button{
		margin: 10px auto;
		float: none;
		display: inline-block;
	}
	&:hover{
		border-color: @color-primary;
		.plano-nome {
			background: @color-primary;
		}
	}
}

li.plano:hover {
    border-color: #d79e45;
}


.planos{
	#reset(list);
	display: table;
}

.plano{
	#price(@price-style);
}

.plano-descricoes{
	#reset(list);
	padding: 10px 40px;
}
