@search-bar-style: default;

.search-bar{
	#search-bar(@search-bar-style);
}

#search-bar(@search-bar-style){
	&when ((@search-bar-style) = default)		{ #search-bar-default(); }
}

#search-bar-default() {
	align-items: center;
	display: flex;
	label {
		margin-right: 10px;
	}
	input{
		.awesome;
	}
}
