// https://bulma.io/documentation/columns/basics/

.columns {
    margin-left: -.75rem;
    margin-right: -.75rem;
    margin-top: -.75rem;
    @media screen and (min-width: 769px){
        &:not(.is-desktop) {
        display: flex;
        }    
    }
    &:last-child {
        margin-bottom: -0.75rem;
    }
    &:not(:last-child) {
        margin-bottom: calc(1.5rem - .75rem);
    }
    &.is-mobile {
        display: flex;
    }
    &.is-multiline {
        flex-wrap: wrap;
    }
    &.is-vcentered {
        align-items: center;
    }
    &.is-gapless{
        .column {
            margin: 0;
            padding: 0!important;
        }        
    }  
}

.column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: .75rem;
}

.is-2{
    flex: none;
    width: 100% / 12 * 2;
}
.is-3{
    flex: none;
    width: 100% / 12 * 3;
}
.is-4{
    flex: none;
    width: 100% / 12 * 4;
}
.is-5{
    flex: none;
    width: 100% / 12 * 5;
}
.is-6{
    flex: none;
    width: 100% / 12 * 6;
}
.is-7{
    flex: none;
    width: 100% / 12 * 7;
}
.is-8{
    flex: none;
    width: 100% / 12 * 8;
}
.is-9{
    flex: none;
    width: 100% / 12 * 9;
}
.is-10{
    flex: none;
    width: 100% / 12 * 10;
}
.is-11{
    flex: none;
    width: 100% / 12 * 11;
}     
   


.is-four-fifths, .is-four-fifths-tablet {
    flex: none;
    width: 100% / 5 * 4;
}      
.is-three-quarters, .is-three-quarters-tablet{
    flex: none;
    width: 100% / 4 * 3;
}
.is-two-thirds, .is-two-thirds-tablet {
    flex: none;
    width: 100% / 3 * 2;
}
.is-three-fifths, .is-three-fifths-tablet {
    flex: none;
    width: 100% / 5 * 3;
}
.is-half, .is-half-tablet {
    flex: none;
    width: 100% / 2 * 1;
}
.is-two-fifths, .is-two-fifths-tablet {
    flex: none;
    width: 100% / 5 * 2;
}
.is-one-third, .is-one-third-tablet {
    flex: none;
    width: 100% / 3 * 1;
}
.is-one-quarter, .is-one-quarter-tablet {
    flex: none;
    width: 100% / 4 * 1;
}
.is-one-fifth, .is-one-fifth-tablet {
    flex: none;
    width: 100% / 5 * 1;
}
.is-one{
    flex: none;
    width: 100%;
}

@media screen and (min-width: 769px), print {
    .columns:not(.is-desktop) {
        display: flex;
    }
}
  
@media screen and (min-width: 1088px) {
    .columns.is-desktop {
        display: flex;
    }
}