//- Icons
mixin icon-config
    i.fa.fa-cogs
mixin icon-close
    i.fa.fa-times
mixin icon-list
    i.fa.fa-th-list
mixin icon-grid
    i.fa.fa-th-large
mixin icon-filtro
    i.fa.fa-th-large
mixin icon-close
    i.fa.fa-times
mixin icon-edit
    i.fa.fa-pencil
mixin icon-delete
    i.fa.fa-trash
mixin icon-add
    i.fa.fa-plus
mixin icon-paciente-add
    i.fa.fa-plus
mixin icon-pedido-add
    i.fa.fa-plus

mixin ico(ico)
  if (ico === 'add')
   i.fa.fa-plus
  if (ico === 'delete')
   i.fa.fa-trash
  if (ico === 'edit')
   i.fa.fa-pencil
  if (ico === 'close')
   i.fa.fa-times
  if (ico === 'filtro')
   i.fa.fa-th-large
  if (ico === 'grid')
   i.fa.fa-th-large
  if (ico === 'list')
   i.fa.fa-th-list
  if (ico === 'config')
   i.fa.fa-cogs
  if (ico === 'pedido-add')
   i.fa.fa-plus
  if (ico === 'paciente-add')
   i.fa.fa-plus