@shadow-style: 2;

.shadow{
	#shadow(@shadow-style);
}

#shadow(@shadow-style:default){
	&when ((@shadow-style) = default)	{ #shadow-default(); }
	&when ((@shadow-style) = 2)			{ #shadow-2(); }
	&when ((@shadow-style) = 3)			{ #shadow-3(); }
	&when ((@shadow-style) = 4)			{ #shadow-4(); }
	&when ((@shadow-style) = 5)			{ #shadow-5(); }
	&when ((@shadow-style) = 5)			{ #shadow-5(); }
	&when ((@shadow-style) = 6)			{ #shadow-6(); }
	&when ((@shadow-style) = 7)			{ #shadow-7(); }
	&when ((@shadow-style) = 8)			{ #shadow-8(); }
}

#shadow-default(){
	box-shadow: 0 10px 6px -6px @color-shadow;
}

#shadow-2(){
	position: relative;
	&:before, &:after{
		z-index: -1;
		position: absolute;
		content: "";
		bottom: 15px;
		left: 10px;
		width: 50%;
		top: 80%;
		max-width:300px;
		background: @color-shadow;
		box-shadow: 0 15px 10px @color-shadow;
		transform:rotate(-3deg);
	}
	&:after{
		transform:rotate(3deg);
		right: 10px;
		left: auto;
	}
}

#shadow-3(){
	position: relative;
	&:before{
		z-index: -1;
		position: absolute;
		content: "";
		bottom: 15px;
		left: 10px;
		width: 50%;
		top: 80%;
		max-width:300px;
		background: @color-shadow;
		box-shadow: 0 15px 10px @color-shadow;
		transform:rotate(-3deg);
	}
}

#shadow-4(){
	position: relative;
	&:after{
		z-index: -1;
		position: absolute;
		content: "";
		bottom: 15px;
		right: 10px;
		left: auto;
		width: 50%;
		top: 80%;
		max-width:300px;
		background: @color-shadow;
		box-shadow: 0 15px 10px @color-shadow;
		transform:rotate(3deg);
	}
}

#shadow-5(){
  	position: relative;
	&:before, &:after{
		z-index: -1;
		position: absolute;
		content: "";
		bottom: 25px;
		left: 10px;
		width: 50%;
		top: 80%;
		max-width:300px;
		background: @color-shadow;
		box-shadow: 0 35px 20px @color-shadow;
		transform:rotate(-8deg);
	}
	&:after{
		transform:rotate(8deg);
		right: 10px;
		left: auto;
	}
}

#shadow-6(){
  	position: relative;
  	box-shadow: ~"0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset";
	&:before, &:after{
		content:"";
		position:absolute;
		z-index:-1;
		box-shadow: 0 0 20px rgba(0,0,0,0.8);
		top:50%;
		bottom:0;
		left:10px;
		right:10px;
		-moz-border-radius:100px / 10px;
		border-radius:100px / 10px;
	}
}

#shadow-7(){
	position: relative;
	box-shadow: ~"0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset";
	&:before, &:after{
		content:"";
		position:absolute;
		z-index:-1;
		box-shadow: 0 0 20px rgba(0,0,0,0.8);
		top:0;
		bottom:0;
		left:10px;
		right:10px;
		-moz-border-radius: 100px / 10px;
		border-radius: 100px / 10px;
	}
	&:after{
		right:10px;
		left:auto;
		transform: skew(8deg) rotate(3deg);
	}
}

#shadow-8(){
  	position:relative;
  	box-shadow: ~"0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset";
  	&:before, &:after{
		content:"";
		position:absolute;
		z-index:-1;
		.box-shadow(0 0 20px rgba(0,0,0,0.8));
		top:10px;
		bottom:10px;
		left:0;
		right:0;
		border-radius: 100px / 10px;
  	}
	&:after{
		right:10px;
		left:auto;
		transform: skew(8deg) rotate(3deg);
	}
}
