// Create WrapAll <div class="wrap cakeerror"> in app\View\Errors\missing_controller.ctp

.wrap.cakeerror{
	background: #eee;
	padding: @space;
	*, a, li, p, span{
		color: initial!important;
		font-size: initial!important;
	}
	h1, h2, h3, h4, h5, h6 {
		color: initial!important;
		font-size: initial!important;
	}
}
