.no-csscolumns{
	.list-description{
		overflow: auto;
		li{
			width: 40%;
			float: left;
		}
	}
	.list-caracteristicas{
		overflow: auto;
		li{
			width: 33%;
			float: left;
		}
	}
	.exclusividade-info{
		overflow: auto;
		li{
			width: 33%;
			float: left;
		}
	}
}
