/*==========  Impressao  ==========*/
.logo-print{
	display: none;
	width: 140px;
	margin-left: 10px;
	margin-top: 2cm;
}
@media print {
 /* All your print styles go here */
	.header-top,
	.footer-principal,
	.footer-principal:before,
	.footer-principal::before,
	.bt-imprimir,
	.bt-voltar{
		display: none!important;
	}
	.logo-print{
		display: block;
	}
	.dados-pedido{
		dl{
			margin-bottom: 2px;
		}
	}
	.dados-comprador{
		border: 0px solid #eee;
		border-width: 1px 0px 0px 0px
	}
}
