.logo img{
	.background-secondary-dark2;
	border-radius: 1em;
	overflow: hidden;
	width: 100%;
}

.border{
	border:1px solid #eee;
}
.border-bottom{
	border-bottom:1px solid #eee;
}
.border-bottom-double{
	border-bottom: 5px solid #eee;
}

h1.hc{
	.font(@font-base, normal, 2.8, 2.8);
	border-bottom: 5px solid;
	padding-bottom: 10px;
	margin-bottom: 20px;
	text-transform: uppercase;
	small{
		.font(@font-base, normal, 1.2, 2.8);
		float: right;
		.color-base;
	}
}
h2.hc, .h2.hc{
	.font(@font-base, normal, 1.8, 1.8);
	padding-bottom: 10px;
	margin-bottom: 20px;
	.border-bottom-double;
}

.hc.colors{

	> div{
		clear: both;
		> span{
			.border;
		}
	}
	span{
		.column(2);
		height: 110px;
		float: left;
		margin-bottom: 40px;
		font-size: 10px;
		text-align: center;
		padding: 10px;
		&:hover span{
			.linear-gradient;
		}
		&:focus span{
			.linear-gradient(bottom);
		}
		span{
			display: block;
			width: 100%;
			height: 50px;
			margin: 10px auto;
		}
	}
	.hc-base span{.background-base;}
	.hc-black span{.background-black;}
	.hc-white span{.background-white;}

	.hc-primary span{.background-primary;}
	.hc-primary-light1 span{.background-primary-light1;}
	.hc-primary-light2 span{.background-primary-light2;}
	.hc-primary-dark1 span{.background-primary-dark1;}
	.hc-primary-dark2 span{.background-primary-dark2;}

	.hc-secondary span{.background-secondary;}
	.hc-secondary-light1 span{.background-secondary-light1;}
	.hc-secondary-light2 span{.background-secondary-light2;}
	.hc-secondary-dark1 span{.background-secondary-dark1;}
	.hc-secondary-dark2 span{.background-secondary-dark2;}
}


.hc.types{
	p{
		.column(10);
		margin-bottom: 20px;
		position: relative;
		span{
			display: block;
			font: inherit;
			margin-bottom: 10px;
		}
	}
	input[type="number"]{
		position: absolute;
		top: 0;
		right: -162px;
		text-align: center;
		width: 60px;
		height: 60px;
		text-indent: 10px;
	}
}

.hc.types{
	.hc-base		{.font(@font-base, normal, 1.6, 1.8)}
	.hc-base-bold	{.font(@font-base, bold, 1.6, 1.8)}
}

.hc.buttons{
	>div{
		.column(12);
		margin-bottom: 30px;
		>div {
			float: left;
			width: 50%;
		}
	}
}
.hc.forms{
	>div{
		.column(12);
		margin-bottom: 30px;
	}
}
.hc.tooltips{
	a{
		text-align: center;
		margin: 50px auto;
		display: table;
	}
}

.col-1  {  .column(1); }
.col-2  {  .column(2); }
.col-3  {  .column(3); }
.col-4  {  .column(4); }
.col-5  {  .column(5); }
.col-6  {  .column(6); }
.col-7  {  .column(7); }
.col-8  {  .column(8); }
.col-9  {  .column(9); }
.col-10 { .column(10); }
.col-11 { .column(11); }
.col-12 { .column(12); }

.row-1  {  .row(1);  }
.row-2  {  .row(2);  }
.row-3  {  .row(3);  }
.row-4  {  .row(4);  }
.row-5  {  .row(5);  }
.row-6  {  .row(6);  }
.row-7  {  .row(7);  }
.row-8  {  .row(8);  }
.row-9  {  .row(9);  }
.row-10 {  .row(10); }
.row-11 {  .row(11); }
.row-12 {  .row(12); }


.row-col(@n){
	> .col-1 {  .column(1,@n);  }
	> .col-2 {  .column(2,@n);  }
	> .col-3 {  .column(3,@n);  }
	> .col-4 {  .column(4,@n);  }
	> .col-5 {  .column(5,@n);  }
	> .col-6 {  .column(6,@n);  }
	> .col-7 {  .column(7,@n);  }
	> .col-8 {  .column(8,@n);  }
	> .col-9 {  .column(9,@n);  }
	> .col-10{  .column(10,@n); }
	> .col-11{  .column(11,@n); }
	> .col-12{  .column(12,@n); }
}

.row-1 { .row-col(1);  }
.row-2 { .row-col(2);  }
.row-3 { .row-col(3);  }
.row-4 { .row-col(4);  }
.row-5 { .row-col(5);  }
.row-6 { .row-col(6);  }
.row-7 { .row-col(7);  }
.row-8 { .row-col(8);  }
.row-9 { .row-col(9);  }
.row-10{ .row-col(10); }
.row-11{ .row-col(11); }
.row-12{ .row-col(12); }
