#onepage(@a) when ((@a) = true){
	> section{
		float: left;
		width: 100%;
	}
}

#fixedmenu(@a, @nav-height:100px) when ((@a) = true){
	padding-bottom: @nav-height;
	header.principal{
		width: 100%;
		position: fixed;
		top: 0;
		z-index: 100;
	}
}

.box{
	padding: @space 0px;
	margin: @space 0px;
	.border;
}

.center{
	text-align: center;
}

.shape {
	height: 50px;
	text-align: center;
	width: 100%;
	.font(@font-base, normal, 1.2, 5.0);
    background: @color-primary-light1;
	color: @color-white;
	margin-bottom: @space * 2;
}


header.principal{
	background: @color-primary;
	padding: @space 0;
	overflow: auto;
	.header-fixed;
}

.header-fixed(){
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 100;
}

.nav-global{
	text-align: right
	;
}

footer.principal{
	background: @color-primary;
	padding: @space 0;
	overflow: auto;
}

.main{
	width: 100%;
	margin: @space 0px;
	display: table;
	> section{
		.wrap;
		.box;
	}
}

#row{
	display: table;
	width: 100%;
}

#only{
	.column(10);
	&:extend(#float);
	.push(1);
	.pull(1);
}

#container(@val:50px){
	display: table;
	min-height: @val;
	width: 100%;
}

#table{
	width: 100%;
	display: table;
	float: left;
}

#float{
	display: inline;
	float: left;
	margin: 0 @space;
}

#aside(@type, @cols:3) when ((@type) = menu){
	&:extend(#float);
	@media @mobile{
		.column(@columns);
	}
	@media @tablet{
		.column(@columns);
	}
	@media @desktop{
		.column(@cols);
	}
	+ .content{
		&:extend(#float);
		@media @mobile{
			.column(@columns);
		}
		@media @tablet{
			.column(@columns);
		}
		@media @desktop{
			.column(@columns - @cols);
		}
	}
}

#aside(@type, @cols) when ((@type) = aside){
	&:extend(#float);
	@media @mobile{
		.column(@columns);
	}
	@media @tablet{
		.column(@columns);
	}
	@media @desktop{
		.column(@cols);
	}
}

#content(@col){
	&:extend(#float);
	@media @mobile{
		.column(@columns);
	}
	@media @tablet{
		.column(@columns);
	}
	@media @desktop{
		.column(@col);
	}
}

#section{
	display: table;
	width: 100%;
	padding: @space 0;
}

#uppercase(@a) when ((@a) = true){
	text-transform: uppercase;
}

#uppercase(@a) when ((@a) = false){
	text-transform: none;
}

.table(@padding: @space 0, @margin: 0){
  display: table;
  width:100%;
  padding: @padding;
  margin: @margin;
}

#fullbar{
  .table(20px 0);
  > div{
    .wrap;
  }
}

.wrap .container{
	&:extend(#float);
	.column(@columns);
}

#template(@a, @b:@columns, @c:@columns){
	@media @mobile{.column(@c);}
	@media @tablet{.column(@b);}
	@media @desktop{.column(@a);}
}
