.logo img{
	.background-secondary-dark2;
	border-radius: 1em;
	overflow: hidden;
	// width: 100%;
}

.border{
	border:1px solid #eee;
}
.border-bottom{
	border-bottom:1px solid #eee;
}
.border-bottom-double{
	border-bottom: 5px solid #eee;
}

.title{
	.font(@font-base, normal, 2.8, 2.8);
	#uppercase(true);
	margin-bottom: 20px;
	border-bottom: 5px solid;
	small{
		font-size: 65%;
		#uppercase(false);
	}
}

.subtitle{
	.font(@font-base, normal, 1.8, 1.8);
	#uppercase(true);
	margin-bottom: 20px;
	.border-bottom-double;
}

.box-helpers{
	.wrap;
	> section{
		display: table;
		width: 100%;
		margin-bottom: @space * 2;
	}
}

.widget-colors{
	.row(@columns);
	> span{
		.column(3,@columns);
		height: 110px;
		float: left;
		margin-bottom: 40px;
		font-size: 10px;
		text-align: center;
		padding: 10px;
		.border;
		&:hover span{
			.linear-gradient;
		}
		&:focus span{
			.linear-gradient(bottom);
		}
		span{
			display: block;
			width: 100%;
			height: 50px;
			margin: 10px auto;
		}
	}
	.hc-base span{.background-base;}
	.hc-black span{.background-black;}
	.hc-white span{.background-white;}

	.hc-primary span{.background-primary;}
	.hc-primary-light1 span{.background-primary-light1;}
	.hc-primary-light2 span{.background-primary-light2;}
	.hc-primary-dark1 span{.background-primary-dark1;}
	.hc-primary-dark2 span{.background-primary-dark2;}

	.hc-secondary span{.background-secondary;}
	.hc-secondary-light1 span{.background-secondary-light1;}
	.hc-secondary-light2 span{.background-secondary-light2;}
	.hc-secondary-dark1 span{.background-secondary-dark1;}
	.hc-secondary-dark2 span{.background-secondary-dark2;}
}

.widget-type{
	.hc-base, .hc-base-bold{
		.h2:after{ content: ' : (@{font-base})'; }
	}
	.hc-base p{
		.font(@font-base, normal, 1.6, 1.4)
	}
	.hc-base-bold p{
		.font(@font-base, bold, 1.6, 1.4)
	}
	.hc-special, .hc-special-bold{
		.h2:after{ content: ' : (@{font-special})'; }
	}
	.hc-special p{
		.font(@font-special, normal, 1.6, 1.4)
	}
	.hc-special-bold p{
		.font(@font-special, bold, 1.6, 1.4)
	}
	p{
		.column(10);
		margin-bottom: 20px;
		position: relative;
		span{
			display: block;
			font: inherit;
			margin-bottom: 10px;
		}
	}
	input[type="number"]{
		position: absolute;
		top: 0;
		right: -162px;
		text-align: center;
		width: 60px;
		height: 60px;
		text-indent: 10px;
	}
}

// .hc.buttons{
// 	>div{
// 		.column(12);
// 		margin-bottom: 30px;
// 		>div {
// 			float: left;
// 			width: 50%;
// 		}
// 	}
// }
// .hc.forms{
// 	>div{
// 		.column(12);
// 		margin-bottom: 30px;
// 	}
// }
// .hc.tooltips{
// 	a{
// 		text-align: center;
// 		margin: 50px auto;
// 		display: table;
// 	}
// }


// // Colors
.color-white()					{color: @color-white;}
.color-base()					{color: @color-base;}
.color-black()					{color: @color-black;}

.color-primary()				{color: @color-primary;}
.color-primary-light1()			{color: @color-primary-light1;}
.color-primary-light2()			{color: @color-primary-light2;}
.color-primary-dark1()			{color: @color-primary-dark1;}
.color-primary-dark2()			{color: @color-primary-dark2;}

.color-base()					{color: @color-base;}
.color-base-light1()			{color: @color-base-light1;}
.color-base-light2()			{color: @color-base-light2;}
.color-base-dark1()				{color: @color-base-dark1;}
.color-base-dark2()				{color: @color-base-dark2;}

.color-secondary()				{color: @color-secondary;}
.color-secondary-light1()		{color: @color-secondary-light1;}
.color-secondary-light2()		{color: @color-secondary-light2;}
.color-secondary-dark1()		{color: @color-secondary-dark1;}
.color-secondary-dark2()		{color: @color-secondary-dark2;}

// // Background Colors
.background-white()				{background-color: @color-white;}
.background-base()				{background-color: @color-base;}
.background-black()				{background-color: @color-black;}

.background-base()				{background-color: @color-base;}
.background-base-light1()		{background-color: @color-base-light1;}
.background-base-light2()		{background-color: @color-base-light2;}
.background-base-dark1()		{background-color: @color-base-dark1;}
.background-base-dark2()		{background-color: @color-base-dark2;}

.background-primary()			{background-color: @color-primary;}
.background-primary-light1()	{background-color: @color-primary-light1;}
.background-primary-light2()	{background-color: @color-primary-light2;}
.background-primary-dark1()		{background-color: @color-primary-dark1;}
.background-primary-dark2()		{background-color: @color-primary-dark2;}

.background-secondary()			{background-color: @color-secondary;}
.background-secondary-light1()	{background-color: @color-secondary-light1;}
.background-secondary-light2()	{background-color: @color-secondary-light2;}
.background-secondary-dark1()	{background-color: @color-secondary-dark1;}
.background-secondary-dark2()	{background-color: @color-secondary-dark2;}

// // Border colors

.border-color-base()			{border-color: @color-base;}
.border-color-primary()			{border-color: @color-primary;}
.border-color-secondary()		{border-color: @color-secondary;}