extends layouts/layout.pug

block content

    section.card
        h2.card-title Botões

        h3.subtitle Ações padrões

        .button-group            
            +button("Editar widget","#","space-icon")
            +button("Editar widget","#")
            +button("","#")

        h3.subtitle Ações positivas

        .button-group
            +button("Editar widget","#","positive space-icon")
            +button("Editar widget","#", "positive")
            +button("","#","positive") 

        h3.subtitle Ações negativas

        .button-group
            +button("Editar widget","#","negative space-icon")
            +button("Editar widget","#", "negative")
            +button("","#","negative") 

        h3.subtitle Desabilitados

        .button-group
            +button("Salvar","#","positive primary")
            +button("Excluir","#", "positive primary", "add")
            +button("Excluir","#", "negative primary")

        h3.subtitle Ações primárias

        .button-group
            +button("Salvar","#","positive primary")
            +button("Excluir","#", "positive primary", "add")
            +button("Excluir","#", "negative primary")      

    section.card
        h2.card-title Exemplo

        .button-group
            +button("Salvar","#","positive primary")
            +button("Excluir","#", "negative")
            +button("Cancelar","#","")   