extends layouts/layout.pug

block content

    section.card
        .card-header
            h2.card-title Configurações

        form(action="")

            .fieldset
                .card-header
                    .card-title Paciente
                table.table.options
                    tr
                        th Campo
                        th Ativo
                        th Obrigatório

                table.table.options                        
                    tr
                        td Nome
                        td
                            +switch("pacienteNomeAtivo")
                        td
                            +switch("pacienteNomeRequired")
                    tr
                        td CPF
                        td 
                            +switch("cpfNomeAtivo")
                        td 
                            +switch("cpfNomeRequired")
                    tr
                        td RG
                        td 
                            +switch("rgNomeAtivo")
                        td 
                            +switch("rgNomeRequired")
                    tr
                        td Nome
                        td
                            +switch("pacienteNomeAtivo")
                        td
                            +switch("pacienteNomeRequired")
                    tr
                        td CPF
                        td 
                            +switch("cpfNomeAtivo")
                        td 
                            +switch("cpfNomeRequired")
                    tr
                        td RG
                        td 
                            +switch("rgNomeAtivo")
                        td 
                            +switch("rgNomeRequired")
                    tr
                        td Nome
                        td
                            +switch("pacienteNomeAtivo")
                        td
                            +switch("pacienteNomeRequired")
                    tr
                        td CPF
                        td 
                            +switch("cpfNomeAtivo")
                        td 
                            +switch("cpfNomeRequired")
                    tr
                        td RG
                        td 
                            +switch("rgNomeAtivo")
                        td 
                            +switch("rgNomeRequired")
                    tr
                        td Nome
                        td
                            +switch("pacienteNomeAtivo")
                        td
                            +switch("pacienteNomeRequired")
                    tr
                        td CPF
                        td 
                            +switch("cpfNomeAtivo")
                        td 
                            +switch("cpfNomeRequired")
                    tr
                        td RG
                        td 
                            +switch("rgNomeAtivo")
                        td 
                            +switch("rgNomeRequired")
                    tr
                        td Nome
                        td
                            +switch("pacienteNomeAtivo")
                        td
                            +switch("pacienteNomeRequired")
                    tr
                        td CPF
                        td 
                            +switch("cpfNomeAtivo")
                        td 
                            +switch("cpfNomeRequired")
                    tr
                        td RG
                        td 
                            +switch("rgNomeAtivo")
                        td 
                            +switch("rgNomeRequired")
                    tr
                        td Nome
                        td
                            +switch("pacienteNomeAtivo")
                        td
                            +switch("pacienteNomeRequired")
                    tr
                        td CPF
                        td 
                            +switch("cpfNomeAtivo")
                        td 
                            +switch("cpfNomeRequired")
                    tr
                        td RG
                        td 
                            +switch("rgNomeAtivo")
                        td 
                            +switch("rgNomeRequired")
                    tr
                        td Nome
                        td
                            +switch("pacienteNomeAtivo")
                        td
                            +switch("pacienteNomeRequired")
                    tr
                        td CPF
                        td 
                            +switch("cpfNomeAtivo")
                        td 
                            +switch("cpfNomeRequired")
                    tr
                        td RG
                        td 
                            +switch("rgNomeAtivo")
                        td 
                            +switch("rgNomeRequired")
  
            .button-group
                +buttonLink("Cancelar")
                +buttonPositivePrimary("Salvar Paciente")