extends layouts/layout.pug

block content

    section.card
        .card-header
            h2.card-title Pacientes

        form.pacientes(action="")

            .fieldset
                .card-header
                    .card-title Geral
                    .card-options
                        +buttonList
                        +buttonGrid
                        +buttonConfig
                .form-content
                    +inputText("Nome")
                    +inputData("Data de nascimento")

                    +option-group-unique([
                        'Feminino',
                        'Masculino'
                    ],"Sexo")

                    +option-group-unique([
                        'A',
                        'B',
                        'AB',
                        'A',
                        'B',
                        'AB',                        
                        'O'
                    ],"Tipo Sanguíneo")
                    
                    +option-group-unique([
                        'Positivo',
                        'Negativo'
                    ],"Fator RH")
                    
                    +option-group-unique([
                        'Positivo',
                        'Negativo'
                    ],"Fator DU")

                    +inputText("CPF", "cpf")
                    +inputText("RG")
                    +inputText("Nome do pai")
                    +inputText("Nome da mãe")
                    +textarea("Observação")

            .fieldset
                .form-header
                    .card-title Endereços
                .form-content.form-enderecos
                    +inputText("Cep", "cep")
                    +inputText("Logradouro")
                    +inputText("Número")
                    +inputText("Complemento")
                    +inputText("Bairro")
                    +inputSelect([],"Estado","estados")
                    +inputSelect([],"Cidade","cidades")

            .fieldset
                .form-header
                    .card-title Convênios
                .form-content.convenios
                    +card-select("unimed", "convenios")
                      p.plano-numero 0 005 000004181302 0
                      p.plano-tipo RB04 Básico
                    +card-select("unimed", "convenios")
                      p.plano-numero 0 005 000004181302 0
                      p.plano-tipo RB04 Básico
                    +card-select("unimed", "convenios")
                      p.plano-numero 0 005 000004181302 0
                      p.plano-tipo RB04 Básico


            .fieldset
                .form-header
                    .card-title Contatos
                .form-content.form-enderecos
                    +inputEmail("Email")
                    +inputTel("Telefone 1")
                    +inputTel("Telefone 2")

            .fieldset
                .form-header
                    .card-title Outros
                .form-content
                    +inputText("Cor da pele")
                    +inputText("Etnia")

            .button-group
                +button("Cancelar")
                +buttonLink("Voltar")
                +buttonPositivePrimary("Avançar")