extends layouts/layout.pug

block content

    section.card
        .card-header
            h2.card-title Pacientes

        form.pacientes(action="")

            .fieldset
                .form-header
                    .card-title Geral
                .form-content              
                    +inputText("Nome")
                    +inputData("Data de nascimento")

                    +radio-group([
                        'Feminino',
                        'Masculino'                        
                    ],"Sexo")

                    +radio-group([
                        'A',
                        'B',
                        'AB',
                        'O'
                    ],"Tipo Sanguíneo")
                    
                    +checkbox-group([
                        'Positivo',
                        'Negativo'
                    ],"Fator RH")
                    
                    +checkbox-group([
                        'Positivo',
                        'Negativo'
                    ],"Fator DU")

                    +inputText("CPF", "cpf")
                    +inputText("RG")                
                    +inputText("Nome do pai")
                    +inputText("Nome da mãe")
                    +textarea("Observação")

            .fieldset
                .form-header
                    .card-title Endereços
                .form-content.form-enderecos
                    +inputText("Cep", "cep")
                    +inputText("Logradouro")
                    +inputText("Número")
                    +inputText("Complemento")
                    +inputText("Bairro")
                    +inputSelect([],"Estado","estados")
                    +inputSelect([],"Cidade","cidades")

            .fieldset
                .form-header
                    .card-title Convênios
                .form-content.convenios
                    +card-select("unimed", "convenios")
                    +card-select("unimed", "convenios")
                    +card-select("unimed", "convenios")
                    +card-select                                                                       
                                                            
            .fieldset
                .form-header
                    .card-title Contatos
                .form-content.form-enderecos
                    +inputEmail("Email")
                    +inputTel("Telefone 1")
                    +inputTel("Telefone 2")

            .fieldset
                .form-header
                    .card-title Outros
                .form-content          
                    +inputText("Cor da pele")
                    +inputText("Etnia")

            .button-group
                +button("Cancelar")
                +buttonLink("Voltar")
                +buttonPositivePrimary("Avançar")