extends layouts/layout.pug

block content

    section.card
        .card-header
            h2.card-title Pacientes

        form.pacientes(action="")

            div.fieldset
                .form-header
                    .card-title Geral
                .form-content              
                    +inputText("Nome")
                    +inputData("Data de nascimento")
                    +inputSelect([
                        'Selecione',
                        'masculino',
                        'feminino'
                    ],"Sexo")
                    +inputSelect([
                        'Selecione',
                        'A',
                        'B',
                        'AB',
                        'O'
                    ],"Tipo Sanguíneo")
                    +inputSelect([
                        'Selecione',
                        'Positivo',
                        'Negativo'
                    ],"Fator RH")   
                    +inputSelect([
                        'Selecione',
                        'Positivo',
                        'Negativo'
                    ],"Fator DU")
                    +inputCpf("CPF")
                    +inputText("RG")                    
                    +textarea("Observação")
                    +inputText("Nome do pai")
                    +inputText("Nome da mãe")

            div.fieldset
                .form-header
                    .card-title Endereços
                .form-content.form-enderecos
                    +inputCep("Cep")
                    +inputText("Logradouro")
                    +inputText("Número")
                    +inputText("Complemento")
                    +inputText("Bairro")
                    +inputSelect([],"Estado","estados")
                    +inputSelect([],"Cidade","cidades")

            div.fieldset
                .form-header
                    .card-title Contatos
                .form-content.form-enderecos
                    +inputEmail("Email")
                    +inputTel("Telefone 1")
                    +inputTel("Telefone 2")

            div.fieldset
                .form-header
                    .card-title Outros
                .form-content          
                    +inputText("Cor da pele")
                    +inputText("Etnia")

            .button-group
                +button("Cancelar")
                +buttonLink("Voltar")
                +buttonPositivePrimary("Avançar")