extends layouts/layout.pug

block content

    section.card
        .card-header
            h2.card-title Dados adicionais paciente

        form.pacientes(action="")
            div.fieldset
                .card-header
                    .card-title Menor de idade
                .card-content
                    +inputText("Nome do responsável")
                    +inputText("Documento")
                    +inputText("Número")

            div.fieldset
                .card-header
                    .card-title Maternidade
                .card-content
                    +spinner("1","99","1","0")
                        label Filhos               
                    +spinner("1","99","1","0")
                        label Parto normal
                    +spinner("1","99","1")
                        label Cesariana
                    +spinner("1","99","1")
                        label Gestação
                    +spinner("1","99","1")
                        label Aborto
                    +spinner("1","99","1")
                        label Lactante

            div.fieldset
                .card-header
                    .card-title Ciclo menstrual
                .card-content
                    +inputText("Menstrução recente")
                    +inputText("Menopausa")
                    +inputText("Histerectomizada")
                                  
            .button-group
                +button("Cancelar")
                +buttonLink("Voltar")
                +buttonPositivePrimary("Avançar")