// Colors
// Version: 1.0.1
// Date: 22/07/2014
// Last Update: 22/07/2014


// Variables

// Base
@color-white: #fff;
@color-black: #000;
@color-base: #000;

@null: ~";box-shadow: 0px -9px 0px 11px @{color-white}, 0px 27px 0px 11px @{color-white}, -9px -18px 0px 3px #bbb, 9px -18px 0px 3px #bbb, 9px 36px 0px 3px #bbb, -9px 36px 0px 3px #bbb;";

// apply ~"@{null}";
// Theme

// @base: #663333;
// @complement1: spin(@base, 180);
// @complement2: darken(spin(@base, 180), 5%);
// @lighten1: lighten(@base, 15%);
// @lighten2: lighten(@base, 30%);

@color-base: #b7251c;
	// Calculate colors
	@color-base-light1: lighten(spin(@color-base, 5), 25%);
	@color-base-light2: lighten(spin(@color-base, 10), 50%);
	@color-base-dark1: darken(spin(@color-base, -5), 10%);
	@color-base-dark2: darken(spin(@color-base, -10), 20%);

	// Custom colors
	// @color-base-light1: #ffe8be;
	// @color-base-light2: #faf3e5;
	// @color-base-dark1: darken(spin(@color-base, -5), 10%) ~"@{null}";;
	// @color-base-dark2: #261912;


@color-primary: #293c8f;
	// Calculate colors
	@color-primary-light1: lighten(spin(@color-primary, 5), 25%);
	@color-primary-light2: lighten(spin(@color-primary, 10), 50%);
	@color-primary-dark1: darken(spin(@color-primary, -5), 10%);
	@color-primary-dark2: darken(spin(@color-primary, -10), 20%);

	// Custom colors
	// @color-primary-light1: #ffe8be;
	// @color-primary-light2: #faf3e5;
	// @color-primary-dark1: darken(spin(@color-primary, -5), 10%) ~"@{null}";;
	// @color-primary-dark2: #261912;

@color-secondary: #de4228;
@color-secondary: darken(spin(@color-primary, 180), 5%);
	// Calculate colors
	@color-secondary-light1: lighten(@color-secondary, 25%);
	@color-secondary-light2: lighten(@color-secondary, 50%);
	@color-secondary-dark1: darken(spin(@color-secondary, -5), 10%);
	@color-secondary-dark2: darken(spin(@color-secondary, -10), 20%);
	// Custom colors
	// @color-secondary-light1: lighten(@color-secondary, 43%);
	// @color-secondary-light2: lighten(@color-secondary, 63%);
	// @color-secondary-dark1: darken(spin(@color-secondary, -5), 10%);
	// @color-secondary-dark2: darken(spin(@color-secondary, -10), 20%);


// Colors
.color-white()					{color: @color-white;}
.color-base()					{color: @color-base;}
.color-black()					{color: @color-black;}

.color-primary()				{color: @color-primary;}
.color-primary-light1()			{color: @color-primary-light1;}
.color-primary-light2()			{color: @color-primary-light2;}
.color-primary-dark1()			{color: @color-primary-dark1;}
.color-primary-dark2()			{color: @color-primary-dark2;}

.color-base()					{color: @color-base;}
.color-base-light1()			{color: @color-base-light1;}
.color-base-light2()			{color: @color-base-light2;}
.color-base-dark1()				{color: @color-base-dark1;}
.color-base-dark2()				{color: @color-base-dark2;}

.color-secondary()				{color: @color-secondary;}
.color-secondary-light1()		{color: @color-secondary-light1;}
.color-secondary-light2()		{color: @color-secondary-light2;}
.color-secondary-dark1()		{color: @color-secondary-dark1;}
.color-secondary-dark2()		{color: @color-secondary-dark2;}

// Background Colors
.background-white()				{background-color: @color-white;}
.background-base()				{background-color: @color-base;}
.background-black()				{background-color: @color-black;}

.background-base()				{background-color: @color-base;}
.background-base-light1()		{background-color: @color-base-light1;}
.background-base-light2()		{background-color: @color-base-light2;}
.background-base-dark1()		{background-color: @color-base-dark1;}
.background-base-dark2()		{background-color: @color-base-dark2;}

.background-primary()			{background-color: @color-primary;}
.background-primary-light1()	{background-color: @color-primary-light1;}
.background-primary-light2()	{background-color: @color-primary-light2;}
.background-primary-dark1()		{background-color: @color-primary-dark1;}
.background-primary-dark2()		{background-color: @color-primary-dark2;}

.background-secondary()			{background-color: @color-secondary;}
.background-secondary-light1()	{background-color: @color-secondary-light1;}
.background-secondary-light2()	{background-color: @color-secondary-light2;}
.background-secondary-dark1()	{background-color: @color-secondary-dark1;}
.background-secondary-dark2()	{background-color: @color-secondary-dark2;}

// Border colors

.border-color-base()			{border-color: @color-base;}
.border-color-primary()			{border-color: @color-primary;}
.border-color-secondary()		{border-color: @color-secondary;}
