// Utilitys Classes
// Version: 1.0.1
// Date: 01/09/2014
// Last Update: 01/098/2014

.left{
	float: left !important;
	&-align{
		text-align: left !important;
	}
}

.tright{
	text-align: right;
}

.tcenter{
	text-align: center;
}

.hide {
	display: none;
}

.uppercase{
	text-transform: uppercase;
}

.border(@color:@color-primary){
	border:2px solid @color;
}

.box{
	.border();
}
