#visible{
	.mobile-visible,
	.tablet-visible,
	.desktop-visible {
		display: block;
	}
}

@media @mobile{
	#visible;
	.mobile-hidden{
		display: none;
	}
}

@media @tablet{
	#visible;
	.tablet-hidden{
		display: none;
	}
}

@media @desktop{
	#visible;
	.desktop-hidden{
		display: none;
	}
}

.svg-mask {
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
}
