#alert-default{
    .radius;
    .padding;
    .margin-bottom;
    .close{
        float: right;  
        padding: 0;
        opacity: .2;
        font-size: 21px;
        font-weight: 700;
        line-height: 1;
        color: inherit;
        &:hover{
            opacity: 1;            
        }
        i{
            color: inherit;
        }
    }
}

.alert-config(@color){
    @dark: darken(@color, 5%);
    @aqua: lighten(@color, 48%);
    color: @dark;
    background: @aqua;
    border: 1px solid @dark;
}

.alert-info{
    &:extend(#alert-default all);
    .alert-config(@color-info);
}
.alert-danger{
    &:extend(#alert-default all);
    .alert-config(@color-danger);
}
.alert-success{
    &:extend(#alert-default all);
    .alert-config(@color-success);    
}
.alert-warning{
    &:extend(#alert-default all);
    .alert-config(@color-warning);
}