.cards {
    display: grid;
    grid-gap: 30px;
	grid-template-columns: repeat(4, minmax(auto, calc(100%/4)));	
	> li {
		.card;
	}
}


.card {
	.shadow();
	.radius();
	.padding();
	.transition();
	background: @color-white;
	border: 1px solid #e3e3e3;

	&-header {
		display: flex;
		// padding: 20px 0;
		align-items: center;
		justify-content: space-between;
		.card-options{
			> * + * {
				margin-left: 5px; 
			}
			.btn-icon:hover {
				transform: translate(0, -5px);
			}			
		}

	}

		&-title {
			font-size: 1.6rem;
		}
		&-options{
			display: flex;		
		}

	&-content{

	}
	&-footer{

	}

}


