mixin data-item
    .data-item
        figure
            img(src="img/blog-1.png" alt="") 
        .data-content
            h2 Nome da materia
            time 10/09/2018
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id elit at urna commodo convallis id vel leo. Suspendisse a pretium tortor.
            a.data-link.button.primary.positive(href="#") Leia mais