.data-content {
    padding: 30px 40px;
    border-top: 3px solid;
    h2{
        font: 100 1.8rem @font-stack;
    }
    p{
        margin: 20px 0;
    }
}

.data-item {
    border: 1px solid #dedddd;
    position: relative;
    figure {
        height: 241px;
        background: #d8d7d7;
    }    
}

.data-link{
    .radius-full();
    padding-left: 30px;
    padding-right: 30px;
}