.float-action {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .btn-icon {
        display: flex;
        align-items: center;
        justify-content: space-around;        
        border-radius: 100%;
        color: #fff;
          &:not(:last-child) {
            width: 45px;
            height: 45px;
            opacity: 0;
            transform: translateY(50px);
            background: @color-secondary;
            &:hover {
                background: @color-secondary-light1;
            }            
        }
        &:nth-last-child(1) {
            width: 50px;
            height: 50px;
            background: @color-primary;
            position: relative;
            z-index: 1;
            #shadow(default);
            &:hover {
                transform: unset;
            }                                   
        }
        &:nth-last-child(2) {
            transition-delay: 20ms;
        }
        &:nth-last-child(3) {
            transition-delay: 40ms;
        }
        &:nth-last-child(4) {
            transition-delay: 60ms;
        }
        &:nth-last-child(5) {
            transition-delay: 80ms;
        }
        &:nth-last-child(6) {
            transition-delay: 120ms;
        }                                
    }
    svg{
        width: 20px;
        height: 20px;
        fill: currentColor;
    }
    &:hover .btn-icon{
        &:not(:last-child) {
            opacity: 1;
            transform: none;
            margin-bottom: 15px;
        }
        &:last-child {
            transform: rotate(-45deg);        
        }
    }
}