#list-pattern(){
	padding-left: 20px;
	margin-bottom: @space * 3;
	li{
		padding-left: 1em;
		text-indent: -.7em;
		.font-base;
		&:before{
			display: inline-block;
			width: 5px;
		}

		a{
			&:extend(.text a);
		}
	}
}

.list{
	#list-pattern;

	ul&{
		li{
			&:before {
				content: "• ";
				color: @color-primary;
			}
		}
	}
	ol&{
		counter-reset: subsection;
		li{
			&:before {
				counter-increment: subsection;
    			content: counter(subsection) ".";
				color: @color-primary;
			}
		}

	}

	&-flex-grid{
		display: flex;
		flex-wrap: wrap;
		margin: 30px 0;
    	justify-content: space-between;
		li{
			width: 40px;
			margin-bottom: 20px;
		}
	}

}
