#table-pattern(){
    border-collapse: collapse;
    width: 100%;
    margin-bottom: @space * 3;
	td{
		.text;
	}

	th, td {
	    padding: 20px 0;
	}

	th{
		text-align: left;
		a{
			font-size: 1.6rem;
			position: relative;
			margin-right: 30px;
			&:before{
				color: @color-grayscale3;
				content: "\f0dc";
			}
			&:after, &:before{
				.awesome;
				position: absolute;
				top: -2px;
				right: -15px;
			}
			.asc, .desc{
				.awesome;
				position: absolute;
				top: -2px;
				right: -15px;
			}
			.asc:after{
				content: "\f0de";
			}
			.desc:after{
				content: "\f0dd";
			}
		}
	}
	tr + .search-empty{
		display: none;
	}

}


.table{
	#table-pattern();
	th {
		border-bottom: 2px solid @color-grayscale2;
	}

	td {
		border-bottom: 1px solid @color-grayscale2;
	}

	tr{
		&:last-child td,
		&:nth-last-child(2) td{
			border-bottom: none;
		}
	}
}


.table-bordered{}

.table-striped{
	#table-pattern();
	th {
		border-bottom: 2px solid @color-grayscale2;
	}

	td {
		border-bottom: 1px solid @color-grayscale2;
	}

	th, td{
		&:first-child{
			padding-left: 10px;
		}
	}

	tr:nth-child(even){
		background: @color-grayscale1;
	}

	tr{
		&:last-child td,
		&:nth-last-child(2) td{
			border-bottom: none;
		}
	}
}
