@box-style: default;

@box-padding: 5px;
@box-margin-bottom: 15px;

.box{
	#box(@box-style);
}

#box(@box-style){
	&when ((@box-style) = default)		{ #box-default(); }
}

#box-default(){
	padding: @box-padding;
	margin-bottom: @box-margin-bottom;
	background: @color-primary;
	position: relative;
	box-sizing: border-box;
	&:after{
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: ~'calc(100% - 10px)';
		height: ~'calc(100% - 10px)';
		border: 1px dashed #fff;
		margin: 4px 5px 5px 5px;
	}
}


.img{
	position: relative;
	&:after{
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: ~'calc(100% - 10px)';
		height: ~'calc(100% - 10px)';
		border: 1px dashed #fff;
		margin: 4px 5px 5px 5px;
	}	
}
