@hr-style: 15;

@hr-color: @color-primary;

.hr{
	width: 100%;
	float: left;
	#hr(@hr-style);
}

#hr(@hr-style){
	&when ((@hr-style) = default)		{ #hr-default(); }
	&when ((@hr-style) = 2)				{ #hr-2(); }
	&when ((@hr-style) = 3)				{ #hr-3(); }
	&when ((@hr-style) = 4)				{ #hr-4(); }
	&when ((@hr-style) = 5)				{ #hr-5(); }
	&when ((@hr-style) = 6)				{ #hr-6(); }
	&when ((@hr-style) = 7)				{ #hr-7(); }
	&when ((@hr-style) = 8)				{ #hr-8(); }
	&when ((@hr-style) = 9)				{ #hr-9(); }
	&when ((@hr-style) = 10)			{ #hr-10(); }
	&when ((@hr-style) = 11)			{ #hr-11(); }
	&when ((@hr-style) = 12)			{ #hr-12(); }
	&when ((@hr-style) = 13)			{ #hr-13(); }
	&when ((@hr-style) = 14)			{ #hr-14(); }
	&when ((@hr-style) = 15)			{ #hr-15(); }
	&when ((@hr-style) = 16)			{ #hr-16(); }
	&when ((@hr-style) = 17)			{ #hr-17(); }
}

#hr-default(){
	border-top: 1px solid @hr-color;
}


#hr-2() {
	border-top: 3px double @hr-color;
}

#hr-3() {
	border-top: 1px dashed @hr-color;
}

#hr-4() {
	border-top: 1px dotted @hr-color;
}

#hr-5() {
	background-color: #fff;
	border-top: 2px dashed @hr-color;
}


#hr-6() {
	background-color: #fff;
	border-top: 2px dotted @hr-color;
}

#hr-7() {
	border-top: 1px solid @hr-color;
	border-bottom: 1px solid #fff;
}


#hr-8() {
	border-top: 1px solid @hr-color;
	border-bottom: 1px solid #fff;
	&:after {
		content: '';
		display: block;
		margin-top: 2px;
		border-top: 1px solid @hr-color;
		border-bottom: 1px solid #fff;
	}
}

#hr-9() {
	border-top: 1px dashed @hr-color;
	border-bottom: 1px dashed #fff;
}

#hr-10() {
	border-top: 1px dotted @hr-color;
	border-bottom: 1px dotted #fff;
}


#hr-11() {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
	border: 0;
}


#hr-12() {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
	border: 0;
}

#hr-13() {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px @hr-color inset;
}


#hr-14() { 
	border: 0; 
	height: 1px; 
	background-image: -webkit-linear-gradient(left, @body-bg, @hr-color, @body-bg);
	background-image: -moz-linear-gradient(left, @body-bg, @hr-color, @body-bg);
	background-image: -ms-linear-gradient(left, @body-bg, @hr-color, @body-bg);
	background-image: -o-linear-gradient(left, @body-bg, @hr-color, @body-bg); 
}


#hr-15() {
	border-top: 4px double @hr-color;
	text-align: center;
	&:after {
		content: '\002665';
		display: inline-block;
		position: relative;
		top: -15px;
		padding: 0 10px;
		background: @body-bg;
		color: @hr-color;
		font-size: 18px;
	}
}

#hr-16() { 
	border-top: 1px dashed @hr-color; 
	&:after { 
		content: '\002702'; 
		display: inline-block; 
		position: relative; 
		top: -12px; 
		left: 40px; 
		padding: 0 3px; 
		background: @body-bg; 
		color: @hr-color; 
		font-size: 18px; 
	}
} 


#hr-17() {
	border-top: 1px solid @hr-color;
	text-align: center;
	&:after{
		content: '§';
		display: inline-block;
		position: relative;
		top: -14px;
		padding: 0 10px;
		background: @body-bg;
		color: @hr-color;
		font-size: 1.8rem;
		transform: rotate(60deg);
	}
}

#hr-18() { 
	height: 30px; 
	border-style: solid; 
	border-color: @hr-color; 
	border-width: 1px 0 0 0; 
	border-radius: 20px; 
	&:before { 
		display: block; 
		content: ""; 
		height: 30px; 
		margin-top: -31px; 
		border-style: solid; 
		border-color: @hr-color; 
		border-width: 0 0 1px 0; 
		border-radius: 20px; 
	}
} 
