@link-style: "";

.link{
	// #link-menu();
	// #link-default();
	#link-default();
	// #link(@link-style);
}

#link(@link-style){
 	#link-default();
	// &when ((@link-style) = metro)		{	#link-metro();		}
	// &when ((@link-style) = round)		{	#link-round();		}
	// &when ((@link-style) = fullround)	{	#link-fullround();	}
	// &when ((@link-style) = gradient)	{	#link-gradient();	}
	// &when ((@link-style) = ghost)		{	#link-ghost();		}
}

#link-default(){
	font: @size-base @font-base;
	color: @color-primary;
	transition: @transition;
	&:hover{
		color: @color-secondary;
	}
	&:focus{

	}
}

#link-menu{
	font: @size-base @font-base;
	color: @color-primary;
	text-decoration: none;
	position: relative;
	padding: 2px 20px 2px 18px;
	&:before {
		content: "";
		display: block;
		transform: skew(-30deg);
		background-color: @color-primary;
		width: 0;
		height: 120%;
		position: absolute;
		top: -10%;
		left: -1%;
		z-index: -1;
		transition: .5s;
	}

	&:after {
		content: "";
		display: block;
		transform: skew(-30deg);
		border-right: 2px solid @color-primary;
		width: 100%;
		height: 120%;
		position: absolute;
		top: -10%;
		// left: -100%; + .link:after
		left: 0%;
		z-index: -1;
	}	

	&:hover, &:focus{
		color: @white;
		outline: none;
		&:before {
		    width: 102%;
		}		
	}
}
