@showcase-style: default;

.showcase{
	#showcase(@showcase-style);
}

#showcase(@showcase-style){
	&when ((@showcase-style) = default)		{ #showcase-default(); }
}

#showcase-default(){
	#reset(list);
	width: 100%;
	&[data-layout="grid"]{
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
	}

	&[data-layout="list"]{
		display: flex;
		flex-flow: column;
	}	
	li{
		.col-phone(1, 2);
		.col-tablet(1, 3);
		.col-desktop(1, 5);
		text-align: center;
		margin-bottom: 45px;
		// padding: 15px;
		// outline: 1px solid;
		display: flex;
		justify-content: space-between;
		flex-flow: column;
	}

	.button{
		display: block;
		margin: 0 auto;
		max-width: 80%;
		width: 100%;
	}
	a:not(.button){
		display: block;
		text-decoration: none;
	}

	p{
		margin: 0;
	}
	.showcase-info {
		margin: 5px 0 10px;
	}
	figure{
		height: 210px;
		margin: 0;
		position: relative;
	}
	img {
		max-height: 160px;
		margin: 0 auto;
	}

}
.showcase-nome{
	height: 35px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}

.showcase-preco-de{
	color: red;
	text-decoration: line-through;
}
