/* Button - Pattern */
// Padrão básico aplicado a todos os botões através do uso de &:extend
.button, button{
	@height: 6px;
	// @width: 20px;
	@width: 8px;

	@color1: #ce0c0c;
	@color2: #38be0a;

	display: inline-block;
	background-color: @white;
	.border-radius(0.3em);
	.font-size(1.4);
	.line-height(1.1);
	.font-regular;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: .05em;
	cursor: pointer;
	margin: 1px 1px;
	color: #838383;
	border: 1px solid;
	padding: 5px 20px 8px 20px;
	padding: @height @width;
	.linear-gradient(@to: top);
	// State rules
	&:hover{
		.linear-gradient(@to: bottom);
	}

	&.desactive{
		background-image:none;
		cursor: default; /* Fallback */
		cursor: not-allowed;
		&:focus, &:active{
			outline: 0;
			// &:before{
			// 	content:"X ";
			// }
		}
	}

	&.danger{
		.btn-color(@color-third);
	}

	&.success{
		.btn-color(#aeca5c);
	}
	&.warning{
		.btn-color(@color-secondary);
	}

	//
	&.pp{
		padding: @height/2 @width/2;
		.font-size(1.1);
	}
	&.p{
		padding: @height/2 @width/2;
	}
	&.m{
		padding: @height*1.5 @height;
	}
	&.g{
		padding: @height*1.5 @width*1.5;
	}
	&.xg{
		padding: @height*2 @width*2;
	}
	&.full{
		display: block;
		width: 100%;
		text-align: center;
	}
	i {
		font-size: 150%;
		position: relative;
		top: 3px;
		margin-right: 5px;
	}
}

// Button - Mixin Colors
.btn-color(@x){
	background-color: @x;
	border-color: darken(@x, 10%);
	color: @white;
	// State rule
	&.is-desactive{
		background-color: desaturate(lighten(@x, 10%),60%);
		border-color: desaturate(darken(@x, 10%),60%);
	}
}