/*==============================
=            Botoes            =
==============================*/

/*Botoes estilo padrao*/
[class^="bt-"]{
	display: inline-block;
	.border-radius(5px);
	text-transform: @button-text-transform;
	color: @button-color;
	border: @button-border;
	.bt-pequeno;
	cursor: pointer;
	font: 14px @regular;
	text-decoration: none;
	.gradiente-vertical-bottom;
	&:hover{
		.gradiente-vertical-top;
	}
}
/*Botoes tamanhos*/
@bt-largura: 10px;
@bt-altura: 6px;
.bt-pequeno{
	padding: @bt-altura @bt-largura
}
.bt-medio{
	padding: (@bt-altura * 3)(@bt-largura * 2)
}
.bt-grande{
	padding: (@bt-altura * 2)(@bt-largura * 4)
}
/*Botoes de tamanhos diferentes dos padroes acima, devem obrigatoriamente seguir a largura da grid, inserir .bt-full*/
.bt-full{
	width: 100%;
	text-align: center;
}
/*Botoes Cores*/
.bt-color(@bt-color){
	background-color: @bt-color;
	border-color: darken(@bt-color, 20%);
	/* Efeito botao 3d*/
	// box-shadow: inset -2px -2px 0px -1px darken(@bt-color, 20%);
	// &:active{
	// 	box-shadow: inset 2px 2px 0px -1px darken(@bt-color, 20%);
	// }
}

// Botoes - Personalizacao
// [tamanho] + [cor] + [full]
// example button: .bt-salvar{.bt-pequeno; .bt-amarelo}
// example button color: .bt-amarelo{.bt-color(@cor7);}