.drop-down{
	cursor: pointer;
	position: relative;
	&:after{
		content:"\25BC";
		color: @color0;
		font-size: 70%;
		margin-left: 7px;
		position: relative;
		top: -2px;
	}
	.drop-list{
		display: none;
	}
}

.drop-list {
	display: none;
	// min-width: 130%;
	background: #fff;
	position: absolute;
	top: 40px;
	left: 0;
	z-index: 100;
	a, span{
		display: block;
		.font-size(1.3);
		color: @color2;
	}
}