/*	--------------------------------------------------
	Reveal Modals
-------------------------------------------------- */
.reveal-modal-bg {
	position: fixed;
	height: 100%;
	width: 100%;
	.rgba(#000, 0.7);
	z-index: 100;
	display: none;
	top: 0;
	left: 0;
}
.centralizar-modal(@largura, @altura){
	width: @largura;
	min-height: @altura;
	margin-left: -@largura/2;
	margin-top: -@altura/2;
}
// .reveal-modal {
// 	.background-secondary;
// 	visibility: hidden;
// 	.centralizar-modal(462px,154px);
// 	text-align: center;
// 	z-index: 101;
// 	position: absolute;
// 	top: 50%;
// 	left: 50%;
// 	.border-radius(10px);
// 	h4{
// 		display: block;
// 		height: 30px;
// 		.font-regular;
// 		.font-size(1.4);
// 		.line-height(3.0);
// 		.color-primary;
// 		text-transform: uppercase;
// 		.border-radius(8px 8px 0 0);
// 	}
// 	p{
// 		.font-regular;
// 		.font-size(1.4);
// 		margin: 28px 0px 18px;
// 	}
// 	input{ margin: 0 5px;}
// }
// .reveal-modal .close-reveal-modal {
// 	.font-size(3.0);
// 	.color-primary;
// 	position: absolute;
// 	top: -25px;
// 	right: 0px;
// 	cursor: pointer;
// }

.modal{
	.background-white;
	visibility: hidden;
	.centralizar-modal(462px,100px);
	text-align: center;
	z-index: 101;
	position: absolute;
	top: 50%;
	left: 50%;
	.border-radius(10px);
	padding-bottom: 20px;
	h4{
		display: block;
		height: 30px;
		.font-regular;
		.font-size(1.4);
		.line-height(3.0);
		.color-white;
		text-transform: uppercase;
		.border-radius(8px 8px 0 0);
	}
	p{
		.font-regular;
		.font-size(1.4);
		margin: 28px 0px 18px;
	}
	input{
		margin: 0 5px;
	}
	.close-reveal-modal {
		.font-size(3.0);
		position: absolute;
		top: -25px;
		right: 0px;
		cursor: pointer;
	}

	&.success{
		.color-fourth;
		h4 	{.background-fourth;}
		p 	{color: inherit;}
	}
	&.error{
		.color-third;
		h4 	{.background-third;}
		p 	{color: inherit;}
	}
}

/* ocultar links para chamadas "MODAL" */
.trigger{display:none;}