.listagem-pedidos{
	.row(9);
	&--item{
		.column(9,9);
		margin-bottom: 10px;
		padding: 10px 10px 8px;
		.box-round(@color-secondary-light1);
	}
	&--head{
		.column(2,9);
		dl, a{
			.row(2);
		}
		dt, dd{
			display: block;
		}
		dd{
			.font-size(3.0);
			.line-height(3.0);
			.font-regular;
			margin-top: 5px;
		}
	}
	&--resumo{
		.column(4,9);
		dl{
			.row(7);
			margin-bottom: 2px;
		}
		dt, dd{
			float: left;
			margin-right: 5px;
		}
	}
	&--data, &--total{
		dt{
			.font-size(1.4);
		}
		dd{
			.font-bold;
			.font-size(1.4);
			position: relative;
			top: -1px;
		}
	}
	&--detalhes{
		.column(3,9);
		text-align: right;
		margin-top: 5px;
		i {
			margin-right: 5px;
		}
	}
}
div.listagem-pedidos--item{
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}
.pedido-detalhe--item{
	width: 100%;
	float: left;
	.box-round(@color-secondary-light1);
	margin:0 0 15px 0;
	padding: 10px;
	table {
		width: 100%;
	}
	td, th {
		border: 1px solid @white;
		border-bottom: none;
		padding: 4px;
		.font-regular;
		.font-size(1.4);
		.background-secondary-light1;
	}
	td+td, th+th {
		text-align: center;
	}
	.helper {
		font-size: 12px;
		text-align: center;
		width: 100%;
		display: block;
		margin: 25px 0 5px;
	}
}
.pedido-detalhe--head{
	&--number{
		float: left;
		width: 50px;
		.background-secondary-light1;
		.font-bold;
		.font-size(3.0);
		text-align: center;
		padding: 15px;
	}
	&--detail{
		float: left;
		p, small{
			margin: 4px 0 10px 20px!important;
		}
		p{
			.font-bold;
			.font-size(2.2);
		}
		small{
			.font-regular;
			.font-size(1.5);
		}
	}
}
h2.pedido-title{
	height: 34px;
	.font-bold;
	.font-size(1.4);
	.line-height(3.4);
	text-transform: uppercase;
	margin-bottom: 20px;
	float: left;
}
.pedido-detalhe--rastreamento{
	ol{
		display: table;
		width: 100%;
		margin-top: 15px;
	}
	i{
		width: 100%;
		display: block;
		font-size: 60px;
		text-align: center;
	}
	li{
		float: left;
		width: 20%;
		text-align: center;
	}
	&--nome {
		display: block;
		width: 80%;
		.font-regular;
		.font-size(1.9);
		.line-height(1.7);
		margin:5px auto;
	}
	&--date, &--hour{
		display: block;
		.font-regular;
		.font-size(1.2);
	}
	// Status
	&--complete{
		i, .pedido-detalhe--rastreamento--nome{
			.color-fourth;
		}
	}
	&--incomplete{
		i, .pedido-detalhe--rastreamento--nome{
			.color-secondary-dark1;
		}
	}
	&--canceled{
		i, .pedido-detalhe--rastreamento--nome{
			.color-primary;
		}
	}
	&--waiting{
		.opacity(0.4)!important;
		.pedido-detalhe--rastreamento--date,
		.pedido-detalhe--rastreamento--hour{
			display:none;
		}
	}
}