.search-bar{
	.helper{
		float: left;
		padding: 7px;
		margin: 5px;
		.color-primary;
		.font-especial;
		text-transform: uppercase;
		.font-size(1.6);
	}
	input[type="search"]{
		float: left;
		width: 270px;
		margin: 2px 0px;
	}
	select{
		float: left;
		width: 150px;
		margin: 2px 0px 2px 5px;
	}
	.button{
		height: 90%;
		margin: 2px;
		float: right;
	}
}

