html {
  font-size: 62.5%; /* Sets up the Base 10 stuff */
}

p, li{
	.font-regular;
	.color-base;
}

.banner-slider{
	position: relative;
	height: 330px;
	// overflow: hidden;
}

.banner{
	&-container{
		display: table;
		width: 960px;
		.space;
	}
	&-25	{.column(3); }
	&-33	{.column(4); }
	&-50	{.column(6); }
	&-75	{.column(9); }
	&-100	{.column(12);}
}
.faixa-frete{
	.column(12);
}

body{
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	.font-regular;
}

.main{
	.wrap;
	.space;
	display: table;
	> section{
		margin-top: @space;
	}
}

.breadcrumb{
	.column(12);
	.space-bottom;
}

.filtro{
	.column(3);
}

aside{
	& + .produtos{
		.column(9);
		.banner{
			&-container{
				.row(9);
				.space-bottom;
			}
			// &-25	{.column(3); }
			// &-33	{.column(4); }
			// &-50	{.column(6); }
			&-75	{.column(9,9); }
			&-100	{.column(9,9); }
		}
		.lista-produtos{
			.row(9);
			&.grid{
				.produto-item{
					.column(3,9);
					margin-bottom: 30px;
				}
			}
			&.list{
				.produto-item{
					.column(9,9);
					margin-bottom: 30px;
				}
			}
		}
	}
}

.conteudo-container{
	.column(9);
}

.col-1  {  .column(1); }
.col-2  {  .column(2); }
.col-3  {  .column(3); }
.col-4  {  .column(4); }
.col-5  {  .column(5); }
.col-6  {  .column(6); }
.col-7  {  .column(7); }
.col-8  {  .column(8); }
.col-9  {  .column(9); }
.col-10 { .column(10); }
.col-11 { .column(11); }
.col-12 { .column(12); }

.row-1  {  .row(1);  }
.row-2  {  .row(2);  }
.row-3  {  .row(3);  }
.row-4  {  .row(4);  }
.row-5  {  .row(5);  }
.row-6  {  .row(6);  }
.row-7  {  .row(7);  }
.row-8  {  .row(8);  }
.row-9  {  .row(9);  }
.row-10 {  .row(10); }
.row-11 {  .row(11); }
.row-12 {  .row(12); }


.row-col(@n){
	> .col-1 {  .column(1,@n);  }
	> .col-2 {  .column(2,@n);  }
	> .col-3 {  .column(3,@n);  }
	> .col-4 {  .column(4,@n);  }
	> .col-5 {  .column(5,@n);  }
	> .col-6 {  .column(6,@n);  }
	> .col-7 {  .column(7,@n);  }
	> .col-8 {  .column(8,@n);  }
	> .col-9 {  .column(9,@n);  }
	> .col-10{  .column(10,@n); }
	> .col-11{  .column(11,@n); }
	> .col-12{  .column(12,@n); }
}

.row-1 { .row-col(1);  }
.row-2 { .row-col(2);  }
.row-3 { .row-col(3);  }
.row-4 { .row-col(4);  }
.row-5 { .row-col(5);  }
.row-6 { .row-col(6);  }
.row-7 { .row-col(7);  }
.row-8 { .row-col(8);  }
.row-9 { .row-col(9);  }
.row-10{ .row-col(10); }
.row-11{ .row-col(11); }
.row-12{ .row-col(12); }


.divdiv{
	display: table;
	width: 100%;
	border:1px solid @color-primary;
	margin: 10px auto;
	div{
		.font-size(1.4);
		margin: 10px;
		text-align: center;
	}
	a{
		display: block;
		.font-size(1.8);
		margin: 10px!important;
		float: left;
	}
	p{
		display: block;
		clear: both;
		.font-size(1.8);
		margin: 10px!important;	
	}
}

.contato input[type="submit"] {
	float: right;
}
.hidden-block {
	display: none;
}