@input-style: default;
@input-height: 30px;
@textarea-height: auto;
@input-background: #eee;
@input-border-color: @color-primary;
@input-color: @color-primary;

.input{
	#input(@input-style);
	height: @input-height;
}

.textarea{
	#input(@input-style);
	height: @textarea-height;
}

#input(@input-style){
	&when ((@input-style) = default)		{ #input-default(); }
	&when ((@input-style) = underline)		{ #input-underline(); }
}

#input-base(){
	font: @size-base @font-base;
	color: @input-color;
	width: 100%;
	transition: 0.2s;
	display: block;	
	&:focus{
		outline: none;
	}
	.placeholder({
		font: @size-base @font-base;
		color: @color-base;
		font-style: italic;
	});		
}



#input-default(){
	#input-base();

	background: @input-background;
	border: 1px solid @input-border-color;
	text-indent: 10px;

	&:focus{
		border-color: @color-base;
		border-style: dashed;
	}
	.invalid &{
		border-color: @color-invalid;
		&:focus{
			outline: 1px solid @color-invalid;
		}
	}
	.valided &{
		border-color: @color-valided;
		&:focus{
		}
	}
}

#input-underline(){
	#input-base();
	border: none;
	border-bottom: 2px solid @input-border-color;
}

.placeholder({
	color: red;
});
