/*===========================================
=			Paginas de carrinho			=
===========================================*/

/*==========  Header  ==========*/
.header-checkout {
	height: 100px;
	.background-secondary-light1;
	border-bottom: 5px solid;
	.border-color-secondary;
	margin-bottom: 70px;
}
.andamento-pedido{
	.column(8);
	.push(1);
	float: right;
	margin-right: 0px;
	position: relative;
	top: 40px;
	li{
		display: table;
		float: left;
		width: 140px;
		height: 22px;
		margin: 0 1.0416666666666665%;
		padding: 3px 0px;
		.border-box;
		.background-secondary;
		.color-primary;
		.font-especial;
		.font-size(1.5);
		text-align: center;
		text-transform: uppercase;
		position: relative;
		&:last-child{
			margin-right: 0px;
		}
		&.ativo{
			.background-primary;
			.color-secondary;
		}
		&.ativo:after{
			content: "";
			display: block;
			width: 12px;
			height: 10px;
			border-width: 12px 10px 0px 10px;
			border-color: @color-primary transparent transparent;
			border-style: solid;
			position: absolute;
			bottom: -12px;
			left: 50%;
			margin-left: -6px;
		}
	}
}
/*==========  Footer  ==========*/
.footer-checkout{
	background: url(../img/bg-footer-checkout.jpg) repeat-x;
	clear: both;
	.color-primary;

	&-info{
		height: 30px;
		.background-secondary-light1;
		.font-size(1.2);
		.line-height(3.0);
		.font-regular;
		text-align: center;
	}

	&-info2{
		height: 30px;
		.background-secondary;
		i, p{
			.color-primary;
			float: left;
		}
		i{
			.font-size(2.5);
			.line-height(3.3);
			margin-right: 10px;
		}
		p{
			.font-size(1.2);
			.line-height(3.3);
			.font-regular;
			text-transform: uppercase;
		}
		span{
			display: block;
			width: 230px;
			height: 30px;
			float: right;
			background: url(../img/selos-seguranca.jpg)
		}
	}
}


/*==========  Carinho  Tabela==========*/
.carinho-de-compras {
	form, table{
		display: block;
		width: 940px;
		margin: 0 auto;
	}
	table {
		border-bottom: 2px solid @color-primary;
		padding-bottom: 10px;
	}
	thead{
		.background-secondary-light1;
	}
	tr{	}
	.produto{
		width: 390px;
		span{
			display: block;
			min-width: 250px;
			margin-top: 2px;
			padding-left: 10px;
			float: left;
			.color-base;
		}
		.nome{
			.font-bold;
			.font-size(1.4);
			margin: 12px 0px 2px;
		}
		.opcao1, .opcao2{
			.font-regular;
			.font-size(1.2);
		}
	}
	.prazo{
		width: 160px;
	}
	.quantidade{
		width: 80px;

	}
	.quantidade-input{
		display: table;
		margin: 0 auto;
		a {
			@h: 32px;
			width: 14px;
			height: @h;
			float: left;
			.color-white;
			background-color: lighten(@color-other1, 10%);
			line-height: @h;
			padding: 0px 3px;
			// .bt-verde;
			.linear-gradient(@to: bottom);
			border: 1px solid @color-other1;
			box-shadow: none;
			&.remove {
				.border-radius(9px 0px 0px 9px);
			}
			&.add {
				.border-radius(0px 9px 9px 0px);
			}
			&:hover{
				.linear-gradient(@to: top);
				.linear-gradient(@to: top);
			}
			&:active{
				box-shadow: none;
			}
		}
		input {
			width: 26px;
			.color-primary;
			text-align: center;
			text-indent: 0;
			float: left;
			border: 1px solid @color-other1;
			margin: 0px;
			&:focus{
				outline: none;
			}
		}
	}
	.valor{
		width: 155px;
		span {
			font-size: 12px;
			display: block;
			text-decoration: line-through;
		}
		span + span {
			font-size: 14px;
			text-decoration: none;
		}
	}
	th, td{
		text-align: center;
		.border-box;
		.font-regular;
		.font-size(1.6);
		.color-base;
		border-bottom: 1px solid @color-primary-light1;
		border-left: 1px solid @color-primary-light1;
		vertical-align: middle;
		&.produto{
			text-align: left;
			text-indent: 20px;
			border-left: none;
		}
	}
	th{
		.font-bold;
		.font-size(1.4);
		.color-primary;
		height: 28px;
	}
	td{
		height: 100px;
		// padding-top: 16px;
	}
	td.prazo{
		.background-secondary-light1;
		text-align: center;
		padding: 0px 20px;
	}
	.prazo-dias{
		display: block;
		.font-bold;
		.font-size(1.4);
		.color-primary;
		text-transform: uppercase;
	}
	.prazo-helper{
		display: block;
		.font-regular;
		.font-size(1.1);
		.color-base;
		margin-top: 4px;
	}
	img {
		width: inherit;
		float: left;
	}
}
/*==========  Carrinho  ==========*/
.carinho-de-compras {
	fieldset{
		width: 940px;
		padding: 8px 0px;
		text-align: right;
		border-bottom: 2px solid lighten(@color-primary, 10%);
		input[type="text"]{
			width: 140px;
		}
		[class^="bt-"]{
			padding: 6px 31px;
			margin: 0px 21px;
		}
		.shape {
			display: inline-block;
			width: 82px;
			.background-secondary-light1;
			padding: 10px 0px;
			.font-bold;
			.font-size(1.2);
			text-transform: uppercase;
			text-align: center;
		}
		.valor{
			display: inline-block;
			text-align: center;
		}
		legend{
			text-align: left;
			text-transform: uppercase;
			.font-regular;
			.font-size(1.3);
			padding-top: 5px;
			text-indent: 7px;
			.space-top;
			float: left;
		}
	}
	label{
		width: 290px;
		float: left;
		.font-regular;
		.font-size(1.2);
		.color-primary;
		line-height: 21px;
		text-transform: uppercase;
	}
	.tooltip{
		display: inline-block;
		padding: 2px 7px;
		.background-secondary-light1;
		.border-radius(20px);
		// .bt-verde;
		.color-primary;
		text-align: center;
		line-height: initial;
		border: 1px solid lighten(@color-primary, 10%);
		box-shadow: none;
		position: relative;
		&:active{
			box-shadow: none;
		}
		span {
			position: absolute;
			bottom: -8px;
			right: 30px;
			display: none;
			width: 200px;
			.color-primary;
			line-height: 12px;
			text-align: left;
			.background-secondary-light1;
			padding: 5px 10px;
			.border-box;
			.border-radius (10px);
			text-transform: none;
			&:before {
				content: "";
				display: none;
				border: 7px solid transparent;
				border-left: 7px solid @color-primary;
				position: absolute;
				right: -14px;
				bottom: 10px;
			}
		}
		&:hover {
			span, span:before{
				display: block;
			}
		}
	}
	.carrinho-cep{
		text-align: inherit;
		div{
			float: right;
			margin-top: 10px;
		}
		p{
			display: inline-block;
			width: 300px;
			float: left;
			margin-top: 5px;
			.color-primary;
		}
		label{
			.font-regular;
			.font-size(1.3);
			.color-primary;
			width: 50px;
		}
		input{
			margin: 0;
		}
		input[type="submit"]{
			// .bt-verde;
		}
		.helper{
			.font-regular;
			.font-size(1.2);
			.color-primary;
			text-decoration: underline;
			margin: 0px 55px 0px 12px;
		}
	}
	.valor-total{
		border:none;
		legend{
			.background-secondary-light1;
			text-align: right;
			padding: 6px 25px 0px 0px;
			.font-bold;
			.font-size(1.4);
			.color-primary;
			text-transform: uppercase;
		}
		> span{
			display: inline-block;
			text-align: center;
			width: 155px;
			span{display: block;}
			.valor-total-1{
				.font-bold;
				.font-size(1.8);
				.color-primary;
			}
			.valor-total-2{
				.font-regular;
				.font-size(1.4);
				.color-primary;
			}
			.valor-total-3{
				.font-regular;
				.font-size(1.4);
				.color-primary;
			}
		}
	}
	.fieldset-concluir {
		border: none;
		text-align: inherit;
		margin-bottom: 0;
		padding-bottom: 5px;
		a, button{
			margin: 0
		}
		a{
			padding-left: 22px;
			padding-right: 22px;
		}
		button{
			float: right;
			font-size: 18px;
			padding: 12px 42px;
		}
		i{
			margin-right: 15px;
			font-size: 22px;
		}
	}
	.box-help{
		float: right;
		margin-right: 10px;
	}
}
/*======================================
=			Carrinho Vazio			=
======================================*/

.carrinho-vazio{
	.box-help{
		margin: 10px 0 20px 10px;
		float: left;
	}
	.busca{
		.column(7);
		.push(5);
		margin-top: 25px;
		text-align: left;
		label{
			.color-primary;
			float: left;
			height: 30px;
			.line-height(2.3);
		}
		input[type="search"]{
			width: 260px;
			float: left;
			margin: 0 10px;
		}
		select{
			width: 170px;
			float: left;
		}
		input[type="submit"]{
			margin: 0;
			float: right;
		}
	}
}
.carrinho-vazio-box{
	.column(12);
	height: 210px;
	.border-box;
	padding: 70px 5px 5px 400px;
	border: 1px solid @color-primary;
	.border-radius(5px);
	background: url(../img/carrinho-vazio.jpg) no-repeat 225px center;
	h2{
		.font-bold;
		.font-size(1.4);
		.color-primary;
		text-transform: uppercase;
	}
	p{
		.font-regular;
		.font-size(1.4);
		.color-primary;
		margin:10px 0px;
	}
}

/*==============================================================
=			Molecula Box-help - precisa de ajuda?			 =
==============================================================*/

/* adicionar posicionamentos específicos a cada organismo, ex: .carinho-de-compras { .box-help{float: right;} }*/

.box-help{
	width: 702px;
	height: 95px;
	border: 1px solid @color-primary;
	.border-radius(0px 5px 5px 5px);
	.border-box;
	padding-top: 28px;
	position: relative;
	z-index: 9;
	h1{
		width: 380px;
		height: 54px;
		.background-white;
		.font-regular;
		.font-size(1.8);
		.line-height(5.4);
		.color-primary;
		text-transform: uppercase;
		text-align: center;
		margin: 0;
		border: 1px solid @color-primary;
		border-bottom: none;
		.border-radius(5px 5px 0px 0px);
		position: absolute;
		top: -54px;
		left: -1px;
	}
	a{
		display: table;
		margin: 0 90px 0 70px;
		float: left;
		text-align: center;
		.color-base;
		.font-size(1.4);
		position: relative;
		i{
			left: -45px;
			top: -8px;
		}
	}
	a, b{
		text-transform: uppercase;
	}
	i{
		margin-right: 10px;
		font-size: 30px;
		position: absolute;
		top:-2px;
		left: -20px;
	}
	div{
		display: table;
		position: relative;
		float: left;
		i{
			top: -5px;
			left: -40px;
		}
		b{
			display: block;
		}
	}
	p{
		width: 400px;
		float: left;
		.font-size(1.4);
	}
}
/*======================================
=			Escolher frete			=
======================================*/


[class*="page-checkout-"]{
	.wrap;
	.form{
		width: 100%;
		float: left;
	}
	header{
		.column(12);
		.background-secondary-light1;
		.color-primary;
		margin-bottom: 25px;
		padding: 12px 16px;
		.border-box;
		h1{
			.font-bold;
			.font-size(1.8);
			text-transform: uppercase;
			position: relative;
		}
		small{
			.font-regular;
			.font-size(1.4);
			text-transform: none;
			position: absolute;
			right: 0px;
			bottom: 0px;
		}
	}
	.box-help{
		margin: 0 1.04166667%;
		margin-top: 65px;
		float: right;
		margin-bottom: 80px;
	}
	&--entrega{

	}
	&--pagamento{

	}
}
.form-endereco{
	.column(5);
	height: 180px;
	h3{
		.font-bold;
		.color-primary;
		.font-size(1.6);
		text-indent: 15px;
	}
	p{
		.color-primary;
		margin: 20px 0px 10px 15px;
	}
	a{
		margin: 15px;
	}
}
.form-frete{
	.column(7);
	legend{
		.font-bold;
		.color-primary;
		.font-size(1.6);
		background: none;
		text-indent: 5px;
	}
	.radio {
		.row(7);
		label{
			.column(7,7);
			border: 1px solid @color-primary;
			border-bottom: none;
			padding: 4px 0px;
			height: 27px;
			&:last-child{
				border-bottom: 1px solid @color-primary;
			}
			&:before{
				position: absolute;
				margin: 0px 0px 0px 5px;
			}
		}
	}
	.frete-nome{
		.column(3,7);
		.color-primary;
		text-indent: 20px;
	}
	.frete-prazo{
		.column(2,7);
		.color-primary;
	}
	.frete-valor{
		.column(2,7);
		.color-primary;
		text-align: right;
		float: right;
	}
	button{
		float: right;
		margin: 10px 0px 0px 0px;
	}
}

.frete-alterar{
	margin-left: 1px; // Hack
	legend{
		.column(12);
		margin-top: 25px;
		border-top: 1px solid;
		background: none;
		padding: 15px 0px 0px 0px;
		height: 45px;
		text-indent: 0px;
	}
	fieldset{
		.column(12);
		> div{
			.row(12);
		}
	}
	.radio {
		.column(4,12);
		height: 114px;
		margin-bottom: 2*1.04166667%;
		border: 1px solid @color-primary-light1;
		padding: 15px;
		.border-box;
		label{
			margin: 0;
			padding-left: 30px;
			&:before{
				position: absolute;
				left: 5px;
				top: 50%;
				margin-top: -7px;
			}
		}
	}
}

.frete-novo-cadastro{
	padding-top: 30px;
	// > div > div{
	// 	margin-bottom: 20px;
	// }
	.button{
		margin: 12px 1.04166667% 0;
		float: right;
	}
}
.botao-novoendereco{
	.column(4,12);
	height: 114px;
	margin-bottom: 2*1.04166667%;
	border: 1px solid @color-primary-light1;
	padding: 15px;
	.border-box;
	&:hover, &.ativo{
		border: 1px solid @color-primary;
		i{
			.color-primary;
		}
	}
	span{
		display: block;
		.font-bold;
		.font-size(1.4);
		.color-primary;
		text-align: center;
	}
	i{
		display: block;
		.font-bold;
		.font-size(7.0);
		.line-height(6.0);
		.color-primary;
	}
}

.pedido-resumo{
	.column(7);
	.space-bottom;
	.box-round(@color-primary);
	padding: 2px;
	h3 {
		text-indent: 0;
		.font-bold;
		.font-size(1.6);
		.color-primary;
		margin-bottom: 18px;
	}
	table {
		width: 100%;
		padding: 15px;
		border-collapse: inherit;
	}
	tr{
		margin-bottom: 3px;
	}
	td{
		height: 20px;
		vertical-align: middle;
		.font-regular;
		.font-size(1.4);
		.line-height(1.6);
		+ td {
			text-align: right;
		}
	}
	tbody tr:last-child{
		height: 30px;
		.background-secondary-light1;
	}
}

.page-checkout--pagamento {
	> div{
		.space-bottom;
	}
	.form-endereco{
		.box-round(@color-primary);
		overflow: hidden;
		h3{
			.background-secondary-light1;
			line-height: 45px;
			.border-radius(10px 10px 0px 0px);
			height: 40px;
		}
	}
}

.formas-pagamento{
	.column(12);
	.row{
		.row(12);
	}
	a {
		.background-secondary-light1;
		display: block;
		float: left;
		.color-primary;
		text-align: center;
		padding: 6px;
		.font-bold;
		.font-size(1.0);
		.border-box;
		i {
			display: block;
			font-size: 40px;
			margin-top: 5px;
		}
	}
	.abas {
		height: 71px;
		top: 3px;
	}
	.conteudo{
		display: table;
		width: 100%
	}
	.radio label {
	margin: 0;
	}
}

.pagamento-cartao, .pagamento-boleto {
	background: url(../img/sprite-cartoes.png) no-repeat;
	height: 22px;
	.space;
	.radio {
		float: left;
		width: 61px;
		height: 20px;
		margin-left: 5px;
	}
	label:before {
		margin-top: 3px;
	}
	.helper {
		float: left;
		width: 500px;
		height: 80px;
		margin-left: 10px;
	}
}

.pagamento-cartao{
	background-position: -5px 1px;
}

.pagamento-boleto{
	background-position: 0px -25px;
}

.pagamento-cartao .radio:first-child,
.pagamento-boleto .radio {
	margin-left: 0;
}

.confirmar-pagamento{
	float: right;
	td {
		vertical-align: middle;
	}
}

.pagamento-cartao--dados{
	.row(12);
	[class*="--dados--"]{
		height: 57px;
	}
	&--titular{
		.column(4,12);
	}
	&--numerocartao{
		.column(4,12);
	}
	&--validade{
		.column(4,12);
		> div{
			.row(4);
		}
		.select{
			.column(2,4);
			margin-top: 2px;
			height: 29px;
		}
		.select + .select{
			.column(2,4);
			margin-top: 2px;
		}
	}
	&--codigoseguranca{
		.column(4,12);
	}
	&--parcelamento{
		.column(4,12);
	}
	&--termos{
		.column(6,12);
		float: right;
		margin-top: 10px;
		text-align: right;
		a {
			background: inherit;
			padding: inherit;
			font: inherit;
			display: inline;
			float: inherit;
			text-decoration: underline;
		}
	}
	.select {
		height: 29px;
		margin-top: 2px;
	}
	select{
		margin-top: 0!important;
	}
}

.carrinho-obs{
	text-align: left!important;
	dl {
		display: table;
		float: left;
		margin-top: 10px;
	}
	li {
		display: block;
		height: 25px;
		width: 100%;
	}
	dt, dd {
		float: left;
	}
	dt {
		margin-right: 5px;
		text-transform: uppercase;
		padding-left: 1%;
	}
}

.pagamento-confirmar{
	.column(4,12);
	height: 29px;
	.background-secondary-light1;
	margin-bottom: 9px!important;
	p {
		float: left;
		margin-top: 6px;
	}
	span{
		.font-bold;
		.font-size(1.4);
		.color-primary;
	}
	a{
		// .bt-pequeno;
		// .bt-verde;
		margin-top: 2px;
		float: right;
	}
}

.pagamento-cartao--dados{
	.pagamento-confirmar{
		.column(4,12);
		margin-top: 25px;
		margin-right: 0!important;
		height: 30px;
	}
}

.pagamento-boleto{
	.pagamento-confirmar{
		float: left;
		width: 355px;
		margin-right: 0!important;
	}
}
