#slider {
	background: url(../img/bg-slider.png) repeat-x left bottom;
	padding-bottom: 10px;
	position: relative;
	height: 362px;
	// img {
	// 	text-align: center;
	// 	margin: 0 auto;
	// 	display: block;
	// }
	&:before,
	&:after {
		content: "";
		position: absolute;
		height: 363px;
		width: 28px;
		background: url(../img/bg-slide-pseudo.png) no-repeat;
		display: block;
		z-index: 1;
		top: 0;
	}
	&:before {
		left: -18px;
		background-position: 0px 0px;
	}
	&:after {
		right: -18px;
		background-position: -30px 0px;
	}
	.item {
		position: absolute;
		top: 0;
		left: 10px;
		display: none;
	}
	.bullets{
		position: absolute;
		top: 2px;
		right: 12px;
		display: table;
		z-index: 100;
	}
	.bullet {
		display: block;
		background: @color-secondary-light1;
		border-radius: 5em;
		text-indent: -9999px;
		height: 14px;
		width: 14px;
		margin: 6px;
		&:hover, &.active{
			background: @color-primary;
		}
	}
}