/*
Site Name: Portal Ipi
Site URI: http://ipilon.org.br/
Author: Z3 Web
Author URI: http://www.z3web.com.br

IDE: Sublime Text 2, FileZilla, Photoshop
Development: Html5, CSS3, Jquery, LESS, Semantic.gs, Grunt.js
*/

/* Base */

body {
	width: 100%;
	*zoom: 1;
}

body:before,
body:after {
	content: "";
	display: table;
}

body:after {
	clear: both;
}

.col {
	display: inline;
	float: left;
}

/* Determine a largura do seu container. */

.wrap {
	width: 100%;
	width: 960px;
	margin: 0 auto;
}

/*==========  Mixins  ==========*/

.sprite {
	background: url(../img/sprite.png) no-repeat;
}

/* Basic font project -------------------------------------- */

/* Font Face */

@font-face {
	font-family: "Opensans";
	src: url("fonts/Opensans-regular-webfont.eot");
	src: url("fonts/Opensans-regular-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/Opensans-regular-webfont.woff") format('woff'), url("fonts/Opensans-regular-webfont.ttf") format('truetype'), url("fonts/Opensans.svg#Opensans") format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: "Opensans";
	src: url("fonts/Opensans-bold-webfont.eot");
	src: url("fonts/Opensans-bold-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/Opensans-bold-webfont.woff") format('woff'), url("fonts/Opensans-bold-webfont.ttf") format('truetype'), url("fonts/Opensans.svg#Opensans") format('svg');
	font-weight: 400;
	font-style: normal;
}

/* Spotlight font project --------------------------------- */

/* Font Face */

@font-face {
	font-family: "SupeFontName";
	src: url("fonts/SupeFontName-regular-webfont.eot");
	src: url("fonts/SupeFontName-regular-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/SupeFontName-regular-webfont.woff") format('woff'), url("fonts/SupeFontName-regular-webfont.ttf") format('truetype'), url("fonts/SupeFontName.svg#SupeFontName") format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: "SupeFontName";
	src: url("fonts/SupeFontName-bold-webfont.eot");
	src: url("fonts/SupeFontName-bold-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/SupeFontName-bold-webfont.woff") format('woff'), url("fonts/SupeFontName-bold-webfont.ttf") format('truetype'), url("fonts/SupeFontName.svg#SupeFontName") format('svg');
	font-weight: 200;
	font-style: bold;
}

body {
	font-style: normal;
	font-weight: 200;
	font-size: 62.5%;
}

b,
strong {
	font-weight: 400;
	font-family: inherit;
}

i,
em {
	font-style: italic;
	font-weight: 200;
	font-family: inherit;
}

p,
span,
li,
.text-base { /*Pixel value Fallback*/
	font: normal 13px/15px Opensans, Fallback, sans-serif; /*Rem value*/
	font: normal 1.3rem/1.5rem Opensans, Fallback, sans-serif;
}

p {
	margin-bottom: 10px;
}

/* Button - Pattern */

.button,
button,
input[type="submit"],
input[type="reset"] {
	display: inline-block;
	background-color: #ffffff;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	border-radius: 0.3em; /*Pixel value Fallback*/
	font: normal 14px/11px Opensans, Fallback, sans-serif; /*Rem value*/
	font: normal 1.4rem/1.1rem Opensans, Fallback, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: .05em;
	cursor: pointer;
	margin: 1px 1px;
	color: #838383;
	border: 1px solid;
	padding: 5px 20px 8px 20px;
	padding: 6px 8px; /* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjIiLz4KICAgIDxzdG9wIG9mZnNldD0iMSUiIHN0b3AtY29sb3I9IiMwMzAzMDMiIHN0b3Atb3BhY2l0eT0iMC4yIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background-image: -webkit-linear-gradient(to top, transparent, rgba(0, 0, 0, 0.1));
	background-image: -moz-linear-gradient(to top, transparent, rgba(0, 0, 0, 0.1));
	background-image: -o-linear-gradient(to top, transparent, rgba(0, 0, 0, 0.1));
	background-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.1)); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33000000', endColorstr='#00ffffff', GradientType=0); /* IE6-8 */
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover { /* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjIiLz4KICAgIDxzdG9wIG9mZnNldD0iMSUiIHN0b3AtY29sb3I9IiMwMzAzMDMiIHN0b3Atb3BhY2l0eT0iMC4yIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background-image: -webkit-linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.1));
	background-image: -moz-linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.1));
	background-image: -o-linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.1));
	background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.1)); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33000000', endColorstr='#00ffffff', GradientType=0); /* IE6-8 */
}

.button.desactive,
button.desactive,
input[type="submit"].desactive,
input[type="reset"].desactive {
	background-image: none;
	cursor: default; /* Fallback */
	cursor: not-allowed;
}

.button.desactive:focus,
button.desactive:focus,
input[type="submit"].desactive:focus,
input[type="reset"].desactive:focus,
.button.desactive:active,
button.desactive:active,
input[type="submit"].desactive:active,
input[type="reset"].desactive:active {
	outline: 0;
}

.button.danger,
button.danger,
input[type="submit"].danger,
input[type="reset"].danger {
	background-color: #a12a5c;
	border-color: #791f45;
	color: #ffffff;
}

.button.danger.is-desactive,
button.danger.is-desactive,
input[type="submit"].danger.is-desactive,
input[type="reset"].danger.is-desactive {
	background-color: #7f7f7f;
	border-color: #4c4c4c;
}

.button.success,
button.success,
input[type="submit"].success,
input[type="reset"].success {
	background-color: #d2ab69;
	border-color: #c69542;
	color: #ffffff;
}

.button.success.is-desactive,
button.success.is-desactive,
input[type="submit"].success.is-desactive,
input[type="reset"].success.is-desactive {
	background-color: #b7b7b7;
	border-color: #848484;
}

.button.warning,
button.warning,
input[type="submit"].warning,
input[type="reset"].warning {
	background-color: #de4228;
	border-color: #b7321c;
	color: #ffffff;
}

.button.warning.is-desactive,
button.warning.is-desactive,
input[type="submit"].warning.is-desactive,
input[type="reset"].warning.is-desactive {
	background-color: #aa938f;
	border-color: #785f5b;
}

.button.pp,
button.pp,
input[type="submit"].pp,
input[type="reset"].pp {
	padding: 3px 4px; /*Pixel value Fallback*/
	font: normal 11px/11px Opensans, Fallback, sans-serif; /*Rem value*/
	font: normal 1.1rem/1.1rem Opensans, Fallback, sans-serif;
}

.button.p,
button.p,
input[type="submit"].p,
input[type="reset"].p {
	padding: 3px 4px;
}

.button.m,
button.m,
input[type="submit"].m,
input[type="reset"].m {
	padding: 9px 6px;
}

.button.g,
button.g,
input[type="submit"].g,
input[type="reset"].g {
	padding: 9px 12px;
}

.button.xg,
button.xg,
input[type="submit"].xg,
input[type="reset"].xg {
	padding: 12px 16px;
}

.button.full,
button.full,
input[type="submit"].full,
input[type="reset"].full {
	display: block;
	width: 100%;
	text-align: center;
}

.button i,
button i,
input[type="submit"] i,
input[type="reset"] i {
	font-size: 150%;
	position: relative;
	top: 3px;
	margin-right: 5px;
}

html {
	font-size: 62.5%; /* Sets up the Base 10 stuff */
}

.main {
	width: 100%;
	width: 960px;
	margin: 0 auto;
	margin: 15px auto;
	display: table;
}

.main > section {
	margin-top: 15px;
}

.col-1 {
	display: inline;
	float: left;
	width: 6.25%;
	margin: 0 1.04166667%;
}

.col-2 {
	display: inline;
	float: left;
	width: 14.58333333%;
	margin: 0 1.04166667%;
}

.col-3 {
	display: inline;
	float: left;
	width: 22.91666667%;
	margin: 0 1.04166667%;
}

.col-4 {
	display: inline;
	float: left;
	width: 31.25%;
	margin: 0 1.04166667%;
}

.col-5 {
	display: inline;
	float: left;
	width: 39.58333333%;
	margin: 0 1.04166667%;
}

.col-6 {
	display: inline;
	float: left;
	width: 47.91666667%;
	margin: 0 1.04166667%;
}

.col-7 {
	display: inline;
	float: left;
	width: 56.25%;
	margin: 0 1.04166667%;
}

.col-8 {
	display: inline;
	float: left;
	width: 64.58333333%;
	margin: 0 1.04166667%;
}

.col-9 {
	display: inline;
	float: left;
	width: 72.91666667%;
	margin: 0 1.04166667%;
}

.col-10 {
	display: inline;
	float: left;
	width: 81.25%;
	margin: 0 1.04166667%;
}

.col-11 {
	display: inline;
	float: left;
	width: 89.58333333%;
	margin: 0 1.04166667%;
}

.col-12 {
	display: inline;
	float: left;
	width: 97.91666667%;
	margin: 0 1.04166667%;
}

.row-1 {
	display: block;
	width: 125%;
	margin: 0 -12.5%;
	*zoom: 1;
}

.row-1:before,
.row-1:after {
	content: "";
	display: table;
}

.row-1:after {
	clear: both;
}

.row-2 {
	display: block;
	width: 112.5%;
	margin: 0 -6.25%;
	*zoom: 1;
}

.row-2:before,
.row-2:after {
	content: "";
	display: table;
}

.row-2:after {
	clear: both;
}

.row-3 {
	display: block;
	width: 108.33333333%;
	margin: 0 -4.16666667%;
	*zoom: 1;
}

.row-3:before,
.row-3:after {
	content: "";
	display: table;
}

.row-3:after {
	clear: both;
}

.row-4 {
	display: block;
	width: 106.25%;
	margin: 0 -3.125%;
	*zoom: 1;
}

.row-4:before,
.row-4:after {
	content: "";
	display: table;
}

.row-4:after {
	clear: both;
}

.row-5 {
	display: block;
	width: 105%;
	margin: 0 -2.5%;
	*zoom: 1;
}

.row-5:before,
.row-5:after {
	content: "";
	display: table;
}

.row-5:after {
	clear: both;
}

.row-6 {
	display: block;
	width: 104.16666667%;
	margin: 0 -2.08333333%;
	*zoom: 1;
}

.row-6:before,
.row-6:after {
	content: "";
	display: table;
}

.row-6:after {
	clear: both;
}

.row-7 {
	display: block;
	width: 103.57142857%;
	margin: 0 -1.78571429%;
	*zoom: 1;
}

.row-7:before,
.row-7:after {
	content: "";
	display: table;
}

.row-7:after {
	clear: both;
}

.row-8 {
	display: block;
	width: 103.125%;
	margin: 0 -1.5625%;
	*zoom: 1;
}

.row-8:before,
.row-8:after {
	content: "";
	display: table;
}

.row-8:after {
	clear: both;
}

.row-9 {
	display: block;
	width: 102.77777778%;
	margin: 0 -1.38888889%;
	*zoom: 1;
}

.row-9:before,
.row-9:after {
	content: "";
	display: table;
}

.row-9:after {
	clear: both;
}

.row-10 {
	display: block;
	width: 102.5%;
	margin: 0 -1.25%;
	*zoom: 1;
}

.row-10:before,
.row-10:after {
	content: "";
	display: table;
}

.row-10:after {
	clear: both;
}

.row-11 {
	display: block;
	width: 102.27272727%;
	margin: 0 -1.13636364%;
	*zoom: 1;
}

.row-11:before,
.row-11:after {
	content: "";
	display: table;
}

.row-11:after {
	clear: both;
}

.row-12 {
	display: block;
	width: 102.08333333%;
	margin: 0 -1.04166667%;
	*zoom: 1;
}

.row-12:before,
.row-12:after {
	content: "";
	display: table;
}

.row-12:after {
	clear: both;
}

.row-1 > .col-1 {
	display: inline;
	float: left;
	width: 75%;
	margin: 0 12.5%;
}

.row-1 > .col-2 {
	display: inline;
	float: left;
	width: 175%;
	margin: 0 12.5%;
}

.row-1 > .col-3 {
	display: inline;
	float: left;
	width: 275%;
	margin: 0 12.5%;
}

.row-1 > .col-4 {
	display: inline;
	float: left;
	width: 375%;
	margin: 0 12.5%;
}

.row-1 > .col-5 {
	display: inline;
	float: left;
	width: 475%;
	margin: 0 12.5%;
}

.row-1 > .col-6 {
	display: inline;
	float: left;
	width: 575%;
	margin: 0 12.5%;
}

.row-1 > .col-7 {
	display: inline;
	float: left;
	width: 675%;
	margin: 0 12.5%;
}

.row-1 > .col-8 {
	display: inline;
	float: left;
	width: 775%;
	margin: 0 12.5%;
}

.row-1 > .col-9 {
	display: inline;
	float: left;
	width: 875%;
	margin: 0 12.5%;
}

.row-1 > .col-10 {
	display: inline;
	float: left;
	width: 975%;
	margin: 0 12.5%;
}

.row-1 > .col-11 {
	display: inline;
	float: left;
	width: 1075%;
	margin: 0 12.5%;
}

.row-1 > .col-12 {
	display: inline;
	float: left;
	width: 1175%;
	margin: 0 12.5%;
}

.row-2 > .col-1 {
	display: inline;
	float: left;
	width: 37.5%;
	margin: 0 6.25%;
}

.row-2 > .col-2 {
	display: inline;
	float: left;
	width: 87.5%;
	margin: 0 6.25%;
}

.row-2 > .col-3 {
	display: inline;
	float: left;
	width: 137.5%;
	margin: 0 6.25%;
}

.row-2 > .col-4 {
	display: inline;
	float: left;
	width: 187.5%;
	margin: 0 6.25%;
}

.row-2 > .col-5 {
	display: inline;
	float: left;
	width: 237.5%;
	margin: 0 6.25%;
}

.row-2 > .col-6 {
	display: inline;
	float: left;
	width: 287.5%;
	margin: 0 6.25%;
}

.row-2 > .col-7 {
	display: inline;
	float: left;
	width: 337.5%;
	margin: 0 6.25%;
}

.row-2 > .col-8 {
	display: inline;
	float: left;
	width: 387.5%;
	margin: 0 6.25%;
}

.row-2 > .col-9 {
	display: inline;
	float: left;
	width: 437.5%;
	margin: 0 6.25%;
}

.row-2 > .col-10 {
	display: inline;
	float: left;
	width: 487.5%;
	margin: 0 6.25%;
}

.row-2 > .col-11 {
	display: inline;
	float: left;
	width: 537.5%;
	margin: 0 6.25%;
}

.row-2 > .col-12 {
	display: inline;
	float: left;
	width: 587.5%;
	margin: 0 6.25%;
}

.row-3 > .col-1 {
	display: inline;
	float: left;
	width: 25%;
	margin: 0 4.16666667%;
}

.row-3 > .col-2 {
	display: inline;
	float: left;
	width: 58.33333333%;
	margin: 0 4.16666667%;
}

.row-3 > .col-3 {
	display: inline;
	float: left;
	width: 91.66666667%;
	margin: 0 4.16666667%;
}

.row-3 > .col-4 {
	display: inline;
	float: left;
	width: 125%;
	margin: 0 4.16666667%;
}

.row-3 > .col-5 {
	display: inline;
	float: left;
	width: 158.33333333%;
	margin: 0 4.16666667%;
}

.row-3 > .col-6 {
	display: inline;
	float: left;
	width: 191.66666667%;
	margin: 0 4.16666667%;
}

.row-3 > .col-7 {
	display: inline;
	float: left;
	width: 225%;
	margin: 0 4.16666667%;
}

.row-3 > .col-8 {
	display: inline;
	float: left;
	width: 258.33333333%;
	margin: 0 4.16666667%;
}

.row-3 > .col-9 {
	display: inline;
	float: left;
	width: 291.66666667%;
	margin: 0 4.16666667%;
}

.row-3 > .col-10 {
	display: inline;
	float: left;
	width: 325%;
	margin: 0 4.16666667%;
}

.row-3 > .col-11 {
	display: inline;
	float: left;
	width: 358.33333333%;
	margin: 0 4.16666667%;
}

.row-3 > .col-12 {
	display: inline;
	float: left;
	width: 391.66666667%;
	margin: 0 4.16666667%;
}

.row-4 > .col-1 {
	display: inline;
	float: left;
	width: 18.75%;
	margin: 0 3.125%;
}

.row-4 > .col-2 {
	display: inline;
	float: left;
	width: 43.75%;
	margin: 0 3.125%;
}

.row-4 > .col-3 {
	display: inline;
	float: left;
	width: 68.75%;
	margin: 0 3.125%;
}

.row-4 > .col-4 {
	display: inline;
	float: left;
	width: 93.75%;
	margin: 0 3.125%;
}

.row-4 > .col-5 {
	display: inline;
	float: left;
	width: 118.75%;
	margin: 0 3.125%;
}

.row-4 > .col-6 {
	display: inline;
	float: left;
	width: 143.75%;
	margin: 0 3.125%;
}

.row-4 > .col-7 {
	display: inline;
	float: left;
	width: 168.75%;
	margin: 0 3.125%;
}

.row-4 > .col-8 {
	display: inline;
	float: left;
	width: 193.75%;
	margin: 0 3.125%;
}

.row-4 > .col-9 {
	display: inline;
	float: left;
	width: 218.75%;
	margin: 0 3.125%;
}

.row-4 > .col-10 {
	display: inline;
	float: left;
	width: 243.75%;
	margin: 0 3.125%;
}

.row-4 > .col-11 {
	display: inline;
	float: left;
	width: 268.75%;
	margin: 0 3.125%;
}

.row-4 > .col-12 {
	display: inline;
	float: left;
	width: 293.75%;
	margin: 0 3.125%;
}

.row-5 > .col-1 {
	display: inline;
	float: left;
	width: 15%;
	margin: 0 2.5%;
}

.row-5 > .col-2 {
	display: inline;
	float: left;
	width: 35%;
	margin: 0 2.5%;
}

.row-5 > .col-3 {
	display: inline;
	float: left;
	width: 55%;
	margin: 0 2.5%;
}

.row-5 > .col-4 {
	display: inline;
	float: left;
	width: 75%;
	margin: 0 2.5%;
}

.row-5 > .col-5 {
	display: inline;
	float: left;
	width: 95%;
	margin: 0 2.5%;
}

.row-5 > .col-6 {
	display: inline;
	float: left;
	width: 115%;
	margin: 0 2.5%;
}

.row-5 > .col-7 {
	display: inline;
	float: left;
	width: 135%;
	margin: 0 2.5%;
}

.row-5 > .col-8 {
	display: inline;
	float: left;
	width: 155%;
	margin: 0 2.5%;
}

.row-5 > .col-9 {
	display: inline;
	float: left;
	width: 175%;
	margin: 0 2.5%;
}

.row-5 > .col-10 {
	display: inline;
	float: left;
	width: 195%;
	margin: 0 2.5%;
}

.row-5 > .col-11 {
	display: inline;
	float: left;
	width: 215%;
	margin: 0 2.5%;
}

.row-5 > .col-12 {
	display: inline;
	float: left;
	width: 235%;
	margin: 0 2.5%;
}

.row-6 > .col-1 {
	display: inline;
	float: left;
	width: 12.5%;
	margin: 0 2.08333333%;
}

.row-6 > .col-2 {
	display: inline;
	float: left;
	width: 29.16666667%;
	margin: 0 2.08333333%;
}

.row-6 > .col-3 {
	display: inline;
	float: left;
	width: 45.83333333%;
	margin: 0 2.08333333%;
}

.row-6 > .col-4 {
	display: inline;
	float: left;
	width: 62.5%;
	margin: 0 2.08333333%;
}

.row-6 > .col-5 {
	display: inline;
	float: left;
	width: 79.16666667%;
	margin: 0 2.08333333%;
}

.row-6 > .col-6 {
	display: inline;
	float: left;
	width: 95.83333333%;
	margin: 0 2.08333333%;
}

.row-6 > .col-7 {
	display: inline;
	float: left;
	width: 112.5%;
	margin: 0 2.08333333%;
}

.row-6 > .col-8 {
	display: inline;
	float: left;
	width: 129.16666667%;
	margin: 0 2.08333333%;
}

.row-6 > .col-9 {
	display: inline;
	float: left;
	width: 145.83333333%;
	margin: 0 2.08333333%;
}

.row-6 > .col-10 {
	display: inline;
	float: left;
	width: 162.5%;
	margin: 0 2.08333333%;
}

.row-6 > .col-11 {
	display: inline;
	float: left;
	width: 179.16666667%;
	margin: 0 2.08333333%;
}

.row-6 > .col-12 {
	display: inline;
	float: left;
	width: 195.83333333%;
	margin: 0 2.08333333%;
}

.row-7 > .col-1 {
	display: inline;
	float: left;
	width: 10.71428571%;
	margin: 0 1.78571429%;
}

.row-7 > .col-2 {
	display: inline;
	float: left;
	width: 25%;
	margin: 0 1.78571429%;
}

.row-7 > .col-3 {
	display: inline;
	float: left;
	width: 39.28571429%;
	margin: 0 1.78571429%;
}

.row-7 > .col-4 {
	display: inline;
	float: left;
	width: 53.57142857%;
	margin: 0 1.78571429%;
}

.row-7 > .col-5 {
	display: inline;
	float: left;
	width: 67.85714286%;
	margin: 0 1.78571429%;
}

.row-7 > .col-6 {
	display: inline;
	float: left;
	width: 82.14285714%;
	margin: 0 1.78571429%;
}

.row-7 > .col-7 {
	display: inline;
	float: left;
	width: 96.42857143%;
	margin: 0 1.78571429%;
}

.row-7 > .col-8 {
	display: inline;
	float: left;
	width: 110.71428571%;
	margin: 0 1.78571429%;
}

.row-7 > .col-9 {
	display: inline;
	float: left;
	width: 125%;
	margin: 0 1.78571429%;
}

.row-7 > .col-10 {
	display: inline;
	float: left;
	width: 139.28571429%;
	margin: 0 1.78571429%;
}

.row-7 > .col-11 {
	display: inline;
	float: left;
	width: 153.57142857%;
	margin: 0 1.78571429%;
}

.row-7 > .col-12 {
	display: inline;
	float: left;
	width: 167.85714286%;
	margin: 0 1.78571429%;
}

.row-8 > .col-1 {
	display: inline;
	float: left;
	width: 9.375%;
	margin: 0 1.5625%;
}

.row-8 > .col-2 {
	display: inline;
	float: left;
	width: 21.875%;
	margin: 0 1.5625%;
}

.row-8 > .col-3 {
	display: inline;
	float: left;
	width: 34.375%;
	margin: 0 1.5625%;
}

.row-8 > .col-4 {
	display: inline;
	float: left;
	width: 46.875%;
	margin: 0 1.5625%;
}

.row-8 > .col-5 {
	display: inline;
	float: left;
	width: 59.375%;
	margin: 0 1.5625%;
}

.row-8 > .col-6 {
	display: inline;
	float: left;
	width: 71.875%;
	margin: 0 1.5625%;
}

.row-8 > .col-7 {
	display: inline;
	float: left;
	width: 84.375%;
	margin: 0 1.5625%;
}

.row-8 > .col-8 {
	display: inline;
	float: left;
	width: 96.875%;
	margin: 0 1.5625%;
}

.row-8 > .col-9 {
	display: inline;
	float: left;
	width: 109.375%;
	margin: 0 1.5625%;
}

.row-8 > .col-10 {
	display: inline;
	float: left;
	width: 121.875%;
	margin: 0 1.5625%;
}

.row-8 > .col-11 {
	display: inline;
	float: left;
	width: 134.375%;
	margin: 0 1.5625%;
}

.row-8 > .col-12 {
	display: inline;
	float: left;
	width: 146.875%;
	margin: 0 1.5625%;
}

.row-9 > .col-1 {
	display: inline;
	float: left;
	width: 8.33333333%;
	margin: 0 1.38888889%;
}

.row-9 > .col-2 {
	display: inline;
	float: left;
	width: 19.44444444%;
	margin: 0 1.38888889%;
}

.row-9 > .col-3 {
	display: inline;
	float: left;
	width: 30.55555556%;
	margin: 0 1.38888889%;
}

.row-9 > .col-4 {
	display: inline;
	float: left;
	width: 41.66666667%;
	margin: 0 1.38888889%;
}

.row-9 > .col-5 {
	display: inline;
	float: left;
	width: 52.77777778%;
	margin: 0 1.38888889%;
}

.row-9 > .col-6 {
	display: inline;
	float: left;
	width: 63.88888889%;
	margin: 0 1.38888889%;
}

.row-9 > .col-7 {
	display: inline;
	float: left;
	width: 75%;
	margin: 0 1.38888889%;
}

.row-9 > .col-8 {
	display: inline;
	float: left;
	width: 86.11111111%;
	margin: 0 1.38888889%;
}

.row-9 > .col-9 {
	display: inline;
	float: left;
	width: 97.22222222%;
	margin: 0 1.38888889%;
}

.row-9 > .col-10 {
	display: inline;
	float: left;
	width: 108.33333333%;
	margin: 0 1.38888889%;
}

.row-9 > .col-11 {
	display: inline;
	float: left;
	width: 119.44444444%;
	margin: 0 1.38888889%;
}

.row-9 > .col-12 {
	display: inline;
	float: left;
	width: 130.55555556%;
	margin: 0 1.38888889%;
}

.row-10 > .col-1 {
	display: inline;
	float: left;
	width: 7.5%;
	margin: 0 1.25%;
}

.row-10 > .col-2 {
	display: inline;
	float: left;
	width: 17.5%;
	margin: 0 1.25%;
}

.row-10 > .col-3 {
	display: inline;
	float: left;
	width: 27.5%;
	margin: 0 1.25%;
}

.row-10 > .col-4 {
	display: inline;
	float: left;
	width: 37.5%;
	margin: 0 1.25%;
}

.row-10 > .col-5 {
	display: inline;
	float: left;
	width: 47.5%;
	margin: 0 1.25%;
}

.row-10 > .col-6 {
	display: inline;
	float: left;
	width: 57.5%;
	margin: 0 1.25%;
}

.row-10 > .col-7 {
	display: inline;
	float: left;
	width: 67.5%;
	margin: 0 1.25%;
}

.row-10 > .col-8 {
	display: inline;
	float: left;
	width: 77.5%;
	margin: 0 1.25%;
}

.row-10 > .col-9 {
	display: inline;
	float: left;
	width: 87.5%;
	margin: 0 1.25%;
}

.row-10 > .col-10 {
	display: inline;
	float: left;
	width: 97.5%;
	margin: 0 1.25%;
}

.row-10 > .col-11 {
	display: inline;
	float: left;
	width: 107.5%;
	margin: 0 1.25%;
}

.row-10 > .col-12 {
	display: inline;
	float: left;
	width: 117.5%;
	margin: 0 1.25%;
}

.row-11 > .col-1 {
	display: inline;
	float: left;
	width: 6.81818182%;
	margin: 0 1.13636364%;
}

.row-11 > .col-2 {
	display: inline;
	float: left;
	width: 15.90909091%;
	margin: 0 1.13636364%;
}

.row-11 > .col-3 {
	display: inline;
	float: left;
	width: 25%;
	margin: 0 1.13636364%;
}

.row-11 > .col-4 {
	display: inline;
	float: left;
	width: 34.09090909%;
	margin: 0 1.13636364%;
}

.row-11 > .col-5 {
	display: inline;
	float: left;
	width: 43.18181818%;
	margin: 0 1.13636364%;
}

.row-11 > .col-6 {
	display: inline;
	float: left;
	width: 52.27272727%;
	margin: 0 1.13636364%;
}

.row-11 > .col-7 {
	display: inline;
	float: left;
	width: 61.36363636%;
	margin: 0 1.13636364%;
}

.row-11 > .col-8 {
	display: inline;
	float: left;
	width: 70.45454545%;
	margin: 0 1.13636364%;
}

.row-11 > .col-9 {
	display: inline;
	float: left;
	width: 79.54545455%;
	margin: 0 1.13636364%;
}

.row-11 > .col-10 {
	display: inline;
	float: left;
	width: 88.63636364%;
	margin: 0 1.13636364%;
}

.row-11 > .col-11 {
	display: inline;
	float: left;
	width: 97.72727273%;
	margin: 0 1.13636364%;
}

.row-11 > .col-12 {
	display: inline;
	float: left;
	width: 106.81818182%;
	margin: 0 1.13636364%;
}

.row-12 > .col-1 {
	display: inline;
	float: left;
	width: 6.25%;
	margin: 0 1.04166667%;
}

.row-12 > .col-2 {
	display: inline;
	float: left;
	width: 14.58333333%;
	margin: 0 1.04166667%;
}

.row-12 > .col-3 {
	display: inline;
	float: left;
	width: 22.91666667%;
	margin: 0 1.04166667%;
}

.row-12 > .col-4 {
	display: inline;
	float: left;
	width: 31.25%;
	margin: 0 1.04166667%;
}

.row-12 > .col-5 {
	display: inline;
	float: left;
	width: 39.58333333%;
	margin: 0 1.04166667%;
}

.row-12 > .col-6 {
	display: inline;
	float: left;
	width: 47.91666667%;
	margin: 0 1.04166667%;
}

.row-12 > .col-7 {
	display: inline;
	float: left;
	width: 56.25%;
	margin: 0 1.04166667%;
}

.row-12 > .col-8 {
	display: inline;
	float: left;
	width: 64.58333333%;
	margin: 0 1.04166667%;
}

.row-12 > .col-9 {
	display: inline;
	float: left;
	width: 72.91666667%;
	margin: 0 1.04166667%;
}

.row-12 > .col-10 {
	display: inline;
	float: left;
	width: 81.25%;
	margin: 0 1.04166667%;
}

.row-12 > .col-11 {
	display: inline;
	float: left;
	width: 89.58333333%;
	margin: 0 1.04166667%;
}

.row-12 > .col-12 {
	display: inline;
	float: left;
	width: 97.91666667%;
	margin: 0 1.04166667%;
}

.hidden-block {
	display: none;
}

.border-bottom {
	border-bottom: 1px solid #eee;
}

.border {
	border: 1px solid #eee;
}

h1.hc {
	display: inline;
	float: left;
	width: 97.91666667%;
	margin: 0 1.04166667%; /*Pixel value Fallback*/
	font: normal 15px/15px Opensans, Fallback, sans-serif; /*Rem value*/
	font: normal 1.5rem/1.5rem Opensans, Fallback, sans-serif;
	border-bottom: 1px solid;
	padding-bottom: 10px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.hc.colors > div {
	clear: both;
}

.hc.colors span {
	display: inline;
	width: 14.58333333%;
	margin: 0 1.04166667%;
	height: 110px;
	float: left;
	margin-bottom: 40px;
	font-size: 10px;
	text-align: center;
	border: 1px solid #eee;
	padding: 10px;
}

.hc.colors span span {
	display: block;
	width: 100%;
	height: 50px;
	margin: 10px auto;
}

.hc.colors .hc-base span {
	background-color: #000000;
}

.hc.colors .hc-black span {
	background-color: #000000;
}

.hc.colors .hc-white span {
	background-color: #ffffff;
}

.hc.colors .hc-primary span {
	background-color: #d2ab69;
}

.hc.colors .hc-primary-light1 span {
	background-color: #ffe8be;
}

.hc.colors .hc-primary-light2 span {
	background-color: #faf3e5;
}

.hc.colors .hc-primary-dark1 span {
	background-color: #c68a42;
	box-shadow: 0px -9px 0px 11px #ffffff, 0px 27px 0px 11px #ffffff, -9px -18px 0px 3px #bbb, 9px -18px 0px 3px #bbb, 9px 36px 0px 3px #bbb, -9px 36px 0px 3px #bbb;
}

.hc.colors .hc-primary-dark2 span {
	background-color: #261912;
}

.hc.colors .hc-secondary span {
	background-color: #de4228;
}

.hc.colors .hc-secondary-light1 span {
	background-color: #fbe9e6;
	box-shadow: 0px -9px 0px 11px #ffffff, 0px 27px 0px 11px #ffffff, -9px -18px 0px 3px #bbb, 9px -18px 0px 3px #bbb, 9px 36px 0px 3px #bbb, -9px 36px 0px 3px #bbb;
}

.hc.colors .hc-secondary-light2 span {
	background-color: #ffffff;
	box-shadow: 0px -9px 0px 11px #ffffff, 0px 27px 0px 11px #ffffff, -9px -18px 0px 3px #bbb, 9px -18px 0px 3px #bbb, 9px 36px 0px 3px #bbb, -9px 36px 0px 3px #bbb;
}

.hc.colors .hc-secondary-dark1 span {
	background-color: #b7251c;
	box-shadow: 0px -9px 0px 11px #ffffff, 0px 27px 0px 11px #ffffff, -9px -18px 0px 3px #bbb, 9px -18px 0px 3px #bbb, 9px 36px 0px 3px #bbb, -9px 36px 0px 3px #bbb;
}

.hc.colors .hc-secondary-dark2 span {
	background-color: #8b1518;
	box-shadow: 0px -9px 0px 11px #ffffff, 0px 27px 0px 11px #ffffff, -9px -18px 0px 3px #bbb, 9px -18px 0px 3px #bbb, 9px 36px 0px 3px #bbb, -9px 36px 0px 3px #bbb;
}

section.hc {
	width: 100%;
	width: 960px;
	margin: 0 auto;
	display: table;
	padding: 20px 0px;
	margin: 20px 0px;
	border: 1px solid #eee;
}

.hc.types p {
	display: inline;
	float: left;
	width: 81.25%;
	margin: 0 1.04166667%;
	margin-bottom: 20px;
	position: relative;
}

.hc.types p span {
	display: block;
	font: inherit;
	margin-bottom: 10px;
	border-bottom: 1px solid #eee;
}

.hc.types input[type="number"] {
	position: absolute;
	top: 0;
	right: -162px;
	text-align: center;
	height: 60px;
	text-indent: 10px;
}

.hc.types .hc-base { /*Pixel value Fallback*/
	font: normal 16px/18px Opensans, Fallback, sans-serif; /*Rem value*/
	font: normal 1.6rem/1.8rem Opensans, Fallback, sans-serif;
}

.hc.types .hc-base-bold { /*Pixel value Fallback*/
	font: bold 16px/18px Opensans, Fallback, sans-serif; /*Rem value*/
	font: bold 1.6rem/1.8rem Opensans, Fallback, sans-serif;
}

