/*
Site Name: Portal Ipi
Site URI: http://ipilon.org.br/
Author: Z3 Web
Author URI: http://www.z3web.com.br

IDE: Sublime Text 2, FileZilla, Photoshop
Development: Html5, CSS3, Jquery, LESS, Semantic.gs, Grunt.js
*/

/*==========  Mixins  ==========*/

.sprite {
	background: url(../img/sprite.png) no-repeat;
}

/* Basic font project -------------------------------------- */

/* Font Face */

@font-face {
	font-family: "Opensans";
	src: url("fonts/Opensans-regular-webfont.eot");
	src: url("fonts/Opensans-regular-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/Opensans-regular-webfont.woff") format('woff'), url("fonts/Opensans-regular-webfont.ttf") format('truetype'), url("fonts/Opensans.svg#Opensans") format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: "Opensans";
	src: url("fonts/Opensans-bold-webfont.eot");
	src: url("fonts/Opensans-bold-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/Opensans-bold-webfont.woff") format('woff'), url("fonts/Opensans-bold-webfont.ttf") format('truetype'), url("fonts/Opensans.svg#Opensans") format('svg');
	font-weight: 400;
	font-style: normal;
}

/* Spotlight font project --------------------------------- */

/* Font Face */

@font-face {
	font-family: "SupeFontName";
	src: url("fonts/SupeFontName-regular-webfont.eot");
	src: url("fonts/SupeFontName-regular-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/SupeFontName-regular-webfont.woff") format('woff'), url("fonts/SupeFontName-regular-webfont.ttf") format('truetype'), url("fonts/SupeFontName.svg#SupeFontName") format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: "SupeFontName";
	src: url("fonts/SupeFontName-bold-webfont.eot");
	src: url("fonts/SupeFontName-bold-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/SupeFontName-bold-webfont.woff") format('woff'), url("fonts/SupeFontName-bold-webfont.ttf") format('truetype'), url("fonts/SupeFontName.svg#SupeFontName") format('svg');
	font-weight: 200;
	font-style: bold;
}

body {
	font-style: normal;
	font-weight: 200;
	font-size: 62.5%;
}

b,
strong {
	font-weight: 400;
	font-family: inherit;
}

i,
em {
	font-style: italic;
	font-weight: 200;
	font-family: inherit;
}

p,
span,
a,
li,
.text-base { /*Pixel value Fallback*/
	font: normal 13px/15px Opensans, Fallback, sans-serif; /*Rem value*/
	font: normal 1.3rem/1.5rem Opensans, Fallback, sans-serif;
	color: #000000;
}

a:hover {
	text-decoration: underline;
}

p {
	margin-bottom: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #b7251c;
}

x-grid {
	width: 100%;
	max-width: 960px;
	display: table;
	margin: 0 auto;
}

x-column {
	display: inline;
	float: left;
	margin: 0 1.04166667%;
}

/* Base */

body {
	width: 100%;
	*zoom: 1;
}

body:before,
body:after {
	content: "";
	display: table;
}

body:after {
	clear: both;
}

/* Determine a largura do seu container. */

.wrap {
	width: 100%;
	max-width: 960px;
	display: table;
	margin: 0 auto;
}

/* Responsive Grid */

/* Button - Pattern */

.button,
button,
input[type="submit"],
input[type="reset"] {
	display: inline-block;
	background-color: #ffffff;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	border-radius: 0.3em; /*Pixel value Fallback*/
	font: normal 14px/11px Opensans, Fallback, sans-serif; /*Rem value*/
	font: normal 1.4rem/1.1rem Opensans, Fallback, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: .05em;
	cursor: pointer;
	margin: 1px 1px;
	color: #838383;
	border: 1px solid;
	padding: 5px 20px 8px 20px;
	padding: 6px 8px; /* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjIiLz4KICAgIDxzdG9wIG9mZnNldD0iMSUiIHN0b3AtY29sb3I9IiMwMzAzMDMiIHN0b3Atb3BhY2l0eT0iMC4yIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background-image: -webkit-linear-gradient(to top, transparent, rgba(0, 0, 0, 0.09));
	background-image: -moz-linear-gradient(to top, transparent, rgba(0, 0, 0, 0.09));
	background-image: -o-linear-gradient(to top, transparent, rgba(0, 0, 0, 0.09));
	background-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.09)); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33000000', endColorstr='#00ffffff', GradientType=0); /* IE6-8 */
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover { /* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjIiLz4KICAgIDxzdG9wIG9mZnNldD0iMSUiIHN0b3AtY29sb3I9IiMwMzAzMDMiIHN0b3Atb3BhY2l0eT0iMC4yIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background-image: -webkit-linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.09));
	background-image: -moz-linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.09));
	background-image: -o-linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.09));
	background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.09)); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33000000', endColorstr='#00ffffff', GradientType=0); /* IE6-8 */
	text-decoration: none;
}

.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus {
	background-image: none!important;
}

.button.desactive,
button.desactive,
input[type="submit"].desactive,
input[type="reset"].desactive {
	background-image: none;
	cursor: default; /* Fallback */
	cursor: not-allowed;
}

.button.desactive:focus,
button.desactive:focus,
input[type="submit"].desactive:focus,
input[type="reset"].desactive:focus,
.button.desactive:active,
button.desactive:active,
input[type="submit"].desactive:active,
input[type="reset"].desactive:active {
	outline: 0;
}

.button.danger,
button.danger,
input[type="submit"].danger,
input[type="reset"].danger {
	background-color: #a12a5c;
	border-color: #791f45;
	color: #ffffff;
}

.button.danger.is-desactive,
button.danger.is-desactive,
input[type="submit"].danger.is-desactive,
input[type="reset"].danger.is-desactive {
	background-color: #7f7f7f;
	border-color: #4c4c4c;
}

.button.success,
button.success,
input[type="submit"].success,
input[type="reset"].success {
	background-color: #b7251c;
	border-color: #8b1c15;
	color: #ffffff;
}

.button.success.is-desactive,
button.success.is-desactive,
input[type="submit"].success.is-desactive,
input[type="reset"].success.is-desactive {
	background-color: #947472;
	border-color: #5b4645;
}

.button.warning,
button.warning,
input[type="submit"].warning,
input[type="reset"].warning {
	background-color: #1999a1;
	border-color: #126f75;
	color: #ffffff;
}

.button.warning.is-desactive,
button.warning.is-desactive,
input[type="submit"].warning.is-desactive,
input[type="reset"].warning.is-desactive {
	background-color: #668486;
	border-color: #3a4b4c;
}

.button.pp,
button.pp,
input[type="submit"].pp,
input[type="reset"].pp {
	padding: 3px 4px; /*Pixel value Fallback*/
	font: normal 11px/11px Opensans, Fallback, sans-serif; /*Rem value*/
	font: normal 1.1rem/1.1rem Opensans, Fallback, sans-serif;
}

.button.p,
button.p,
input[type="submit"].p,
input[type="reset"].p {
	padding: 3px 4px;
}

.button.m,
button.m,
input[type="submit"].m,
input[type="reset"].m {
	padding: 9px 6px;
}

.button.g,
button.g,
input[type="submit"].g,
input[type="reset"].g {
	padding: 9px 12px;
}

.button.xg,
button.xg,
input[type="submit"].xg,
input[type="reset"].xg {
	padding: 12px 16px;
}

.button.full,
button.full,
input[type="submit"].full,
input[type="reset"].full {
	display: block;
	width: 100%;
	text-align: center;
}

.button i,
button i,
input[type="submit"] i,
input[type="reset"] i {
	font-size: 150%;
	position: relative;
	top: 3px;
	margin-right: 5px;
}

pattern-tooltip:hover,
.tooltip.top:hover,
.tooltip.bottom:hover,
.tooltip.left:hover,
.tooltip.right:hover {
	position: relative;
	cursor: pointer;
	-moz-opacity: 1;
	-khtml-opacity: 1;
	-webkit-opacity: 1;
	opacity: 1;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	filter: alpha(opacity=100);
}

pattern-tooltip:hover:before,
.tooltip.top:hover:before,
.tooltip.bottom:hover:before,
.tooltip.left:hover:before,
.tooltip.right:hover:before {
	border: solid;
	content: "";
	position: absolute;
	z-index: 98;
	border-width: 6px;
}

pattern-tooltip:hover:after,
.tooltip.top:hover:after,
.tooltip.bottom:hover:after,
.tooltip.left:hover:after,
.tooltip.right:hover:after {
	width: 100%;
	padding: 5px 15px;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.8);
	background-color: #1999a1;
	background-color: rgba(25, 153, 161, 0.8);
	zoom: 1;
	background-color: transparent\9;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc1999a1, endColorstr=#cc1999a1)";
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc1999a1, endColorstr=#cc1999a1);
	content: attr(data-tooltip);
	position: absolute;
	z-index: 98;
	color: #fff;
}

.tooltip.top:after {
	left: 0%;
	top: -222%;
}

.tooltip.top:before {
	left: 45%;
	top: -55%;
	border-color: #1caeb7 transparent transparent !important;
}

.tooltip.bottom:after {
	left: 0%;
	bottom: -222%;
}

.tooltip.bottom:before {
	left: 45%;
	bottom: -55%;
	border-color: transparent transparent #1caeb7 !important;
}

.tooltip.left:after {
	left: -105%;
	bottom: -30%;
}

.tooltip.left:before {
	left: -5%;
	bottom: 5%;
	border-color: transparent transparent transparent #1caeb7 !important;
}

.tooltip.right:after {
	right: -105%;
	bottom: -30%;
}

.tooltip.right:before {
	right: -5%;
	bottom: 5%;
	border-color: transparent #1caeb7 transparent transparent !important;
}

#modules h1:after {
	content: "Web Development Modules";
}

#modules h2:after {
	content: "Tooltips";
}

#modules .language:after {
	content: "Html5, Less";
}

#modules .dependencies:after {
	content: "Reset.css";
}

#modules .name:after {
	content: "tooltips.less";
}

/*=============================
=            Forms            =
=============================*/

form {
	margin: 5px 0px;
}

fieldset {
	margin-bottom: 3px;
}

legend {
	display: block;
	width: 100%;
	background: #f9e0d9;
	color: #000000; /*Pixel value Fallback*/
	font: normal 14px/32px Opensans, Fallback, sans-serif; /*Rem value*/
	font: normal 1.4rem/3.2rem Opensans, Fallback, sans-serif;
	text-indent: 10px;
	height: 32px;
	margin-bottom: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

label {
	display: block;
	height: 32px;
	color: #000000; /*Pixel value Fallback*/
	font: normal 12px/12px Opensans, Fallback, sans-serif; /*Rem value*/
	font: normal 1.2rem/1.2rem Opensans, Fallback, sans-serif;
	margin: 5px 0 2px;
}

label small {
	float: right;
	font-size: 75%;
	position: relative;
	top: 1px;
}

label a {
	color: #000000;
	float: right;
	text-decoration: underline;
}

label a:hover {
	color: #b7251c;
}

input,
textarea,
select,
option {
	margin: 0px 5px 10px 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="password"],
input[type="number"],
input[type="url"],
input[type="datetime"] {
	height: 32px;
	color: #b7251c;
	background-color: #ffffff;
	box-shadow: inset 1px 1px 3px 0px #cccccc;
	border: 1px solid #e87c6a;
	text-indent: 10px;
	width: 100%;
	margin: 2px 0 10px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="url"]:focus,
input[type="datetime"]:focus {
	outline: 1px solid #b7251c;
	border-color: #b7251c;
}

textarea {
	width: 100%;
	height: 100px;
	color: #b7251c;
	background-color: #ffffff;
	border: 1px solid #b7251c;
	padding: 10px;
	resize: none;
	margin: 2px 0 10px;
}

textarea:focus {
	outline: 1px solid #b7251c;
	border-color: #b7251c;
}

select,
option {
	width: 100%;
	height: 32px;
	color: #b7251c;
	background: #f9e0d9;
	box-shadow: inset 1px 1px 3px 0px #ec9880;
	border: none;
	outline: none;
	text-indent: 10px;
}

select:focus,
option:focus {
	outline: 1px solid #b7251c;
	border-color: #b7251c !important;
}

.select {
	height: 32px;
	background: #f9e0d9 url(../img/select-box.png) no-repeat right;
	position: relative;
	z-index: 5;
}

.select select {
	background: transparent;
	border: 1px solid #e87c6a;
	width: 100%;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

option {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

option:hover {
	background: #000;
}

.checkbox2,
.radio2 {
	display: table;
}

.checkbox2 label,
.radio2 label,
.checkbox2 input,
.radio2 input {
	float: left;
	margin: 0px 10px 0px 5px;
}

.checkbox2 label,
.radio2 label {
	margin: 0px 10px 0px 5px;
}

.checkbox,
.radio {
	height: 34px;
	margin: 2px 0 10px;
}

.checkbox label,
.radio label {
	color: #000000;
	cursor: pointer;
	position: relative;
	margin-bottom: 5px;
	margin: 10px 0;
	float: left;
}

.checkbox label:before,
.radio label:before {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.checkbox label + input + label,
.radio label + input + label {
	margin-left: 10px;
}

.checkbox input[type=checkbox],
.radio input[type=checkbox],
.checkbox input[type=radio],
.radio input[type=radio] {
	display: none;
}

.checkbox input[type=checkbox] + label:before,
.radio input[type=checkbox] + label:before,
.checkbox input[type=radio] + label:before,
.radio input[type=radio] + label:before {
	content: "";
	color: #000000;
	-webkit-box-shadow: inset 1px 1px 3px 0px #ec9880;
	box-shadow: inset 1px 1px 3px 0px #ec9880;
	background-color: #e87c6a;
	text-align: center;
	display: block;
	float: left;
	width: 15px;
	height: 14px;
	margin-right: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.checkbox input[type=radio] + label:before,
.radio input[type=radio] + label:before {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.checkbox input[type=checkbox]:checked + label:before {
	content: "\2714";
	color: #b7251c;
}

.radio input[type=radio]:checked + label:before {
	content: "\25CF";
	color: #b7251c;
}

/*==========  Personalizacao dos atributos dos formularios  ==========*/

input:disabled {
	box-shadow: none;
	background: #f8f5f4;
	cursor: no-drop;
}

/*==========  Placeholder  ==========*/

::-webkit-input-placeholder {
	color: #b7251c;
}

:-moz-placeholder {
	color: #b7251c;
}

/* Firefox 18- */

::-moz-placeholder {
	color: #b7251c;
}

/* Firefox 19+ */

:-ms-input-placeholder {
	color: #b7251c;
}

/* Firefox 19+ */

/* Firefox 18- */

/* Firefox 19+ */

/* Firefox 19+ */

/* Ie8 */

.placeholder {
	color: #000000;
}

:required {
	background-color: lightyellow;
}

.invalid:required:invalid {
	background-color: pink;
}

.invalid:required:invalid:after {
	content: "Campo obrigatório";
	display: block;
}

.invalid:required {
	background-color: white;
}

/*==========  Provisório  ==========*/

.provisory-div-feedback {
	display: inline-block;
	float: left;
	display: block;
	width: 102.08333333%;
	margin: 0 -1.04166667%;
	*zoom: 1;
	margin-top: 40px;
	margin-bottom: 10px;
	padding: 10px;
	background: yellow;
	font-size: 12px;
}

.provisory-div-feedback:before,
.provisory-div-feedback:after {
	content: "";
	display: table;
}

.provisory-div-feedback:after {
	clear: both;
}

.provisory-div-feedback p {
	float: left;
	width: 80%;
}

.provisory-div-feedback a {
	margin: 0px 30px 10px;
	float: left;
}

::-webkit-validation-bubble-message {
	display: none;
}

.font-icon:before,
[role="alert"]:before,
.feedback:before {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[role="alert"],
.feedback {
	display: block;
	width: 100%;
	padding: 15px 2%;
	margin: 0 0 1em 0; /*Pixel value Fallback*/
	font: normal 14px/11px Opensans, Fallback, sans-serif; /*Rem value*/
	font: normal 1.4rem/1.1rem Opensans, Fallback, sans-serif;
	border: 1px solid;
}

[role="alert"]:before,
.feedback:before {
	position: relative;
	top: 1px;
	margin-right: 10px;
}

[role="alert"].success,
.feedback.success {
	background-color: #E6EFC2;
	border-color: #C6D880;
	color: #264409;
}

[role="alert"].success:before,
.feedback.success:before {
	content: "\f046";
}

[role="alert"].success .close,
.feedback.success .close {
	color: #C6D880;
}

[role="alert"].success .close:hover,
.feedback.success .close:hover {
	color: #264409;
}

[role="alert"].error,
.feedback.error {
	background-color: #FBE3E4;
	border-color: #FBC2C4;
	color: #8A1F11;
}

[role="alert"].error:before,
.feedback.error:before {
	content: "\f05e";
}

[role="alert"].error .close,
.feedback.error .close {
	color: #FBC2C4;
}

[role="alert"].error .close:hover,
.feedback.error .close:hover {
	color: #8A1F11;
}

[role="alert"].alert,
.feedback.alert {
	background-color: #FFF6BF;
	border-color: #FFD324;
	color: #514721;
}

[role="alert"].alert:before,
.feedback.alert:before {
	content: "\f071";
}

[role="alert"].alert .close,
.feedback.alert .close {
	color: #FFD324;
}

[role="alert"].alert .close:hover,
.feedback.alert .close:hover {
	color: #514721;
}

[role="alert"].information,
.feedback.information {
	background-color: #d8f7ff;
	border-color: #c0cadd;
	color: #416997;
}

[role="alert"].information:before,
.feedback.information:before {
	content: "\f058";
}

[role="alert"].information .close,
.feedback.information .close {
	color: #c0cadd;
}

[role="alert"].information .close:hover,
.feedback.information .close:hover {
	color: #416997;
}

[role="alert"] .close,
.feedback .close {
	float: right;
	cursor: pointer;
}

.slider {
	height: 600px;
	position: relative;
}

.slide {
	display: none;
	width: 100%;
	height: 600px;
	background-position: center 96px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
}

.bullets {
	display: table;
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: center;
}

.bullets li {
	padding: 5px;
	display: inline-block;
	-webkit-border-radius: 5em;
	-moz-border-radius: 5em;
	border-radius: 5em;
	background-color: #e87c6a;
	margin: 5px;
	cursor: pointer;
}

.bullets li.active,
.bullets li:hover {
	background-color: #8b1518;
}

html {
	font-size: 62.5%; /* Sets up the Base 10 stuff */
}

body {
	padding-top: 96px;
}

.box {
	padding: 15px 0px;
	margin: 15px 0px;
	border: 1px solid #eee;
}

.center {
	text-align: center;
}

.shape {
	height: 50px;
	text-align: center;
	width: 100%; /*Pixel value Fallback*/
	font: normal 12px/50px Opensans, Fallback, sans-serif; /*Rem value*/
	font: normal 1.2rem/5rem Opensans, Fallback, sans-serif;
	background-color: #e87c6a;
	color: #ffffff;
	margin-bottom: 2.08333333%;
}

header.principal {
	background-color: #b7251c;
	padding: 15px 0;
	overflow: auto;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 100;
}

.nav-global {
	text-align: right;
}

footer.principal {
	background-color: #b7251c;
	padding: 15px 0;
	overflow: auto;
}

.main {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	margin: 15px auto;
	display: table;
}

.main > section {
	width: 100%;
	max-width: 960px;
	display: table;
	margin: 0 auto;
	padding: 15px 0px;
	margin: 15px 0px;
	border: 1px solid #eee;
}

.col-1 {
	width: 6.25%;
}

.col-2 {
	width: 14.58333333%;
}

.col-3 {
	width: 22.91666667%;
}

.col-4 {
	width: 31.25%;
}

.col-5 {
	width: 39.58333333%;
}

.col-6 {
	width: 47.91666667%;
}

.col-7 {
	width: 56.25%;
}

.col-8 {
	width: 64.58333333%;
}

.col-9 {
	width: 72.91666667%;
}

.col-10 {
	width: 81.25%;
}

.col-11 {
	width: 89.58333333%;
}

.col-12 {
	width: 97.91666667%;
}

.row-1 {
	display: block;
	width: 125%;
	margin: 0 -12.5%;
	*zoom: 1;
}

.row-1:before,
.row-1:after {
	content: "";
	display: table;
}

.row-1:after {
	clear: both;
}

.row-2 {
	display: block;
	width: 112.5%;
	margin: 0 -6.25%;
	*zoom: 1;
}

.row-2:before,
.row-2:after {
	content: "";
	display: table;
}

.row-2:after {
	clear: both;
}

.row-3 {
	display: block;
	width: 108.33333333%;
	margin: 0 -4.16666667%;
	*zoom: 1;
}

.row-3:before,
.row-3:after {
	content: "";
	display: table;
}

.row-3:after {
	clear: both;
}

.row-4 {
	display: block;
	width: 106.25%;
	margin: 0 -3.125%;
	*zoom: 1;
}

.row-4:before,
.row-4:after {
	content: "";
	display: table;
}

.row-4:after {
	clear: both;
}

.row-5 {
	display: block;
	width: 105%;
	margin: 0 -2.5%;
	*zoom: 1;
}

.row-5:before,
.row-5:after {
	content: "";
	display: table;
}

.row-5:after {
	clear: both;
}

.row-6 {
	display: block;
	width: 104.16666667%;
	margin: 0 -2.08333333%;
	*zoom: 1;
}

.row-6:before,
.row-6:after {
	content: "";
	display: table;
}

.row-6:after {
	clear: both;
}

.row-7 {
	display: block;
	width: 103.57142857%;
	margin: 0 -1.78571429%;
	*zoom: 1;
}

.row-7:before,
.row-7:after {
	content: "";
	display: table;
}

.row-7:after {
	clear: both;
}

.row-8 {
	display: block;
	width: 103.125%;
	margin: 0 -1.5625%;
	*zoom: 1;
}

.row-8:before,
.row-8:after {
	content: "";
	display: table;
}

.row-8:after {
	clear: both;
}

.row-9 {
	display: block;
	width: 102.77777778%;
	margin: 0 -1.38888889%;
	*zoom: 1;
}

.row-9:before,
.row-9:after {
	content: "";
	display: table;
}

.row-9:after {
	clear: both;
}

.row-10 {
	display: block;
	width: 102.5%;
	margin: 0 -1.25%;
	*zoom: 1;
}

.row-10:before,
.row-10:after {
	content: "";
	display: table;
}

.row-10:after {
	clear: both;
}

.row-11 {
	display: block;
	width: 102.27272727%;
	margin: 0 -1.13636364%;
	*zoom: 1;
}

.row-11:before,
.row-11:after {
	content: "";
	display: table;
}

.row-11:after {
	clear: both;
}

.row-12 {
	display: block;
	width: 102.08333333%;
	margin: 0 -1.04166667%;
	*zoom: 1;
}

.row-12:before,
.row-12:after {
	content: "";
	display: table;
}

.row-12:after {
	clear: both;
}

.row-1 > .col-1 {
	width: 75%;
}

.row-1 > .col-2 {
	width: 175%;
}

.row-1 > .col-3 {
	width: 275%;
}

.row-1 > .col-4 {
	width: 375%;
}

.row-1 > .col-5 {
	width: 475%;
}

.row-1 > .col-6 {
	width: 575%;
}

.row-1 > .col-7 {
	width: 675%;
}

.row-1 > .col-8 {
	width: 775%;
}

.row-1 > .col-9 {
	width: 875%;
}

.row-1 > .col-10 {
	width: 975%;
}

.row-1 > .col-11 {
	width: 1075%;
}

.row-1 > .col-12 {
	width: 1175%;
}

.row-2 > .col-1 {
	width: 37.5%;
}

.row-2 > .col-2 {
	width: 87.5%;
}

.row-2 > .col-3 {
	width: 137.5%;
}

.row-2 > .col-4 {
	width: 187.5%;
}

.row-2 > .col-5 {
	width: 237.5%;
}

.row-2 > .col-6 {
	width: 287.5%;
}

.row-2 > .col-7 {
	width: 337.5%;
}

.row-2 > .col-8 {
	width: 387.5%;
}

.row-2 > .col-9 {
	width: 437.5%;
}

.row-2 > .col-10 {
	width: 487.5%;
}

.row-2 > .col-11 {
	width: 537.5%;
}

.row-2 > .col-12 {
	width: 587.5%;
}

.row-3 > .col-1 {
	width: 25%;
}

.row-3 > .col-2 {
	width: 58.33333333%;
}

.row-3 > .col-3 {
	width: 91.66666667%;
}

.row-3 > .col-4 {
	width: 125%;
}

.row-3 > .col-5 {
	width: 158.33333333%;
}

.row-3 > .col-6 {
	width: 191.66666667%;
}

.row-3 > .col-7 {
	width: 225%;
}

.row-3 > .col-8 {
	width: 258.33333333%;
}

.row-3 > .col-9 {
	width: 291.66666667%;
}

.row-3 > .col-10 {
	width: 325%;
}

.row-3 > .col-11 {
	width: 358.33333333%;
}

.row-3 > .col-12 {
	width: 391.66666667%;
}

.row-4 > .col-1 {
	width: 18.75%;
}

.row-4 > .col-2 {
	width: 43.75%;
}

.row-4 > .col-3 {
	width: 68.75%;
}

.row-4 > .col-4 {
	width: 93.75%;
}

.row-4 > .col-5 {
	width: 118.75%;
}

.row-4 > .col-6 {
	width: 143.75%;
}

.row-4 > .col-7 {
	width: 168.75%;
}

.row-4 > .col-8 {
	width: 193.75%;
}

.row-4 > .col-9 {
	width: 218.75%;
}

.row-4 > .col-10 {
	width: 243.75%;
}

.row-4 > .col-11 {
	width: 268.75%;
}

.row-4 > .col-12 {
	width: 293.75%;
}

.row-5 > .col-1 {
	width: 15%;
}

.row-5 > .col-2 {
	width: 35%;
}

.row-5 > .col-3 {
	width: 55%;
}

.row-5 > .col-4 {
	width: 75%;
}

.row-5 > .col-5 {
	width: 95%;
}

.row-5 > .col-6 {
	width: 115%;
}

.row-5 > .col-7 {
	width: 135%;
}

.row-5 > .col-8 {
	width: 155%;
}

.row-5 > .col-9 {
	width: 175%;
}

.row-5 > .col-10 {
	width: 195%;
}

.row-5 > .col-11 {
	width: 215%;
}

.row-5 > .col-12 {
	width: 235%;
}

.row-6 > .col-1 {
	width: 12.5%;
}

.row-6 > .col-2 {
	width: 29.16666667%;
}

.row-6 > .col-3 {
	width: 45.83333333%;
}

.row-6 > .col-4 {
	width: 62.5%;
}

.row-6 > .col-5 {
	width: 79.16666667%;
}

.row-6 > .col-6 {
	width: 95.83333333%;
}

.row-6 > .col-7 {
	width: 112.5%;
}

.row-6 > .col-8 {
	width: 129.16666667%;
}

.row-6 > .col-9 {
	width: 145.83333333%;
}

.row-6 > .col-10 {
	width: 162.5%;
}

.row-6 > .col-11 {
	width: 179.16666667%;
}

.row-6 > .col-12 {
	width: 195.83333333%;
}

.row-7 > .col-1 {
	width: 10.71428571%;
}

.row-7 > .col-2 {
	width: 25%;
}

.row-7 > .col-3 {
	width: 39.28571429%;
}

.row-7 > .col-4 {
	width: 53.57142857%;
}

.row-7 > .col-5 {
	width: 67.85714286%;
}

.row-7 > .col-6 {
	width: 82.14285714%;
}

.row-7 > .col-7 {
	width: 96.42857143%;
}

.row-7 > .col-8 {
	width: 110.71428571%;
}

.row-7 > .col-9 {
	width: 125%;
}

.row-7 > .col-10 {
	width: 139.28571429%;
}

.row-7 > .col-11 {
	width: 153.57142857%;
}

.row-7 > .col-12 {
	width: 167.85714286%;
}

.row-8 > .col-1 {
	width: 9.375%;
}

.row-8 > .col-2 {
	width: 21.875%;
}

.row-8 > .col-3 {
	width: 34.375%;
}

.row-8 > .col-4 {
	width: 46.875%;
}

.row-8 > .col-5 {
	width: 59.375%;
}

.row-8 > .col-6 {
	width: 71.875%;
}

.row-8 > .col-7 {
	width: 84.375%;
}

.row-8 > .col-8 {
	width: 96.875%;
}

.row-8 > .col-9 {
	width: 109.375%;
}

.row-8 > .col-10 {
	width: 121.875%;
}

.row-8 > .col-11 {
	width: 134.375%;
}

.row-8 > .col-12 {
	width: 146.875%;
}

.row-9 > .col-1 {
	width: 8.33333333%;
}

.row-9 > .col-2 {
	width: 19.44444444%;
}

.row-9 > .col-3 {
	width: 30.55555556%;
}

.row-9 > .col-4 {
	width: 41.66666667%;
}

.row-9 > .col-5 {
	width: 52.77777778%;
}

.row-9 > .col-6 {
	width: 63.88888889%;
}

.row-9 > .col-7 {
	width: 75%;
}

.row-9 > .col-8 {
	width: 86.11111111%;
}

.row-9 > .col-9 {
	width: 97.22222222%;
}

.row-9 > .col-10 {
	width: 108.33333333%;
}

.row-9 > .col-11 {
	width: 119.44444444%;
}

.row-9 > .col-12 {
	width: 130.55555556%;
}

.row-10 > .col-1 {
	width: 7.5%;
}

.row-10 > .col-2 {
	width: 17.5%;
}

.row-10 > .col-3 {
	width: 27.5%;
}

.row-10 > .col-4 {
	width: 37.5%;
}

.row-10 > .col-5 {
	width: 47.5%;
}

.row-10 > .col-6 {
	width: 57.5%;
}

.row-10 > .col-7 {
	width: 67.5%;
}

.row-10 > .col-8 {
	width: 77.5%;
}

.row-10 > .col-9 {
	width: 87.5%;
}

.row-10 > .col-10 {
	width: 97.5%;
}

.row-10 > .col-11 {
	width: 107.5%;
}

.row-10 > .col-12 {
	width: 117.5%;
}

.row-11 > .col-1 {
	width: 6.81818182%;
}

.row-11 > .col-2 {
	width: 15.90909091%;
}

.row-11 > .col-3 {
	width: 25%;
}

.row-11 > .col-4 {
	width: 34.09090909%;
}

.row-11 > .col-5 {
	width: 43.18181818%;
}

.row-11 > .col-6 {
	width: 52.27272727%;
}

.row-11 > .col-7 {
	width: 61.36363636%;
}

.row-11 > .col-8 {
	width: 70.45454545%;
}

.row-11 > .col-9 {
	width: 79.54545455%;
}

.row-11 > .col-10 {
	width: 88.63636364%;
}

.row-11 > .col-11 {
	width: 97.72727273%;
}

.row-11 > .col-12 {
	width: 106.81818182%;
}

.row-12 > .col-1 {
	width: 6.25%;
}

.row-12 > .col-2 {
	width: 14.58333333%;
}

.row-12 > .col-3 {
	width: 22.91666667%;
}

.row-12 > .col-4 {
	width: 31.25%;
}

.row-12 > .col-5 {
	width: 39.58333333%;
}

.row-12 > .col-6 {
	width: 47.91666667%;
}

.row-12 > .col-7 {
	width: 56.25%;
}

.row-12 > .col-8 {
	width: 64.58333333%;
}

.row-12 > .col-9 {
	width: 72.91666667%;
}

.row-12 > .col-10 {
	width: 81.25%;
}

.row-12 > .col-11 {
	width: 89.58333333%;
}

.row-12 > .col-12 {
	width: 97.91666667%;
}

.hidden-block {
	display: none;
}

.logo img {
	background-color: #0b4842;
	border-radius: 1em;
	overflow: hidden;
	width: 100%;
}

.border {
	border: 1px solid #eee;
}

.border-bottom {
	border-bottom: 1px solid #eee;
}

.border-bottom-double {
	border-bottom: 5px solid #eee;
}

h1.hc { /*Pixel value Fallback*/
	font: normal 28px/28px Opensans, Fallback, sans-serif; /*Rem value*/
	font: normal 2.8rem/2.8rem Opensans, Fallback, sans-serif;
	border-bottom: 5px solid;
	padding-bottom: 10px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

h1.hc small { /*Pixel value Fallback*/
	font: normal 12px/28px Opensans, Fallback, sans-serif; /*Rem value*/
	font: normal 1.2rem/2.8rem Opensans, Fallback, sans-serif;
	float: right;
	color: #000000;
}

h2.hc,
.h2.hc { /*Pixel value Fallback*/
	font: normal 18px/18px Opensans, Fallback, sans-serif; /*Rem value*/
	font: normal 1.8rem/1.8rem Opensans, Fallback, sans-serif;
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 5px solid #eee;
}

.hc.colors > div {
	clear: both;
}

.hc.colors > div > span {
	border: 1px solid #eee;
}

.hc.colors span {
	width: 14.58333333%;
	height: 110px;
	float: left;
	margin-bottom: 40px;
	font-size: 10px;
	text-align: center;
	padding: 10px;
}

.hc.colors span:hover span { /* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjIiLz4KICAgIDxzdG9wIG9mZnNldD0iMSUiIHN0b3AtY29sb3I9IiMwMzAzMDMiIHN0b3Atb3BhY2l0eT0iMC4yIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background-image: -webkit-linear-gradient(to top, transparent, rgba(0, 0, 0, 0.09));
	background-image: -moz-linear-gradient(to top, transparent, rgba(0, 0, 0, 0.09));
	background-image: -o-linear-gradient(to top, transparent, rgba(0, 0, 0, 0.09));
	background-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.09)); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33000000', endColorstr='#00ffffff', GradientType=0); /* IE6-8 */
}

.hc.colors span:focus span { /* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjIiLz4KICAgIDxzdG9wIG9mZnNldD0iMSUiIHN0b3AtY29sb3I9IiMwMzAzMDMiIHN0b3Atb3BhY2l0eT0iMC4yIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background-image: -webkit-linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.09));
	background-image: -moz-linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.09));
	background-image: -o-linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.09));
	background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.09)); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33000000', endColorstr='#00ffffff', GradientType=0); /* IE6-8 */
}

.hc.colors span span {
	display: block;
	width: 100%;
	height: 50px;
	margin: 10px auto;
}

.hc.colors .hc-base span {
	background-color: #000000;
}

.hc.colors .hc-black span {
	background-color: #000000;
}

.hc.colors .hc-white span {
	background-color: #ffffff;
}

.hc.colors .hc-primary span {
	background-color: #b7251c;
}

.hc.colors .hc-primary-light1 span {
	background-color: #e87c6a;
}

.hc.colors .hc-primary-light2 span {
	background-color: #f9e0d9;
}

.hc.colors .hc-primary-dark1 span {
	background-color: #8b1518;
}

.hc.colors .hc-primary-dark2 span {
	background-color: #5f0e17;
}

.hc.colors .hc-secondary span {
	background-color: #1999a1;
}

.hc.colors .hc-secondary-light1 span {
	background-color: #54dce5;
}

.hc.colors .hc-secondary-light2 span {
	background-color: #c3f3f6;
}

.hc.colors .hc-secondary-dark1 span {
	background-color: #127572;
}

.hc.colors .hc-secondary-dark2 span {
	background-color: #0b4842;
}

.hc.types p {
	width: 81.25%;
	margin-bottom: 20px;
	position: relative;
}

.hc.types p span {
	display: block;
	font: inherit;
	margin-bottom: 10px;
}

.hc.types input[type="number"] {
	position: absolute;
	top: 0;
	right: -162px;
	text-align: center;
	width: 60px;
	height: 60px;
	text-indent: 10px;
}

.hc.types .hc-base { /*Pixel value Fallback*/
	font: normal 16px/18px Opensans, Fallback, sans-serif; /*Rem value*/
	font: normal 1.6rem/1.8rem Opensans, Fallback, sans-serif;
}

.hc.types .hc-base-bold { /*Pixel value Fallback*/
	font: bold 16px/18px Opensans, Fallback, sans-serif; /*Rem value*/
	font: bold 1.6rem/1.8rem Opensans, Fallback, sans-serif;
}

.hc.buttons > div {
	width: 97.91666667%;
	margin-bottom: 30px;
}

.hc.buttons > div > div {
	float: left;
	width: 50%;
}

.hc.forms > div {
	width: 97.91666667%;
	margin-bottom: 30px;
}

.hc.tooltips a {
	text-align: center;
	margin: 50px auto;
	display: table;
}

@media only screen and (min-width: 611px) and (max-width: 949px) {

.visible-mobile {
	display: none;
}

.visible-tablet {
	display: block;
}

.visible-desktop {
	display: none;
}

.hidden-tablet {
	display: none;
}

[tablet="1"] {
	width: 6.25%;
}

[tablet="2"] {
	width: 14.58333333%;
}

[tablet="3"] {
	width: 22.91666667%;
}

[tablet="4"] {
	width: 31.25%;
}

[tablet="5"] {
	width: 39.58333333%;
}

[tablet="6"] {
	width: 47.91666667%;
}

[tablet="7"] {
	width: 56.25%;
}

[tablet="8"] {
	width: 64.58333333%;
}

[tablet="9"] {
	width: 72.91666667%;
}

[tablet="10"] {
	width: 81.25%;
}

[tablet="11"] {
	width: 89.58333333%;
}

[tablet="12"] {
	width: 97.91666667%;
}

.tablet-1 {
	width: 6.25%;
}

.tablet-2 {
	width: 14.58333333%;
}

.tablet-3 {
	width: 22.91666667%;
}

.tablet-4 {
	width: 31.25%;
}

.tablet-5 {
	width: 39.58333333%;
}

.tablet-6 {
	width: 47.91666667%;
}

.tablet-7 {
	width: 56.25%;
}

.tablet-8 {
	width: 64.58333333%;
}

.tablet-9 {
	width: 72.91666667%;
}

.tablet-10 {
	width: 81.25%;
}

.tablet-11 {
	width: 89.58333333%;
}

.tablet-12 {
	width: 97.91666667%;
}

[class^="tablet-"] {
	display: inline;
	float: left;
	margin: 0 1.04166667%;
}

}

@media only screen and (min-width: 950px) {

.visible-mobile {
	display: none;
}

.visible-tablet {
	display: none;
}

.visible-desktop {
	display: block;
}

.hidden-desktop {
	display: none;
}

[desktop="1"] {
	width: 6.25%;
}

[desktop="2"] {
	width: 14.58333333%;
}

[desktop="3"] {
	width: 22.91666667%;
}

[desktop="4"] {
	width: 31.25%;
}

[desktop="5"] {
	width: 39.58333333%;
}

[desktop="6"] {
	width: 47.91666667%;
}

[desktop="7"] {
	width: 56.25%;
}

[desktop="8"] {
	width: 64.58333333%;
}

[desktop="9"] {
	width: 72.91666667%;
}

[desktop="10"] {
	width: 81.25%;
}

[desktop="11"] {
	width: 89.58333333%;
}

[desktop="12"] {
	width: 97.91666667%;
}

.desktop-1 {
	width: 6.25%;
}

.desktop-2 {
	width: 14.58333333%;
}

.desktop-3 {
	width: 22.91666667%;
}

.desktop-4 {
	width: 31.25%;
}

.desktop-5 {
	width: 39.58333333%;
}

.desktop-6 {
	width: 47.91666667%;
}

.desktop-7 {
	width: 56.25%;
}

.desktop-8 {
	width: 64.58333333%;
}

.desktop-9 {
	width: 72.91666667%;
}

.desktop-10 {
	width: 81.25%;
}

.desktop-11 {
	width: 89.58333333%;
}

.desktop-12 {
	width: 97.91666667%;
}

[class^="desktop-"] {
	display: inline;
	float: left;
	margin: 0 1.04166667%;
}

}

@media only screen and (max-width: 610px) {

.visible-mobile {
	display: block;
}

.visible-tablet {
	display: none;
}

.visible-desktop {
	display: none;
}

.hidden-mobile {
	display: none;
}

[mobile="1"] {
	width: 6.25%;
}

[mobile="2"] {
	width: 14.58333333%;
}

[mobile="3"] {
	width: 22.91666667%;
}

[mobile="4"] {
	width: 31.25%;
}

[mobile="5"] {
	width: 39.58333333%;
}

[mobile="6"] {
	width: 47.91666667%;
}

[mobile="7"] {
	width: 56.25%;
}

[mobile="8"] {
	width: 64.58333333%;
}

[mobile="9"] {
	width: 72.91666667%;
}

[mobile="10"] {
	width: 81.25%;
}

[mobile="11"] {
	width: 89.58333333%;
}

[mobile="12"] {
	width: 97.91666667%;
}

.mobile-1 {
	width: 6.25%;
}

.mobile-2 {
	width: 14.58333333%;
}

.mobile-3 {
	width: 22.91666667%;
}

.mobile-4 {
	width: 31.25%;
}

.mobile-5 {
	width: 39.58333333%;
}

.mobile-6 {
	width: 47.91666667%;
}

.mobile-7 {
	width: 56.25%;
}

.mobile-8 {
	width: 64.58333333%;
}

.mobile-9 {
	width: 72.91666667%;
}

.mobile-10 {
	width: 81.25%;
}

.mobile-11 {
	width: 89.58333333%;
}

.mobile-12 {
	width: 97.91666667%;
}

[class^="mobile-"] {
	display: inline;
	float: left;
	margin: 0 1.04166667%;
}

}

