
mixin header-site()
	header.header-site
		section.header-site-top
			.wrap
				.brand
					a(href="/").logo
						img(src="./_data/logo.png", alt="")
					.menu-hamburguer
						.bar
						.bar 
						.bar
				form.search-box
					input(type="search", placeholder="Buscar")
					button(type="submit")
						i.icon-search
				+social-links
		section.header-site-bottom 
			.wrap 
				if block
					block

mixin header-inner
	header.header-inner&attributes(attributes)
		.header-wrap
			block