.header-site{

    position: sticky;
    top: 0;
    z-index: var(--z-index-header);
    background: var(--color-neutral-lightest);
    transition: 0.5s ease-in-out;

    .scroll-down &{
        top: -100%;
    }

    &-top{
       
        --wrap-align-items: center;

        @include media-max(lg){
            --wrap-padding-height: var(--space-xs);
            --wrap-padding-width: var(--space-xs);
            --wrap-grid-gap: var(--space-xs);
        }
        
        @include media-min(lg){
            --wrap-padding-height: var(--space-md);
            --wrap-grid-columns: var(--brand-width, 250px) 1fr  auto;
            --wrap-grid-gap: var(--space-xl);
        }

        .wrap{
            justify-content: space-between;

            > div{
                display: var(--display, flex);
                justify-content: space-between;
                gap: 30px;
            }

            @include media-max(lg){
                .principal {
                    --display: grid;
                    grid-template-columns: 150px auto;
                    align-items: center;
                }
            }  
            
        }

    }
    &-bottom{
        background: var(--color-primary-medium);       
    }
}
.search-box{
    position: relative;
    width: 100%;
    display: flex;

    input[type="search"] {
        width: 100%;
        height: 40px;
        text-indent: 20px;
        border: 1px solid var(--color-primary-medium);
        border-radius: var(--border-radius-pill);
    }
    
    button {
        border: none;
        background: none;
        color: var(--color-primary-dark);
        padding: 10px;
        transition: 0.2s;
        position: absolute;
        top: 0;
        right: 10px;
        bottom: 0;
        cursor: pointer;
        &:hover {
            color: var(--color-primary-medium);
        }
    }
}

.header-inner {
    --heading-column: wrap-start/wrap-end;
    
    display: grid;
    grid-template-columns: var(--wrap-columns-half);

    // padding-top: var(--header-inner-padding-top, var(--header-inner-padding-height, var(--header-inner-padding, var(--space-lg))));
    // padding-right: var(--header-inner-padding-right, var(--header-inner-padding-width, var(--header-inner-padding, 0)));
    // padding-bottom: var(--header-inner-padding-bottom, var(--header-inner-padding-height, var(--header-inner-padding, var(--space-lg))));
    // padding-left: var(--header-inner-padding-left, var(--header-inner-padding-width, var(--header-inner-padding, 0)));

    background-color: var(--header-inner-bg, var(--color-neutral-light));
    background-image: var(--header-inner-bg-image);
    background-repeat: var(--header-inner-repeat, no-repeat);
    background-position: var(--header-inner-position, top center);
    background-size: var(--header-inner-size, cover);

    border-bottom: var(--header-inner-border-bottom);    
}

.header-wrap{
    padding-top: var(--header-wrap-padding-top, var(--header-wrap-padding-height, var(--header-wrap-padding, var(--space-lg))));
    padding-right: var(--header-wrap-padding-right, var(--header-wrap-padding-width, var(--header-wrap-padding, 0)));
    padding-bottom: var(--header-wrap-padding-bottom, var(--header-wrap-padding-height, var(--header-wrap-padding, var(--space-lg))));
    padding-left: var(--header-wrap-padding-left, var(--header-wrap-padding-width, var(--header-wrap-padding, 0)));
    display: grid;
    grid-template-columns: var(--wrap-columns-half);
    grid-column: 1 / -1;
}