include ./breadcrumb/breadcrumb
include ./data-list/data-list
include ./footer/layout
include ./header/layout
include ./hero/layout
include ./heading/layout
include ./nav-global/layout
include ./pagination/layout
include ./swiper/layout
include ./topic/layout
include ./share/layout
include ./social-links/layout
include ./splashscreen/layout
include ./tabs/layout