// Breadcrumb
// Version: 1.0.1
// Date: 07/04/2014
// Last Update: 19/08/2014


.breadcrumb-container{
	.wrap;
	padding: 0 1.04166667%;
}
.breadcrumb{
	// Custom
	@color-arrow: @color-white;
	@color-link: @color-white;
	@color-link-hover: @color-secondary-dark2;
	@color-link-current: @color-white;

	@decoration-link-hover: underline;
	@decoration-link-current: none;

	@before-content: "\f105";
	display: table;
	margin:10px 0;
	padding: 4px 0;
	float: left;
	clear: both;
	li, a{
		&:first-letter,
		&::first-letter {
			text-transform: uppercase;
		}
	}
	li{
		float: left;
		.font-base(normal, 1.4, 1.4);
		color: @color-link-current;
		text-decoration: @decoration-link-current;
		&:before{
			content: @before-content;
			.awesome; // view http://fontawesome.io/icons/
			display: block;
			margin: 1px 8px 0;
			float: left;
			color: @color-arrow;
		}
		&:first-child{
			&:before{
				content: none;
			}
		}
		&.active {
			padding-top: 1px;
		}
	}
	a{
		display: block;
		float: left;
		color: @color-link;
		&:hover{
			// color: @color-link-hover;
			text-decoration: @decoration-link-hover;
		}
	}
}

.awesome{
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
}
