

form.classnameform{

	input[type="submit"]{
		// especificity css
	}

}

#form{
	display: table;
	width: 100%;
	> div{
		&:extend(#float all);
	}
}


form{
	&.nameform{
		> div{
			float: left;
			display: inline;
			margin: 0 1.1%;
		}

		/*
		*
		*  Analisar situação de forms complexos e responsivos
		*
		*/

		@media @mobile{
			.row(16);
			.col-1,.col-2, .col-3, .col-4, .col-5, .col-6, .col-7,.col-8, .col-9, .col-10, .col-11, .col-12{
				.column(16,16);
			}
			div:last-child{
				.column(16,16)!important;
			}
		}
		@media @tablet{
			.row(16);
			.col-1,.col-2, .col-3, .col-4, .col-5, .col-6{
				.column(8,16);
			}
			.col-7,.col-8, .col-9, .col-10, .col-11, .col-12{
				.column(16,16);
			}
			div:last-child{
				.column(16, 16)!important;
			}
		}
		@media @desktop{
			.row(12);
			.col-1{.column(1,12);}
			.col-2{.column(2,12);}
			.col-3{.column(3,12);}
			.col-4{.column(4,12);}
			.col-5{.column(5,12);}
			.col-6{.column(6,12);}
			.col-7{.column(7,12);}
			.col-8{.column(8,12);}
			.col-9{.column(9,12);}
			.col-9{.column(9,12);}
			.col-10{.column(10,12);}
			.col-11{.column(11,12);}
			.col-12{.column(12,12);}
		}
	}

	.helper {
		margin: 15px auto;
		display: table;
		a {
			margin: 10px;
			color: @color-primary;
			text-decoration: underline;
			&:hover {
				color: @color-primary-light1;
			}
		}
	}
}



