form{
	.feedback.success + .button{
		color: @color-valided;
	}
	.feedback.error + .button{
		color: @color-invalid;
	}
}

form.contato{
	.form-row(10);
}

form.classnameform{

	input[type="submit"]{
		// especificity css
	}

}

#form{
	display: table;
	width: 100%;
	> div{
		&:extend(#float all);
	}
}


form{
	&.nameform{
		> div{
			float: left;
			display: inline;
			margin: 0 1.1%;
		}

	}

	.helper {
		margin: 15px auto;
		display: table;
		a {
			margin: 10px;
			color: @color-primary;
			text-decoration: underline;
			&:hover {
				color: @color-primary-light1;
			}
		}
	}
}

/*
*
*  Analisar situação de forms complexos e responsivos
*
*/

.form-row(@a, @b: @columns / 2, @c: @columns){
	@media @mobile{
		.row(@c);
		.col-1,.col-2, .col-3, .col-4, .col-5, .col-6, .col-7,.col-8, .col-9, .col-10, .col-11, .col-12{
			.column(@c,@c);
		}
		div:last-child{
			.column(@c,@c)!important;
		}
	}
	@media @tablet{
		.row(@c);
		.col-1,.col-2, .col-3, .col-4, .col-5, .col-6{
			.column(@b,@c);
		}
		.col-7,.col-8, .col-9, .col-10, .col-11, .col-12{
			.column(@c,@c);
		}
		div:last-child{
			.column(@c, @c)!important;
		}
	}
	@media @desktop{
		.row(@a);
		.col-1{.column(1,@a);}
		.col-2{.column(2,@a);}
		.col-3{.column(3,@a);}
		.col-4{.column(4,@a);}
		.col-5{.column(5,@a);}
		.col-6{.column(6,@a);}
		.col-7{.column(7,@a);}
		.col-8{.column(8,@a);}
		.col-9{.column(9,@a);}
		.col-9{.column(9,@a);}
		.col-10{.column(10,@a);}
		.col-11{.column(11,@a);}
		.col-12{.column(12,@a);}
	}
}
