.nav-global{
	background-color:@color-base-light2;
	// display: table;
	// width: 100%;
	.column(10);
	.centralize;
	li{
		margin:0 1.8em;
		padding: 0.8em 0;
		height: 100%;
		&:last-child{
			margin-right: 0;
		}
	}
	.item{
		color: @color-primary;
		.font(@font-base, normal, 1.4, 1.4);
		#uppercase(false);
		// border-bottom: 3px solid @color-primary-light1;
		// display: block;
		// float: left;
		.transition();
		&:hover, &.active{
			text-decoration: none;
			color: @color-base;
			// border-bottom: 3px solid @color-white;
		}
	}
}

.nav-mobile {
    float: right;
    display: block;
	li {
	    float: left;
	}
}

.bt-sandwiche{
	.hide-only(desktop);
}


.nav-local{
	#aside(menu);
	.item{
		.font(@font-secondary, bold, 1.4, 1.4);
		#uppercase(true);
		color: @color-primary;
		display: block;
		margin-bottom: 25px;
		&.active, &:hover{
			color: @color-primary-light1;
		}
	}

	// Selecionar estilo de marcador
	// .nav-marker-before(<type>, <color>, <color:hover>);
	// - retangule
	// - circle
	// - false
	.nav-marker-before(circle, @color-primary, @color-primary-light1);
}

.nav-marker-before(@type, @color, @hover) when ((@type) = retangule){
	.item{
		#nav-marker-before(@color, @hover);
		&:before {
			width: 20px;
			height: 8px;
			margin: 3px 12px 0 0;
		}
	}
}

.nav-marker-before(@type, @color, @hover) when ((@type) = circle){
	.item{
		#nav-marker-before(@color, @hover);
		&:before {
			width: 4px;
			height: 4px;
			margin: 6px 6px 0 0;
			.border-radius(10em);
		}
	}
}

#nav-marker-before(@color, @hover){
	&:before{
      content: "";
      display: block;
      background: @color;
      float: left;
	}
    &:hover:before{
      background: @hover;
    }
}
