#navigation(@type) when ((@type) = horizontal){
    background-color:@color-white;
    display: table;
    width: 100%;
    li{
        margin:0 1.8em;
        padding: 0.8em 0;
        height: 100%;
        &:last-child{
          margin-right: 0;
        }
    }    
    .item{
        color: @color-primary;
        .font(@font-base, normal, 1.4, 1.4);
        border-bottom: 3px solid @color-primary-light1;
        display: block;
        float: left;
        .transition();
        &:hover, &.active{
            text-decoration: none;
            color: @color-base;
            // border-bottom: 3px solid @color-white;
        }
    }
}

#navigation(@type) when ((@type) = vertical){
    float: left;
    height: 100%;
    width: 230px;
    background: @color-white;
    border-right: 1px solid @color-base-light1;
    .transition(0.8s);
    > ul > li a{
        padding: 14px 20px;
    }
    a, i{
        text-decoration: none;
        color: @color-primary;
        font-size: 16px;
    }
    a{
        display: block;
        .font(@font-base, normal, 1.6, 1.8);
    }
    i{
        #icon-position(left);
    }
}


.nav-mobile {
  float: right;
  display: block;
  li {
    float: left;
  }
}

.bt-sandwiche{
  // .hide-only(desktop);
  .column(1);
  .centralize;
  a{
    display: block;
    float: left;
    padding: 15px 0 0 7px;
    .font-size(1.8);
    color: @color-primary;
  }
}

.nav-local{
  float: left;
  height: 100%;
  width: 230px;
  background: @color-white;
  border-right: 1px solid @color-base-light1;
  position: fixed;
  left: -100%;
  .transition(0.8s);
  &.open{
    left: 0;
  }
  > ul > li a{
    padding: 14px 20px;
  }
  a, i{
    text-decoration: none;
    color: @color-primary;
    font-size: 16px;
  }
  a{
    display: block;
    .font(@font-base, normal, 1.6, 1.8);
  }
  i{
    #icon-position(left);
  }
}

.nav-boxatalhos {
  background: @color-white;
  border: 1px solid @color-base-light1;
  position: fixed;
  right: 210px;
  top: 110px;
  z-index: 9999;
  text-align: center;
  padding: 3px 3px 0px 3px;
  h2{
    margin: 0 8px 18px;
  }
  li{
    height: 30px;
    width: 30px;
    margin: 9px auto;
  }
  a{
    display: block;
  }
}

#icon-position(@type) when ((@type) = top){
  display: block;
  text-align: center;
  margin-bottom: 10px;
  + a{
    display: block;
    text-align: center;
  }
}

#icon-position(@type) when ((@type) = left){
  margin-right: 10px;
  display: block;
  float: left;
  width: 20px;
}


.drop-down a{
  .transition(2s);
  &:hover{
    background: rgba(255, 255, 255, 0.8);
    + .drop-list{
      height: auto;
      margin: 15px 0;
      opacity: 1;
    }
  }
  > li{
    padding: 10px 0;
  }
}

.drop-list{
  height: 0;
  overflow: hidden;
  transition: 0.2s;
  border-left: 3px solid @color-primary;
  padding-left: 1px;
  margin-left: 28px!important;
  opacity: 0;
  li{
    margin: 0 0px 10px 0;
    &:last-child{
      margin-bottom: 0;
    }
  }
  i{
    margin-right: 10px;
  }
}

.input-label{
  position: relative;
  &:before{
    content:'';
    background: #000;
    display: block;
    position: absolute;
    top: -1px;
    left: -1px;
    width: 0%;
    height: 110%;
    z-index: -1;
    opacity: 0;
    transition: 0.2s;
  }
  &:hover:before{
    width: 101%;
    opacity: 1;
  }
}


.bagde {
  float: right;
  background-color: #9A9EA1;
  display: block;
  color: #fff;
  padding: 2px 5px;
  border-radius: 2em;
  .font(@font-base, normal, 1.2, 1.4);
  text-align: center;
  position: relative;
  top: -2px;
}
