.newsletter{
	label{
		.font-base(bold, 1.4, 1.4);
		.uppercase;
		color: @color-white;
		height: 20px;
	}
	div {
		position: relative;
	}
	input[type="email"] {
		width: 98%;
	}
	.button {
		position: absolute;
		top: 1px;
		right: 0;
		height: 28px;
	}
}
