.newsletter{
	background: @color-base-light2;
	margin-bottom: @space;
	padding: @space 0;
	#newletter(oneline);

}

.newsletter-form{
	.wrap;
}

#newletter(@type) when ((@type) = oneline){
	legend{
		.column(4);
	}
	input[type="email"] {
		.column(3);
	}
	input[type="text"] {
		.column(3);
	}
	input[type="submit"]{
		.column(2);
		height: 100%;
	}
}

#newletter(@type) when ((@type) = multipleline){

}
