// .slider {
// 	height: 600px;
// 	position: relative;
// }

// .slide {
// 	display: none;
// 	width: 100%;
// 	height: 600px;
// 	background-position: center 96px;
// 	background-attachment: fixed;
// 	background-repeat: no-repeat;
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// }

// .bullets {
// 	display: table;
// 	width: 100%;
// 	position: absolute;
// 	bottom: 0;
// 	text-align: center;
// 	li{
// 		padding: 5px;
// 		display: inline-block;
// 		.border-radius(5em);
// 		background: @color-primary-light1;
// 		margin: 5px;
// 		cursor: pointer;
// 		&.active, &:hover{
// 			background: @color-primary-dark1;
// 		}
// 	}
// }

// slide {
// 	position: relative;
// 	height: 100%;
// 	overflow: hidden;
// 	ul{
// 		height: 100%;
// 		overflow: hidden;
// 	}
// 	.item{
// 		height: 100%;
// 		display: block;
// 		float: left;
// 	}
// }

// .slideshow{
// 	&:extend(slide all);
// 	.item {
// 		background: no-repeat top center;
// 	}
// 	img{
// 		max-width: initial;
// 		position: absolute;
// 		top: 0;
// 		left: 50%;
// 		margin-left: -980px;
// 	}
// }

// .slidevertical{
// 	&:extend(slide all);
// }

// .slider-home{
// 	height: 460px;
// 	margin-bottom: 40px;
// }

// .slider {
// 	height: 600px;
// 	position: relative;
// }

// .slide {
// 	display: none;
// 	width: 100%;
// 	height: 600px;
// 	background-position: center 96px;
// 	background-attachment: fixed;
// 	background-repeat: no-repeat;
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// }

// .bullets {
// 	display: table;
// 	width: 100%;
// 	position: absolute;
// 	bottom: 0;
// 	text-align: center;
// 	li{
// 		padding: 5px;
// 		display: inline-block;
// 		.border-radius(5em);
// 		background: @color-primary-light1;
// 		margin: 5px;
// 		cursor: pointer;
// 		&.active, &:hover{
// 			background: @color-primary-dark1;
// 		}
// 	}
// }



// .slider {
// 	height: 600px;
// 	position: relative;
// }

// .slide {
// 	display: none;
// 	width: 100%;
// 	height: 600px;
// 	background-position: center 96px;
// 	background-attachment: fixed;
// 	background-repeat: no-repeat;
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// }

// .bullets {
// 	display: table;
// 	width: 100%;
// 	position: absolute;
// 	bottom: 0;
// 	text-align: center;
// 	li{
// 		padding: 5px;
// 		display: inline-block;
// 		.border-radius(5em);
// 		background: @color-primary-light1;
// 		margin: 5px;
// 		cursor: pointer;
// 		&.active, &:hover{
// 			background: @color-primary-dark1;
// 		}
// 	}
// }

// .slider-vertical(@height:100px){
// 	margin-bottom: @space;
// 	position: relative;
// 	height: @height + 50;
// 	overflow: hidden;
// 	.slider{
// 		display: block;
// 		overflow: hidden;
// 		height: @height + 20;
// 		position: absolute;
// 		.transform(translateX(0px));
// 		.transition(2s);
// 	}
// 	.bullets {
// 		display: table;
// 		margin: @height + 20 auto 0;
// 		li {
// 			float: left;
// 			margin: 0 5px;
// 			width: 15px;
// 			height: 15px;
// 			background: @color-white;
// 			border: 1px solid @color-base-light1;
// 			.border-radius(10em);
// 			.transition();
// 			&:hover, &.active {
// 				background: @color-primary;
// 				border: 1px solid @color-primary
// 			}
// 		}
// 		a {
// 			text-indent: -9999px;
// 			display: block;
// 		}

// 	}
// }

#slideshow(@height:100px){
	position: relative;
	.sliders{
		position: relative;
		overflow: hidden;
		height: @height;
	}
	.slide{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-position: top center;
		z-index: 1;
		.transition(1s);
		.opacity(0);
		&.active{
			.opacity(1);
			z-index: 2;
		}
		a{
			display: block;
			height: 100%;
		}
	}
}

.bullets-wrap {
	position: absolute;
	height: 0;
	width: 100%;
	max-width: 960px;
	left: 50%;
	margin-left: -480px;
	z-index: 3;
	.bullets {
		display: table;
	}
}

#bullets-for-all{
	.bullets {
		li {
			float: left;
			margin: 0 5px;
			width: 15px;
			height: 15px;
			background: @color-base;
			// border: 1px solid @color-base-light1;
			text-indent: -9999px;
			.transition();
			&:hover, &.active {
				background: @color-secondary;
				// border: 1px solid @color-primary
			}
		}
		a {
			text-indent: -9999px;
			display: block;
		}
	}
}

#bullets-style(@style) when ((@style) = circle){
	#bullets-for-all;
	.bullets {
		li {
			.border-radius(10em);
		}
	}
}

#bullets-style(@style) when ((@style) = square){
	#bullets-for-all;

}

#bullets-style(@style) when ((@style) = diamond){
	#bullets-for-all;
	.bullets {
		li {
			.border-radius(0.3em);
			.rotate(45deg);
		}
	}
}

#bullets-position(@position, @value) when ((@position) = topLeft){
	.bullets-wrap{
		top: 0;
	}
	.bullets{
		position: absolute;
		top: @value;
		left: @value;
	}
}

#bullets-position(@position, @value) when ((@position) = topRight){
	.bullets-wrap{
		top: 0;
	}
	.bullets{
		position: absolute;
		top: @value;
		right: @value;
	}
}

#bullets-position(@position, @value) when ((@position) = bottomLeft){
	.bullets-wrap{
		bottom: 0;
	}
	.bullets{
		position: absolute;
		bottom: @value;
		left: @value;
	}
}

#bullets-position(@position, @value) when ((@position) = bottomRight){
	.bullets-wrap{
		bottom: 0;
	}
	.bullets{
		position: absolute;
		bottom: @value;
		right: @value;
	}
}

#bullets-position(@position, @value) when ((@position) = bottomCenter){
	.bullets-wrap{
		bottom: 0;
	}
	.bullets{
		position: relative;
		margin: 0 auto;
		bottom: @value;
	}
}

// Configs

// .custom-carrousel{
// 	.slider-vertical(270px);
// }


.custom-slideshow{
	#slideshow(376px);
}


.banner-principal{
	.show-only(desktop);
	#slideshow(376px);
	#bullets-style(diamond);
	#bullets-position(topRight, 15px);
}

.banner-2{
	.show-only(desktop);
	#slideshow(376px);
	#bullets-style(square);
	#bullets-position(topLeft, 15px);
}
