@th-bg: #ebebeb;
@td-bg: #f7f7f7;

#border-table{
	border-width: 0px 1px 1px 0px;
	&:last-child{
		border-width: 0px 0px 1px 0px;
	}
}

table{
	width: 100%;
	color: @color-base-dark1;
}

th, td{
	vertical-align: middle;
	border-color: #e5e5e5;
	border-style: solid;
	&:extend(#border-table all);
}

th{
	background: @th-bg;
	height: 62px;
	text-align: center;
	text-transform: uppercase;
	.font(@font-base, bold, 1.7, 1.7);
}

td{
	background: @td-bg;
	height: 38px;
	text-align: center;
	.font(@font-base, bold, 1.4, 1.4);
}

tr{
	&:last-child{
		td{
			border-bottom: 0px;
		}
	}
}

.table1(){}
