mixin card-select(titulo, option, name)
    .card-select
        input(type="radio",name=name, id=titulo)
        label(for=option)
            if(titulo)
            .card-header
              p= titulo
              .card-options
                a.link
            .card-content
              block