.fieldset{
    .border();
    .grid();
    .padding();
    .radius();
}

legend{
	padding: 2px 8px 2px 2px;
}

.form-content {
    .grid();
    grid-auto-rows: auto;    
    grid-template-columns: repeat(12, ~'calc(100% / 12 - @{gap})');
    justify-content: space-between;
}

.form-content .form-control {
    // grid-column-end: -1;
    margin-bottom: 0;
}

.grid-both(){
    grid-column-start: 1;
}

.form-content{
    // .columns;
    // .is-multiline;
    // .form-control {        
    //     .column;
    // }
    // .wrap;
    // display: table;

    .label-control{
        margin-bottom: 5px;
    }
    .form-control{
        grid-column-end: span 12;
        // .column-desktop(12);
        // margin-bottom: @gap-large!important;
    }
}

// pacientes

.form-header{
    // .column-desktop(12);
    // margin-top: @gap!important;
    // margin-bottom: @gap!important;
}

form.pacientes{
    display: grid;
    grid-gap: @gap;
	.button-group{
		justify-content: flex-end;
	}
}

.form-control{
 
}
