.fieldset{
    .border();
    .grid();
    .padding();
    .radius();
}

legend{
	padding: 2px 8px 2px 2px;
}

.form-content {
    .grid();
    grid-auto-rows: auto;    
    grid-template-columns: repeat(12, ~'calc(100% / 12 - @{gap})');
    justify-content: space-between;
}

.form-content .form-control {
    // grid-column-end: -1;
    margin-bottom: 0;
}

.grid-both(){
    grid-column-start: 1;
}

.form-content{
    // .columns;
    // .is-multiline;
    // .form-control {        
    //     .column;
    // }
    // .wrap;
    // display: table;

    .label-control{
        margin-bottom: 5px;
    }
    .form-control{
        grid-column-end: span 12;
        // .column-desktop(12);
        // margin-bottom: @gap-large!important;
    }
}

// pacientes

.form-header{
    // .column-desktop(12);
    // margin-top: @gap!important;
    // margin-bottom: @gap!important;
}

form.pacientes{
    display: grid;
    grid-gap: @gap;
	.button-group{
		justify-content: flex-end;
	}
}

.form-control{
    // .grid-both;
    &.nome{
        // grid-column-end: span 12;
        // .column-desktop(12);
        
    }
    &.data-de-nascimento{
        grid-column-end: span 2;
    }
    &.sexo{
        grid-column-start: 1;
        grid-column-end: span 3;
    }
    &.tipo-sanguíneo{
        grid-column-end: span 3;
    }
    &.fator-rh{
        grid-column-end: span 2;
    }
    &.fator-du{ 
        grid-column-end: span 3;
    }
    &.observação{

    }
    &.nome-do-pai{
        grid-column-end: span 6;

        .grid-both;
    }
    &.nome-da-mãe{
        grid-column-end: span 6;
    }
    &.cpf{
        grid-column-end: span 2;
    }
    &.rg{
        grid-column-end: span 3;
    }
    &.cor-da-pele{
        grid-column-end: span 3;
    }
    &.etnia{
        grid-column-end: span 3;
    }
    &.cep{
        grid-column-end: span 2;
   }
    &.logradouro{
        grid-column-end: span 8;
    }
    &.número{
        grid-column-end: span 2;
    }
    &.complemento{
        grid-column-end: span 2;
    }
    &.bairro{
        grid-column-end: span 5;
    }
    &.estado{
        grid-column-end: span 2;
    }
    &.cidade{
        grid-column-end: span 3;
    }
    &.e-mail{
        grid-column-end: span 6;
    }    
    &.tipo{
        grid-column-end: span 1;
    }    
    &.telefone{
        grid-column-end: span 5;
    }
    &.observação-contato{
        grid-column-end: span 6;
    }
}
