.fixed-header(@hero){

	& when ((@hero) = 'hero'){
        position: fixed;
        width: 100%;
    }
    
    & when ((@hero) = true){
        position: sticky;
    }
   
    z-index: 1000;
    top: 0;

}

.header-site {
    .fixed-header(true);
    .home &{
        .fixed-header('hero'); 
    }
    padding: 10px 0;
    background: fade(@color-primary, 50%);
}

.header-site .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}