.header-site {
    position: sticky;
    z-index: 1000;
    top: 0;
    padding: 10px 0;
    background: @color-primary;
}

.header-site .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}