#button-default(){
	// padding: 1.3rem 1.9rem 1rem 1.9rem;
	padding: 1.1rem 1.9rem .9rem;
	min-width: 3rem;
	color: @color-grayscale4;
	text-decoration: none;
	border: 1px solid @color-grayscale4;
	transition: @transition;
	text-align: center;
    border-radius: @radius-min;
	font-size: 1.6rem;
	display: inline-block;
    text-decoration: none;
	line-height: 1;
	&.space-icon svg {
		margin-right: 7px;
	}
	svg {
		fill: currentColor;
		display: inline-block;
		transform: translateY(27%);
		.icon-size(small);
		margin-top: -10px;
	}
	&:hover{
		color: @color-dark1;
		border-color: @color-dark1;
		background: @color-grayscale2;
	}
}

.button{

	#button-default();

	&[disabled]{
		color: @color-grayscale1!important;
		border-color: @color-grayscale1!important;
		cursor: default;
		&.primary{
			background: @color-grayscale1!important;
			border-color: @color-grayscale1!important;
			color: @color-white!important;
			&:hover{
				background: @color-grayscale1!important;
				border-color: @color-grayscale1!important;
				color: @color-white!important;
			}
		}
		&:hover{
			background: @color-white!important;
			color: @color-grayscale1!important;
			border-color: @color-grayscale1!important;
		}
	}

	&.positive{
		color: @color-positive;
		border-color: @color-positive;
		&:hover{
			color: @color-white;
			background: @color-positive;
		}
		&.primary{
			color: @color-white;
			background: @color-positive;
			&:hover{
				color: @color-positive;
				border-color: @color-positive;
				background: @color-white;
			}
		}
	}

	&.negative{
		color: @color-negative;
		border-color: @color-negative;
		&:hover{
			color: @color-white;
			background: @color-negative;
		}
		&.primary{
			color: @color-white;
			background: @color-negative;
			&:hover{
				color: @color-negative;
				border-color: @color-negative;
				background: @color-white;
			}
		}
	}

	&.link{
		border-color: transparent;
	}

	.button-collapse &{
		display: block;
		float: left;
	}
}

.btn-icon {
	font-size: 1.6rem;
	padding: 5px;
	transition: @transition;
	&.active {
		color: @color-primary;
	}
	button& {
		border: none;
		background: none;
	}
}
