//- Buttons
mixin buttonConfig
    a.btn-icon.open(href="#configuracoes", title='Configurações')
        +icon-config

mixin buttonGrid
    span.btn-icon
        +icon-grid

mixin buttonList
    span.btn-icon
        +icon-list

mixin buttonClose
    span.btn-icon.close
        +icon-close

mixin buttonEdit
    span.btn-icon
        +icon-edit

mixin buttonDelete
    span.btn-icon
        +icon-delete

mixin buttonPaciente
    span.btn-icon
        +icon-paciente-add

mixin buttonPedido
    span.btn-icon
        +icon-pedido-add

mixin buttonAdd
    span.btn-icon
        +icon-add

mixin buttonLink(label)
    a(href="#").button.link= label

mixin buttonPositivePrimary(label)
    a(href="#").button.positive.primary= label


mixin button(label, url, classe, ico)
  - var url = url || '#';
  - var classe = classe || '';
  a.button(href=url, class=classe)
    if(ico)
      +ico(ico)
    if(label)
      =label

mixin submit(label, classe, ico)
  - var url = url || '#';
  - var classe = classe || '';
    if(ico)
      button(type="submit")
       +ico(ico)
       =label
    else
      input(type="submit", class=classe, value=label)


//- mixin btn(label)

//- mixin btn-primary(label)
//- mixin btn-info(label)
//- mixin btn-warning(label)
//- mixin btn-danger(label)
//- mixin btn-success(label)