#title-pattern{
	margin-bottom: @space;
}

.title{
	#title-pattern;
	font: 400 3.2rem @font-base;
}

.subtitle{
	#title-pattern;
	font: 400 2.4rem @font-base;
}

.title-section{
	font: 100 4rem @font-stack;
	text-transform: uppercase;
}