include ../../ui/ui.pug
doctype html
html(lang="pt-BR")
  head
    meta(name="robots", content="index, follow")
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="author" content="Uniware Consultoria em Informática")
    meta(name="theme-color" content="FF4B4E")
    meta(name="viewport" content="width=device-width, user-scalable=no")
    meta(name="apple-mobile-web-app-capable" content="yes")

    link(rel="icon" href="favicon.png" type="image/x-icon")
    link(rel="shortcut icon" href="favicon.png" type="image/x-icon")
    block styles
      link(rel="stylesheet" href="assets/styles.min.css")
    block scriptsHead
      link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
    
    title Unilab | Gestão inteligente para laboratórios

  body

    header#header
      

    nav#main-navigation
      

    main#teste.main(role="main" ng-app="sortApp" ng-controller="mainController")

      block content

    .float-action
      a(href="#addPedido").btn-icon.open
        +icon-paciente-add
      +buttonPaciente
      +buttonAdd
    
    .modal#addPedido
      .card-header
        h2 Selecione um paciente
      .content
        form(action="")
          .form-control
            input.input-control(type="text", placeholder="Solicite o nome, RG ou CPF.")
          .button-group
            input.button.link.close(type="reset", value="Cancelar")
            button.button.positive(type="submit")
              +icon-config
              | Novo Paciente      

    footer
      p footer
      script(src="assets/vendors.min.js")
      script(src="assets/scripts.min.js")