include ../../ui/ui.pug
doctype html
html(lang="pt-BR")
  head
    meta(name="robots", content="index, follow")
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="author" content="Uniware Consultoria em Informática")
    meta(name="theme-color" content="FF4B4E")
    meta(name="viewport" content="width=device-width, user-scalable=no")
    meta(name="apple-mobile-web-app-capable" content="yes")

    link(rel="icon" href="favicon.png" type="image/x-icon")
    link(rel="shortcut icon" href="favicon.png" type="image/x-icon")
    block styles
      link(rel="stylesheet" href="assets/styles.min.css")
    block scriptsHead
      link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
    
    title Alicerce - uma biblioteca de construção atomica

  body

    header.header-site(role="banner")
      .wrap
        img(src="/assets/img/logo.png" alt="Logo modelo")
        nav.nav-global
          span.nav-global-mobile
          ul
            li.nav-global-link: a(href="#") Início
            li.nav-global-link: a(href="#") Sobre
            li.nav-global-link: a(href="#") Serviços
            li.nav-global-link: a(href="#") Contato

    block banner            

    main.main(role="main")

      block content

    footer.footer-site(role="contentinfo")
      .wrap
        p footer

    script(src="assets/vendors.min.js")
    script(src="assets/scripts.min.js")