.button{
	#button(@button-style);
}

.button-negative{
	#button(@button-style);
}

#button(@button-style){
 
	&when ((@button-style) = metro)		{#button-metro;}
	&when ((@button-style) = round)		{#button-round;}
	&when ((@button-style) = fullround)	{#button-fullround;}
	&when ((@button-style) = gradient)	{#button-gradient;}
	&when ((@button-style) = ghost)		{#button-ghost;}
}

.button-group{
	.button + .button{
		margin-left: @space;
	}
}


// role="group" aria-label="..."
// or
// role="toolbar" aria-label="..."

#button-default{
	font:normal @button-fz @button-font;
	text-decoration: none;
	margin: 0;
	min-width: 5rem;
    display: block;
    float: left;
    text-align: center;	
	box-sizing: border-box;
    cursor: pointer;
    border: none;
	padding: @button-padding;
	transition: @transition;
	background: @button-bg;
	color: @button-color;
	&:focus{
		outline: none;
	}
}

#button-metro{
	#button-default;
	button-style: "button-metro";
	&:hover{
		background: @color-primary-hover;
	}

	&:focus{
		background: @color-primary-focus;
	}	
}

#button-round{
	button-style: "button-round";
	#button-default;
	border-radius: @button-radius;

	&:hover{
		border-radius: 0em;
	}
	&:focus{
		
	}	
}

#button-fullround{
	button-style:  "fullround";
	#button-default;
	border-radius: @fullradius;

	&:hover{
		border-radius: 0em;
	}
	&:focus{
		
	}	
}

#button-gradient{
	button-style:  "gradient";
	#button-default;
	.linear-gradient(@to: bottom);	

	&:hover{
		background-image: none;
	}
	&:focus{
		
	}
}


#button-ghost{
	button-style:  "ghost";
	#button-default;


	&:hover{
		background-image: none;
	}
	&:focus{
		
	}
}


