// Colors
// Version: 0.0.1
// Update: 22/06/2016


// Base
@color-white: #fff;
@color-black: #000;

// Pallete Colors
@color-base: #444;
@color-base-light1: #e5e5e5;
@color-base-light2: #f0f0f0;
@color-base-dark1: #7f7f7f;
@color-base-dark2: #383838;

@color-primary: #385173;
@color-primary-light1: #476691;
@color-primary-light2: #faf3e5;
@color-primary-dark1: #261912;
@color-primary-dark2: #261912;

@color-secondary: #de4228;
@color-secondary-light1: #ffe8be;
@color-secondary-light2: #faf3e5;
@color-secondary-dark1: #261912;
@color-secondary-dark2: #261912;

// Social colors
@color-youtube:  #d2321f;
@color-facebook: #36579d;
@color-twitter:  #558dcc;

// Validate colors
@color-invalid: #db0000;
@color-valided: #39ad0b;

@color-default: @color-base-light2;
@color-danger: @color-invalid;
@color-warning: #eecc12;
@color-success: @color-valided;


.color-primary{
	// color: @color-primary;
	color: #eb0f0f;
}

.bg-color{
	background: @color-primary;
}
