- const siteName = 'Alex Machado'
- const clientePhone = '<span>43</span> 99195-3022'
- const clienteEmail = 'alex@boideia.com.br'
- const textCopyright = 'Todos os direitos reservados'

-
	const menu= [
		{title: "Inicial", url: ""},
		{title: "Contato", url: "contato"},
		{title: "Sobre", url: "sobre", 
			sub: [
			{title: "Empresa", url: "empresa"},
			{title: "Carreira", url: "carreiras"},
			{title: "Vagas", url: "vagas"},
			]
		},
		{title: "Blog", url: "blog"},
	]
	
-
	const social= [
		'https://instagram.com/',
		'https://facebook.com/',
		'https://youtube.com/',
		'https://linkedin.com/',
	]