// .pagination{
// 	// Custom
// 	@color-link: @color-base;
// 	@color-link-hover: @color-base;
// 	@color-link-current: @color-base;
// 	@color-link-disable: @color-base;

// 	@background-link: none;
// 	@background-link-hover: #F5F5F5;
// 	@background-link-current: #F5F5F5;
// 	@background-link-disable: none;

// 	@decoration-link-hover: none;
// 	@decoration-link-current: none;
// 	@decoration-link-disable: @color-base;

// 	&.center {
// 		margin: 0 auto;
// 		display: table;
// 	}
// 	&.right {
// 		float: right;
// 		& + *{
// 			clear: both;
// 		}
// 	}
// 	li{
// 		display: inline-block;
// 	}
// 	a{
// 		display: block;
// 		padding: 6px 8px;
// 		float: left;
// 		font: @size-base/@line-base @font-base;
// 		color: @color-link;
// 		background: @background-link;
// 		&:hover{
// 			background: @background-link-hover;
// 			color: @color-link-hover;
// 		}
// 	}
// 	.prev{
// 		a{
// 			border-radius: 8px 0px 0px 8px;
// 		}
// 	}
// 	.next{
// 		a{
// 			border-radius: 0px 8px 8px 0px;
// 		}
// 	}
// 	.disabled{
// 		a{
// 			background: @background-link-disable;
// 			color: @color-link-disable;
// 		}
// 		&:first-child{
// 			a{
// 				border-radius: 8px 0px 0px 8px;
// 			}
// 		}
// 		&:last-child{
// 			a{
// 				border-radius: 0px 8px 8px 0px;
// 			}
// 		}
// 	}
// 	.active{
// 		a{
// 			color: @color-link-current;
// 			background: @background-link-current;
// 		}
// 	}
// }

.pagination{
	#reset(list);
	margin-bottom: @space * 2;
	li{
		display: inline-block;
		margin-right: 5px;
	}
 	a{
 		#link-menu;
 	}
}

.breadcrumb{
	#reset(list);
	@breadcrumb-gutter: 5px;
	margin-bottom: @space * 2;
	li{
		display: inline-block;
		+ li{
			margin-left: @breadcrumb-gutter;
			&:before{
				.awesome;
				content: @icon-angle-right;
				margin-right: @breadcrumb-gutter;
				colors: @color-base;
			}	
		}

	}
 	a{
 		#link-default;
 	}
}

.nav-global{
	ul{
		#reset(list);
		display: flex;
		align-items: center;		
	}
	li{
		display: inline-block;
		+ li{
			margin-left: 15px;
		}
	}
	a:not(.button){
		#link(@link-style);
	}
}

#list-links{

}

#list-links(){
 	
	// &when ((@list-style) = metro)		{	#list-metro();		}
	// &when ((@list-style) = round)		{	#list-round();		}
	// &when ((@list-style) = fullround)	{	#list-fullround();	}
	// &when ((@list-style) = gradient)	{	#list-gradient();		}
	// &when ((@list-style) = ghost)		{	#list-ghost();		}
}

