// @import "colors.less";
html{
	font-size: 62.5%;
}

@transition: 0.2s;
@radius: .4em;
@fullradius: 2em;
@space: 10px;
@font-stack: "Roboto";


@white: #fff;
@color-primary       : #2dd0c2;
@color-primary-hover : lighten(@color-primary, 10%);
@color-primary-focus : darken(@color-primary, 10%);

@color-complement : spin(@color-primary, 180);
@color-complement-hover : lighten(@color-complement, 10%);
@color-complement-focus : darken(@color-complement, 10%);
@import "semantic.less";
@import "mixins.less";
@import "buttons.less";


// Button - Pattern








// h1 {
//     font-family: "Open Sans", fontstack("Arial");
// }


// :root{
//   --color-primary: green;
//   // --color-primary-hover: lighten(var(--color-primary), 10%);
//   // --color-primary-focus: darken(var(--color-primary), 10%);
//   --color-white: #fff;
//   --bg: var(--color-primary);
// }

// [class^="btn"] {
//  display: inline-block;
//  padding: 10px 20px;
//  color: var(--color, var(--color-white));
//  background: var(--bg, var(--color-primary));
//  transition: background .2s;
// }

// [class^="btn"]:hover {
//  color: var(--bg, #000);
//  background: var(--color, var(--color-primary));
// }


// .btn-positive {
//   --bg: gold;
// }

// .btn-negative {
//   --bg: red;
// }
