// @import "colors.less";

@transition: 0.2s;
@radius: .4em;
@fullradius: 2em;
@space: 10px;
@font-stack: "Roboto";
@font-base: "Arial";
@size-base: 1.4rem;
@line-base: 2rem;

@white: #fff;
@color-primary       : #2dd0c2;
@color-primary-hover : lighten(@color-primary, 10%);
@color-primary-focus : darken(@color-primary, 10%);

@color-complement : spin(@color-primary, 180);
@color-complement-hover : lighten(@color-complement, 10%);
@color-complement-focus : darken(@color-complement, 10%);

// @import "default.less";
@import "colors.less";
@import "variables.less";
@import "semantic.less";
@import "mixins.less";
@import "buttons.less";
@import "pagination.less";


// Button - Pattern

body{
	#reset(default);
}

html{
	font-size: 62.5%;
}

#reset(@reset){
	&when ((@reset) = list){
		padding: 0;
		margin: 0;
		border: 0;
		list-style: none;
	}	
	&when ((@reset) = default){
		padding: 0;
		margin: 0;
	}	
}

.pagination{
	#reset(list);
}



// h1 {
//     font-family: "Open Sans", fontstack("Arial");
// }


// :root{
//   --color-primary: green;
//   // --color-primary-hover: lighten(var(--color-primary), 10%);
//   // --color-primary-focus: darken(var(--color-primary), 10%);
//   --color-white: #fff;
//   --bg: var(--color-primary);
// }

// [class^="btn"] {
//  display: inline-block;
//  padding: 10px 20px;
//  color: var(--color, var(--color-white));
//  background: var(--bg, var(--color-primary));
//  transition: background .2s;
// }

// [class^="btn"]:hover {
//  color: var(--bg, #000);
//  background: var(--color, var(--color-primary));
// }


// .btn-positive {
//   --bg: gold;
// }

// .btn-negative {
//   --bg: red;
// }
