// Bosons

// @import "default.less";
// @import "colors.less";
@import "resets.less";
@import "bosons/variables.less";
@import "bosons/animations.less";
@import "semantic.less";
@import "mixins.less";

// Atoms

// @import "atoms/";
@import "atoms/inputs.less";
@import "atoms/labels.less";
@import "atoms/titles.less";
@import "box.less";
@import "buttons.less";
@import "hr.less";
@import "links.less";
@import "shadows.less";
@import "hero.less";

// Molecules -

@import "molecules/forms.less";
@import "molecules/searchs.less";
@import "pagination.less";

// Organisms

// @import "organisms/";
@import "header.less";

// testas


// Button - Pattern

body{
	#reset(default);
	animation: fadein 2s;
	animation-fill-mode: forwards;
}

html{
	font-size: 62.5%;
}

.main{
	padding: 30px 0;
}

// temp

.group{
	margin: 20px auto;
	width: 600px;
	display: table;	
}

// h1 {
//     font-family: "Open Sans", fontstack("Arial");
// }


// :root{
//   --color-primary: green;
//   // --color-primary-hover: lighten(var(--color-primary), 10%);
//   // --color-primary-focus: darken(var(--color-primary), 10%);
//   --color-white: #fff;
//   --bg: var(--color-primary);
// }

// [class^="btn"] {
//  display: inline-block;
//  padding: 10px 20px;
//  color: var(--color, var(--color-white));
//  background: var(--bg, var(--color-primary));
//  transition: background .2s;
// }

// [class^="btn"]:hover {
//  color: var(--bg, #000);
//  background: var(--color, var(--color-primary));
// }


// .btn-positive {
//   --bg: gold;
// }

// .btn-negative {
//   --bg: red;
// }
