@screen-xs  : 480px; // Extra small screen / phone   
@screen-sm  : 768px; // Small screen / tablet   
@screen-md  : 992px; // Medium screen / desktop   
@screen-lg  : 1200px; // Large screen / wide desktop  
@screen-xlg : 1600px; // Extra Large screen / wide desktop 
@screen-xxlg: 1900px; // Extra Large screen / wide desktop 

// So media queries don't overlap when required, provide a maximum
@screen-xs-max : (@screen-sm   - 1);
@screen-sm-max : (@screen-md   - 1);
@screen-md-max : (@screen-lg   - 1);
@screen-lg-max : (@screen-xlg  - 1);
@screen-xlg-max: (@screen-xxlg - 1);


@font-stack: "Alice";
@primary-color: #333;


@smartphones: ~"only screen and (max-width: @screen-xs-max)";
@tablets: ~"only screen and (min-width: 480px) and (max-width: 959px)";
 
body {
  font: 62.5% @font-stack;
  color: @primary-color;
  transition: 0.2s;
  animation: animation 2s delay;
}

h1{
	font-size: 1.6rem;
	width: 1.6rem;
	@media @smartphones{
		color: #eee;
	}
	@media @tablets{
		color: #fff;
	}
}


h2{
	font-size: 1.6rem;
	width: 1.6rem;
	@media @smartphones{
		color: #eee;
	}
	@media @tablets{
		color: #fff;
	}
}



@keyframes animation {
  from {
    width: 254px;
  }
  to {
    width: 512px;
  }
}
