// colors
@white: #fff;
@black: #000;

@color-base: #444;
@color-base-light1: #e5e5e5;
@color-base-light2: #f0f0f0;
@color-base-dark1: #7f7f7f;
@color-base-dark2: #383838;


@color-primary       : #d79e45;
@color-primary-hover : lighten(@color-primary, 10%);
@color-primary-focus : darken(@color-primary, 10%);

@color-secondary : spin(@color-primary, 180);
@color-secondary-hover : lighten(@color-secondary, 10%);
@color-secondary-focus : darken(@color-secondary, 10%);





// @color-valided: #39ad0b;
// @color-invalided: #39ad0b;

// @color-default: @color-base-light2;
// @color-danger: @color-invalid;
// @color-warning: #eecc12;

// utilitys
@transition: 0.2s;
@radius: .5em;
@fullradius: 2em;
@space: 10px;


// z-index
@zindex-modal     : 9000;
@zindex-overlay   : 8000;
@zindex-dropdown  : 7000;
@zindex-header    : 6000;
@zindex-footer    : 6000;

// typografy
@font-stack: "Roboto";
@font-base: "Arial";
@size-base: 1.4rem;
@line-base: 2rem;


// custom

@button-style: gradient;


// buttons

@button-font: @font-stack;
@button-fz: @size-base;
@button-color: @white;
@button-bg: @color-primary;
@button-padding: 1rem 2rem;
@button-radius: @radius;
