@import 'ui';


.placeholder({
    color: @color-grayscale4;
    font-size: 1.6rem;
    transition: @transition;
});

:focus{
	.placeholder({
	    color: colorCurrent;
	});
}


// .selection({
//     color: #0000FF;
//     background: #000;
// });

*{
	.font-smoothing;
	font-family: @font-base;
}

html{
	font-size: 62.5%;
}

body {
	.font-base;
}

.main{
	.wrap;
}

#home&{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 66% 33%;
}

#convenio {
	display: grid;	
	grid-gap: 20px;
	grid-template-columns: 66% 33%;
}

#addPedido{
	width: 500px;
}

[ng-show]:not(.ng-hide){
	opacity: 0;
	animation: fadein .5s linear .2s 1 forwards;
}