@import 'ui';


.placeholder({
    color: @color-grayscale4;
    font-size: 1.6rem;
    transition: @transition;
});

:focus{
	.placeholder({
	    color: colorCurrent;
	});
}


// .selection({
//     color: #0000FF;
//     background: #000;
// });

*{
	.font-smoothing;
	font-family: @font-base;
}

html{
	font-size: 62.5%;
}

body {
	.font-base;
}

// Determine a largura do seu container. //
.wrap {
	width: 100%;
	max-width: 1200px; // max-width: 960px == responsivo
	// display: table;
	margin: 0 auto;
	position: relative;
	.below(@tablet , {	  
		padding: 0 10px;
	})  
}