		/* Corrigir no less */
		.search-empty {
			display: block!important;
		}
	.table .ng-scope + .search-empty {
		display: none!important;
	}

	.table td:first-child, .table th:first-child {
		padding-left: 0;
	}
	.table td, .table th{
		padding: 20px;
	}

	.table.separador td:first-child:after, .table.separador th:first-child:after {
		content: "";
		display: block;
		width: 12px;
		height: 100%;
		background-image: linear-gradient(to right, #f7f7f7, transparent);
		right: -10px;
		top: 0;
		position: absolute;
		z-index: 10;
	}

	.table td:first-child, .table th:first-child {
		position: sticky;
		background: #fff;
		z-index: 10;
		left: 0;
	}

.table{
    display: block;
    white-space: nowrap;
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 15px;    
}

.menu-contextual {
    float: right;
}

.droplist {
    position: absolute;
    padding: 30px 30px 10px;
    width: auto;
    white-space: nowrap;
    right: 0;
    z-index: 8000;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.22);
    border-radius: .3em;
    box-sizing: border-box;
    top: 30px;
    transition: .2s;
}

.dropdown{
	cursor: pointer;
}

.dropdown:before {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.droplist.open {
    opacity: 1;
    visibility: visible;
}


/* Header */
#header { 
    position: sticky;
    top: 0;
    height: 100px;
    border-bottom: 1px solid #EEEFF1;
    background-color: #FFF;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.1);
    display: flex;
    z-index: 8000;
    align-items: center;
    justify-content: space-between;
}

#header #nav-btn {
    display: block;
    float: left;
    width: 100px;
    height: 100%;
    border-right: 1px solid #EEEFF1;
    position: relative;
}

#header #nav-btn:before, #header #nav-btn:after, #header #nav-btn span { display: block; position: absolute; left: 30%; height: 3px; background-color: #545454; transition: all 300ms ease-in-out; }
#header #nav-btn:before { content: ' '; top: 37%; width: 33%; }
#header #nav-btn span { top: 49%; width: 40%; }
#header #nav-btn:after { content: ' '; top: 61%; width: 27%; }
#header #nav-btn:hover:before, #header #nav-btn:hover span, #header #nav-btn:hover:after { width: 40%; }
#header #nav-btn.active:before { transform: rotate(45deg); width: 40%; top: 50%; }
#header #nav-btn.active span { opacity: 0; }
#header #nav-btn.active:after { transform: rotate(-45deg); width: 40%; top: 50%; }
#header #logo { 
    width: 160px;
}
#header #logo svg { 
    margin: 0 30px;
}
#header #logo svg .letter { fill: #545454; transition: all 300ms ease-in-out; }
#header #logo svg .highlight { fill: #FF4B4E; }
#header #logo:hover svg .letter { fill: #FF4B4E; }
#header #alerts {
    display: block;
    width: 100px;
    height: 100%;
    border-left: 1px solid #EEEFF1;
    background: transparent url(../assets/img/ico-alert.png) no-repeat center center;
    position: relative;
    transition: all 300ms ease-in-out;
    margin-left: auto;
}
#header #alerts:hover { background-color: #EEEFF1; }
#header #alerts.has-alerts:after { content: ' '; display: block; width: 10px; height: 10px; border-radius: 50%; background-color: #FF4B4E; position: absolute; top: 50%; left: 50%; transform: translate(100%, -200%); }
#header #user-block {
    border-left: 1px solid #EEEFF1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 370px;
    height: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}
#header #user-block .avatar {width: 60px;height: 60px;border-radius: 50%;overflow: hidden;}
#header #user-block .avatar img { display: block; width: 100%; }
#header #user-block .info {}
#header #user-block .info .name { font-size: 18px; line-height: 1; color: #545454; margin-bottom: 5px; }
#header #user-block .info .role { font-size: 14px; color: #9A9A9A; }
#header #user-block #user-btn {display: block;width: 60px;height: 60px;position: relative;}
#header #user-block #user-btn:before, #header #user-block #user-btn:after, #header #user-block #user-btn span { content: ' '; display: block; position: absolute; top: 50%; width: 5px; height: 5px; border-radius: 50%; background-color: #FF4B4E; transition: all 300ms ease-in-out; transform: translateY(-50%); }
#header #user-block #user-btn:before { left: calc(50% - 10px); }
#header #user-block #user-btn span { left: 50%; }
#header #user-block #user-btn:after { left: calc(50% + 10px); }
#header #user-block #user-btn:hover:before, #header #user-block #user-btn:hover:after, #header #user-block #user-btn:hover span { background-color: #545454; }


/* Main navigation */
#main-navigation { width: 100px; height: ~'calc(100% - 100px)'; border-right: 1px solid #EEEFF1; position: fixed; z-index: 12; top: 100px; left: 0; background-color: #FFF; box-shadow: 0 5px 50px rgba(0, 0, 0, 0.1); display: flex; flex-direction: column; flex-wrap: wrap; justify-content: center; align-items: left; transition: all 300ms ease-in-out; overflow: hidden; }
#main-navigation.open { width: 280px; }
#main-navigation a { display: block; width: 280px; height: 40px; margin: 20px 30px; overflow: hidden; transition: all 300ms ease-in-out; }
#main-navigation a:hover { opacity: 0.7; }
#main-navigation a .ico { display: block; float: left; width: 40px; height: 40px; margin-right: 30px; background: transparent no-repeat center center; background-size: contain; }
#main-navigation a .ico.ico-pedidos { background-image: url(../assets/img/ico-pedidos.png); }
#main-navigation a .ico.ico-pacientes { background-image: url(../assets/img/ico-pacientes.png); }
#main-navigation a .ico.ico-medicos { background-image: url(../assets/img/ico-medicos.png); }
#main-navigation a .ico.ico-exames { background-image: url(../assets/img/ico-exames.png); }
#main-navigation a .ico.ico-coleta { background-image: url(../assets/img/ico-coleta.png); }
#main-navigation a .ico.ico-resultados { background-image: url(../assets/img/ico-resultados.png); }
#main-navigation a .ico.ico-prazos { background-image: url(../assets/img/ico-prazos.png); }
#main-navigation a .ico.ico-soroteca { background-image: url(../assets/img/ico-soroteca.png); }
#main-navigation a .label { display: block; float: left; margin-top: 10px; }

.menu-contextual .dropdown:before {
    content: "\f142";
}
.menu-contextual li {
    margin-bottom: 15px;
    font-size: 1.4rem;
}

.menu-contextual .dropdown {
    color: green;
    font-size: 1.6rem;
    border-radius: .3em .3em 0 0;
    box-sizing: border-box;
    padding: 15px 22px 5px 22px;
    position: relative;
    background: #fff;
    display: block;
    position: absolute;
    right: 0px;
    top: -6px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0);
    transition: .2s;
}

.menu-contextual .dropdown:after {
    content: "";
    display: block;
    position: absolute;
    width: 58px;
    height: 6px;
    background: #fff;
	right: 0px;
	bottom: -4px;
}

.menu-contextual .dropdown.open {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.22);
}



.card-select{    

    input[type=radio], input[type=checkbox]{
        display: none;
        &:checked + label{
            border-color: @color-primary;
        }
    }
    
    label {
        .card;
        display: block;
        height: 100%;
        &:not(section):active{
            box-shadow: 0 0px 7px -6px #e3e6e8;
            border-color: @color-primary;
        }    
        &:not(section):hover{
            
        }        
    }

    p{
        .incomplet-text;
    }

    .card-options{
        opacity: 0;
        transition: @transition;
        padding-left: 5px;
        :hover&{
            opacity: 1;
        }
    }

}

.convenios{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, minmax(auto, ~'calc(100%/4)'));
    > div {
        &:first-child {
            grid-column-end: span 2;
            grid-row-end: span 2;
        }        
        &:last-child {
            grid-column-end: span 2;
        }

    }
}

.plano-numero {
    color: @color-primary;
    font-size: 1.6rem;
}

.plano-tipo {
    font-size: 1.6rem;
}

.convenios>div:not(:first-child) .plano-tipo {
    display: none;
}

.convenios>div:first-child .card-content {
    display: flex;
    justify-content: stretch;
    flex-direction: column;
}

.slidemenu {
    transition: @transition;
    .card;
    position: fixed;
    width: 300px;
    top: 121px;
    right: -320px;    
    &.open {
        right: 0;
    }
}

