/*
Site Name: Portal Ipi
Site URI: http://ipilon.org.br/
Author: Z3 Web
Author URI: http://www.z3web.com.br

IDE: Sublime Text 2, FileZilla, Photoshop
Development: Html5, CSS3, Jquery, LESS, Semantic.gs, Grunt.js
*/

// Base
@import "visibility.less";
// @import "_semantic.less"; 			// Framework Grid
@import "_variables.less"; 			// Global Customization
@import "_mixins.less"; 			// Resouces Less
@import "_colors.less";				// Pallet Colors - Variables and Mixins
@import "_types.less";				// Typography
@import "x-grid.less";				// Grid Experimental
@import "supergrid.less";			// Grid

// Atoms
// @import "headings.less";
// @import "links.less";
@import "buttons.less";
@import "tooltips.less";
@import "forms.less";
@import "messages.less";
// @import "titles.less";

// Molecules
// @import "navigation.less";
// @import "pagination.less";
// @import "breadcrumb.less";
@import "slider.less";
// @import "modal.less";
// @import "search-bar.less";

// Organisms
// @import "header.less";
// @import "footer.less";

// Template
@import "template.less";				// Geral Grid
@import "template-helper.less";			// Geral Grid

// Pages - Exceptions
// @import "articles.less";
// @import "contato.less";