/*
Site Name: Start Boilerplate
Site URI: https://github.com/alexmfs/start/
Author: Alex Machado Farias
Author URI: https://github.com/alexmfs

IDE: Sublime Text 2, FileZilla, Photoshop
Development: Html5, CSS3, Jquery, LESS, Semantic.gs, Grunt.js, Bower.js

*/

// Base
@import "_base/animations.less";
@import "_base/colors.less";
@import "_base/embeds.less";
@import "_base/mixins.less";
@import "_base/semantic.less";
@import "_base/shadows.less";
@import "_base/grid.less";
@import "_base/types.less";
@import "_base/utilitys.less";
@import "_base/variables.less";
@import "_base/visibility.less";
// @import "_base/x-grid.less";

// Atoms
@import "atoms/_undefined.less";
@import "atoms/buttons.less";
@import "atoms/figures.less";
@import "atoms/inlines.less";
@import "atoms/inputs.less";
@import "atoms/titles.less";
@import "atoms/tooltips.less";
@import "atoms/messages.less";
// @import "atoms/headings.less";
// @import "atoms/links.less";				// analisar
@import "atoms/inlines.less";
// @import "atoms/maps.less";				// analisar
// @import "atoms/svg.less";				// analisar
// @import "atoms/shapes.less";				// fila de desenvolvimento

// Molecules
@import "molecules/accordion.less";
@import "molecules/breadcrumb.less";
@import "molecules/forms.less";
@import "molecules/navigation.less";
// @import "molecules/lists.less";			// analisar
@import "molecules/pagination.less";
// @import "molecules/changegrid.less";
// @import "molecules/modal.less";
// @import "molecules/gallery.less";
// @import "molecules/products.less"
@import "molecules/newsletter.less";


// Organisms
@import "organisms/headers.less";
@import "organisms/footer.less";
// @import "organisms/search-bar.less";
// @import "organisms/articles.less";
@import "organisms/slider.less";

// Template
@import "templates/template.less";
@import "templates/template-helper.less";
@import "templates/print.less";
@import "templates/ie-mordenizr.less";
@import "templates/error-cake.less";

// Pages - Exceptions
// @import "pages.less";
