// Mixin Font Face ----------------------------------------- */


	#font-face(@family-name, @family-variation, @weight, @style:normal) {

		@base-url: "fonts/";

		font-family: @family-name;
		src: url("@{base-url}@{family-name}-@{family-variation}-webfont.eot");
		src: url("@{base-url}@{family-name}-@{family-variation}-webfont.eot?#iefix") format('embedded-opentype'),
			 url("@{base-url}@{family-name}-@{family-variation}-webfont.woff") format('woff'),
			 url("@{base-url}@{family-name}-@{family-variation}-webfont.ttf") format('truetype'),
			 url("@{base-url}@{family-name}.svg#@{family-name}") format('svg');
		font-weight: @weight;
		font-style: @style;
	}

/* Basic font project -------------------------------------- */


	/* Font Face */

	@font-base: "Opensans"; // Customize here

	@font-face {#font-face("@{font-base}", regular, 200);}
	@font-face {#font-face("@{font-base}", bold, 400);}

	// Parametric mixins
	#family-base(){
		font-family: "@{font-base}", Fallback, sans-serif;
	}
	#font-base(@string, @size, @line){
		@remSize: @size;
		@remline: @line;
		@pxSize: (@size * 10);
		@pxline: (@line * 10);
		/*Pixel value Fallback*/
		font: @string ~"@{pxSize}px/@{pxline}px @{font-base}", Fallback, sans-serif;
		/*Rem value*/
		font: @string ~"@{remSize}rem/@{remline}rem @{font-base}", Fallback, sans-serif;
	}

	// Fonts Base
	.font-base(@string, @size, @line){
		#font-base(@string, @size, @line);
	}


/* Spotlight font project --------------------------------- */


	@font-spotlight: "SupeFontName"; // Customize here

	/* Font Face */
	@font-face {#font-face("@{font-spotlight}", regular, 200);}
	@font-face {#font-face("@{font-spotlight}", bold, 200, bold);}

	// Parametric mixins
	#family-spotlight(){font-family: "@{font-spotlight}", Fallback, sans-serif;}

	#font-spotlight(@string, @size, @line){
		@remSize: @size;
		@remline: @line;
		@pxSize: (@size * 10);
		@pxline: (@line * 10);
		/*Pixel value Fallback*/
		font: @string ~"@{pxSize}px/@{pxline}px @{font-spotlight}", Fallback, sans-serif;
		/*Rem value*/
		font: @string ~"@{remSize}rem/@{remline}rem @{font-spotlight}", Fallback, sans-serif;
	}

	.font-special(@string, @size, @line){
		#font-spotlight(@string, @size, @line);
	}


body{
  	font-style: normal;
  	font-weight: 200;
  	font-size: 62.5%;
}
b, strong{
	font-weight: 400;
	font-family: inherit;
}
i, em{
  	font-style: italic;
  	font-weight: 200;
  	font-family: inherit;
}

// How to use

// .yourclass{
// 	.font-especial;
// }

p, span, a, li, .text-base{
	.font-base(normal, 1.3, 1.5);
	.color-base;
}
a:hover{
	text-decoration: underline;
}
p{
	margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6{
	.color-primary;
}
