// Breadcrumb
// Version: 1.0.1
// Date: 07/04/2014
// Last Update: 07/04/2014

.breadcrumb-container{
	.wrap;
	padding: 0 1.04166667%;
}
.breadcrumb{
	display: table;
	margin: 0 auto;
	float: @breadcrumb-position;
	li, a{
		text-transform: @breadcrumb-text-transform;
		&:first-letter,
		&::first-letter {
			text-transform: uppercase;
		}
	}
	li{
		float: left;
		font: @breadcrumb-font;
		&:before{
			content:"/";
			display: block;
			margin:0px 8px;
			float: left;
			color: @breadcrumb-arrows-color;
		}
		&:first-child{
			&:before{
				content: none;
			}
		}
	}
	a{
		display: block;
		float: left;
		color: @breadcrumb-a-color;
		&:hover{
			background: @breadcrumb-a-hover;
		}
	}
	.active{
		color: @breadcrumb-a-active-color;
	}
}