/*=============================
=            Forms            =
=============================*/

form {
	// display: table;
	margin: 5px 0px;
}
fieldset {
	margin-bottom: 3px;
}
legend{
	color: @legend-color;
	background: @legend-background;
	display: block;
	font: 14px/@input-height @bold;
	text-indent: 15px;
	width: 100%;
	height: @input-height;
	margin-bottom: 5px;
	.border-box;
}
label {
	display: block;
	height: @label-heigth;
	background: @label-background;
	color: @label-color;
}
input, textarea, select, option{
	// margin: 0px 5px 5px 0px;
	margin: 0px 5px 10px 0px;
	.border-radius(5px);
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="password"],
input[type="number"],
input[type="url"],
input[type="datetime"]{
	height: @input-height;
	color: @input-color;
	background: @input-background;
	box-shadow: inset 1px 1px 3px 0px darken(@input-background, 20%);
	border: none;
	text-indent: 10px;
	width: 100%;
	// margin: 5px 0px;
	margin: 2px 0 10px;
	&:focus{
		outline: 2px solid darken(@input-background, 20%);
	}
}

input[type="search"]:focus{
	outline: 2px solid darken(@input-background, 20%);
}

textarea {
	width: 100%;
	height: 100px;
	color: @textarea-color;
	background: @textarea-background;
	box-shadow: inset 1px 1px 3px 0px darken(@textarea-background, 20%);
	border: none;
	padding: 10px;
	resize: none;
	.border-box;
	&:focus{
		outline: 2px solid darken(@textarea-background, 20%);
	}
}

select, option{
	width: 100%;
	height: @select-height;
	color: @select-color;
	background: @select-background;
	box-shadow: inset 1px 1px 3px 0px darken(@select-background, 20%);
	border: none;
	outline: none;
	text-indent: 10px;
	// margin-bottom: 5px;
	&:focus{
		outline: 2px solid darken(@select-background, 20%);
	}
}
.select {
	height: @input-height;
	background: @input-background url(../img/select-box.png) no-repeat right;
	position: relative;
	z-index: 5;
}
.select select{
	background: transparent;
	width: 100%;
	border: 0;
	border-radius: 0;
	box-shadow:none;
	-webkit-appearance: none;
   	-moz-appearance:    none;
   	appearance:         none;
}
option{
	-webkit-appearance: none;
   	-moz-appearance:    none;
   	appearance:         none;
   	&:hover{
   		background: #000;
   	}
}
.checkbox, .radio {
	label{
		// display: block;
	    cursor: pointer;
	    position: relative;
		margin-bottom: 5px;
		color: @input-color;
	    :before {
		    .border-radius(3px);
		}
	}
	input[type=checkbox], input[type=radio] {
	    display: none;
	}
	input[type=checkbox] + label:before,
	input[type=radio] + label:before {
	    content: "";
		// color: @cor13;
		// text-shadow: inset 1px 1px 1px @cor13;
		-webkit-box-shadow: inset 1px 1px 3px 0px darken(@input-background, 20%);
		box-shadow: inset 1px 1px 3px 0px darken(@input-background, 20%);
		background: @input-background;
		text-align: center;
		display: block;
		float: left;
		width: 15px;
		height: 15px;
		margin-right: 5px;
		.border-radius(3px);
	}
	input[type=radio] + label:before{
		.border-radius(10px);
	}
}
.checkbox input[type=checkbox]:checked + label:before {
	    content: "\2714";
}
.radio input[type=radio]:checked + label:before {
	    content: "\25CF";
}

/*==========  Personalizacao dos atributos dos formularios  ==========*/

input:disabled{
	box-shadow: none;
	background: desaturate(lighten(@input-background, 5%), 50%);
	cursor: no-drop;
}

/*==========  Placeholder  ==========*/
::-webkit-input-placeholder {color: @input-color;}
:-moz-placeholder {color: @input-color;}/* Firefox 18- */
::-moz-placeholder {color: @input-color;}/* Firefox 19+ */
:-ms-input-placeholder {color: @input-color;}/* Firefox 19+ */

input.invalido{}
input.invalido::-webkit-input-placeholder {}
input.invalido:-moz-placeholder {}/* Firefox 18- */
input.invalido::-moz-placeholder {}/* Firefox 19+ */
input.invalido:-ms-input-placeholder {}/* Firefox 19+ */

/* Ie8 */
.placeholder { color: @input-color; }
.invalido.placeholder {}