// Pagination
// Version: 1.0.1
// Date: 07/04/2014
// Last Update: 07/04/2014

.pagination{
	display: table;
	margin: 0 auto 10px;
	li{
		float: left;
	}
	a{
		display: block;
		padding: 5px;
		border: @pagination-a-border;
		background: @pagination-a-background;
		color: @pagination-a-color;
		&:hover{
			background: @pagination-a-background-hover;
		}
	}
	.prev{
		a{
			.border-radius(8px 0px 0px 8px);
		}
	}
	.next{
		a{
			.border-radius(0px 8px 8px 0px);
		}
	}
	.disabled{
		a{
			background: @pagination-a-disable-background;
			color: @pagination-a-disable;
		}
		&:first-child{
			a{
				.border-radius(8px 0px 0px 8px);
			}
		}
		&:last-child{
			a{
				.border-radius(0px 8px 8px 0px);
			}
		}
	}
	.active{
		a{
			background: @pagination-a-active-background;
			color: @pagination-a-active;
			border: @pagination-a-active-border;
		}
	}
}