.seo-helper () {
	img:not([alt]), img[alt=""], img[alt^=" "], a[href=""], a[href^=" "], a[rel*="nofollow"] {
		outline: 2px solid red !important;
		outline-offset: 3px !important;
		&:hover:after{
			position: absolute;
			top:0;
			left: 0;
			background: rgba(0, 0, 0, 0.70);
			width: 100%;
			height: 50px;
			text-align: center;
			color: #fff;
			font: 15px/50px Arial;
		}
	}
	a[href=""]{
		&:hover:after{
			content: "[SEO Helper] O Href está vazio!"
		}
	}
	a[href^=" "]{
		&:hover:after{
			content: "[SEO Helper] O Href está iniciando com um caracetere vazio"
		}
	}
	a[rel*="nofollow"]{
		&:hover:after{
			content: "[SEO Helper] rel=nofollow"
		}
	}
	head, title:empty, link, meta {display: block;}
	title:empty:before {content: "You've left the <title> empty!"}
	link:before {content: "You don't have a <title>!"}
	title ~ link {display: none;}
	meta[name="description"][content=""]:before, meta[name="description"][content=" "]:before {content: "You've left description empty!";}
}

html{
	.seo-helper();
}