// Utilitys Classes
// Version: 1.0.1
// Date: 01/09/2014
// Last Update: 01/098/2014

.left{
	float: left !important;
	&-align{
		text-align: left !important;
	}
}

.right{
	float: right !important;
	&-align{
		text-align: right !important;
	}
}

.center{
	margin: 0 auto;
	&-align{
		text-align: center !important;
	}
}

.hide {
	display: none;
}
