////////* Fonts *////////

@regular: Arial;
@light: NAME-FONT;
@bold: NAME-FONT;
@semibold: NAME-FONT;
@extrabold: NAME-FONT;
@italic: NAME-FONT;
@italicsemibold: NAME-FONT;
@italicbold: NAME-FONT;

////////* Colors Palette *////////
@color0: #fff;		// branco
@color1: #fff; 		// branco
@color2: #5e87b0; 	// azul base
@color3: #063184; 	// azul destaque
@color4: #f5f6f6; 	// cinza claro
@color5: #6a6a6a; 	// cinza escuro
@color6: #dddddd; 	// cinza medio
@color7: #c1c1c1; 	// cinza medio
@color8: #a8bc7b;	// verde
@color9: #f0ad4e;	// laranja


////////* Global *////////

@body-background: @color4;
@body-font: @regular;

////////* Forms.less *////////

@label-heigth: 28px;
@label-color: @color5;
@label-background: inherit;

@input-height: 32px;
@input-color: @color5;
@input-background: @color1;

@input-submit-color: @color1;

@select-height: 32px;
@select-color: @color5;
@select-background: @color1;

@legend-color: @color1;
@legend-background: @color1;

@textarea-color: @color5;
@textarea-background: @color1;

@border-color: @color1;

////////* Border *////////
@border-color: @color3;
@border-radius: 5px;

////////* Buttons.less *////////

@button-text-transform: inherit; // [ uppercase / lowercase / inherit ]
@button-border: none; // [ $px $style @color$ / none ]
@button-color: @color1;

// Modal Centralizado
@modal-largura: 960px;
@modal-altura: 550px;

//
// Molecules
//

////////* Pagination *////////

@pagination-a-color: @color2;
@pagination-a-hover: @color4;
@pagination-a-background: @color1 ;
@pagination-a-background-hover: @color4;

@pagination-a-active: @color1;
@pagination-a-active-background: @color2;
@pagination-a-active-border: 1px solid @color2;

@pagination-a-disable: @color6;
@pagination-a-disable-background: @color1;

@pagination-a-border: 1px solid @color7;


////////* Breadcrumb *////////
@breadcrumb-position: right; // [ left / none (center) / right ]

@breadcrumb-a-color: @color2;
@breadcrumb-a-hover: @color4;
@breadcrumb-a-active-color: @color7;

@breadcrumb-arrows-color: @color5;
@breadcrumb-font: 14px @regular;
@breadcrumb-text-transform: lowercase; // [ uppercase / lowercase / inherit ]