



@media @mobile{
	.visible-mobile{display: block;}
	.visible-tablet{display: none;}
	.visible-desktop{display: none;}
	.hidden-mobile{display: none;}
}

@media @tablet{
	.visible-mobile{display: none;}
	.visible-tablet{display: block;}
	.visible-desktop{display: none;}
	.hidden-tablet{display: none;}
}

@media @desktop{
	.visible-mobile{display: none;}
	.visible-tablet{display: none;}
	.visible-desktop{display: block;}
	.hidden-desktop{display: none;}
}
